<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita/gerenciar-grandes-eventos"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciar inscrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="subscription$ | async as subscription; else: loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ (userData$ | async)?.fullName || (userData$ | async)?.displayName }} - {{ subscription.payment.price |
          currency:'BRL':'symbol':'1.2-2' }}
        </ion-card-title>
        <!-- prettier-ignore -->
        <ion-card-subtitle>
          Se inscreveu em: {{ dateService.getDateFromTimestamp(subscription.time) | date:'dd/MM/yy - HH:mm' }}
          <br />
          Última alteração na inscrição: {{ dateService.getDateFromTimestamp(subscription.payment.time) | date:'dd/MM/yy - HH:mm' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="eventsUserIsSubscribedTo$ | async as subEventsInfo; else loading">
          <ng-container *ngIf="subEventsInfo.length != 0">
            <ng-container *ngFor="let subEventInfo of subEventsInfo">
              <div style="margin-bottom: 24px">
                <ion-text [color]="subEventInfo.slotsAvailable? '' : 'danger'">
                  <p>{{ subEventInfo.name }}: {{ subEventInfo.slotsAvailable }} vagas disponíveis.</p>
                  <p>
                    {{ dateService.getDateFromTimestamp( subEventInfo.eventStartDate ) | date:'dd/MM/yy - HH:mm'}} - {{
                    dateService.getDateFromTimestamp( subEventInfo.eventEndDate ) | date:'HH:mm'}}
                  </p>
                  <p>{{ subEventInfo.id }}</p>
                </ion-text>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header><ion-card-title>Presenças do usuário</ion-card-title></ion-card-header>

      <ng-container *ngFor="let attendance of eventsUserAttended">
        <ion-card-content>
          <ion-text color="success">
            <ion-icon name="checkmark-circle-outline" class="alert-icon" aria-hidden="true"></ion-icon>
            <span class="alert-text"> O usuário compareceu ao evento {{ attendance }}. </span>
          </ion-text>
        </ion-card-content>
      </ng-container>

      <ng-container *ngFor="let attendance of eventsUserAttendedNotPaying">
        <ion-card-content>
          <ion-text color="danger">
            <ion-icon name="warning-outline" class="alert-icon" aria-hidden="true"></ion-icon>
            <span class="alert-text"> O usuário não pagou a inscrição para o evento {{ attendance }}. </span>
          </ion-text>
        </ion-card-content>
      </ng-container>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="ion-padding">
          <h2>Gerenciar inscrição</h2>
          <ion-button color="danger" (click)="deleteSubscriptionAlert()">
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Deletar inscrição</ion-label>
          </ion-button>
          <p>Deleta a inscrição e libera a vaga dos eventos</p>
        </div>

        <ng-container *ngIf="subscription.payment.status === 2">
          <div class="ion-padding">
            <h2>Para inscrições com comprovante já validado</h2>
            <ion-button color="danger" (click)="forceSubscriptionEdit()">
              <ion-icon name="pencil" slot="start"></ion-icon>
              <ion-label>Exigir edição dos eventos, mantendo comprovante enviado</ion-label>
            </ion-button>
            <p>Deleta todas as inscrições e libera a vaga dos eventos</p>
          </div>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>
