.img-container {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 500px) {
    width: 75%;
  }

  @media (min-width: 625px) {
    width: 50%;
  }

  @media (min-width: 900px) {
    max-width: 300px;
  }
}

.alert-text {
  display: inline;
  vertical-align: middle;
  font-size: 15px;
}

.alert-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
