<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas inscrições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2022</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Aguardando o pagamento e envio do comprovante </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button>
            <ion-icon slot="start" name="cash"></ion-icon>
            Efetuar pagamento
          </ion-button>
          <ion-button>
            <ion-icon slot="start" name="paper-plane"></ion-icon>
            Enviar comprovante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2022</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Comprovante enviado em 10/10/2022 - 10:00
      <br />
      Aguardando confirmação do pagamento pelos organizadores do evento
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2022</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Inscrição realizada
      <br />
      Pagamento confirmado em 10/10/2022 - 10:00
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">SECOMPP 2022</ion-card-title>
      <ion-card-subtitle color="danger">Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="danger"><b>Erro no pagamento:</b> mensagem personalizada </ion-text></ion-card-content
    >

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger">
            <ion-icon slot="start" name="paper-plane"></ion-icon>
            Reenviar comprovante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">SECOMPP 2022</ion-card-title>
      <ion-card-subtitle color="danger">Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="danger">
        <b>Não foi possível concluir a sua inscrição</b>
        <br />
        Não há mais vagas disponíveis em uma das que você selecionou
        <br />
        Para continuar, altere a seleção
      </ion-text>
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger">
            <ion-icon slot="start" name="pencil-outline"></ion-icon>
            Alterar inscrição
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2021</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="secondary">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            Listar certificados
          </ion-button>
          <ion-button color="secondary">
            <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
            Mais informações
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ng-container *ngIf="subscriptions$ | async as subscriptions">
    <ng-container *ngIf="subscriptions.length === 0">
      <ion-text>Você não possui inscrições</ion-text>
    </ng-container>

    <ion-list>
      <ion-card *ngFor="let subscription of subscriptions">
        <ng-container *ngIf="subscription.majorEvent | async as majorEventData">
          <ng-container *ngIf="subscription.userData | async as referenceData">
            <ion-card-header>
              <ion-card-title>{{majorEventData.name}}</ion-card-title>
              <ion-card-subtitle>
                <ng-container [ngSwitch]="referenceData.subscriptionType">
                  <ng-container *ngSwitchCase="0">
                    Aluno da Unesp - {{referenceData.payment.price | currency: 'R$'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="1">
                    Aluno de outras IES - {{referenceData.payment.price | currency: 'R$'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="2">
                    Professor e/ou profissional - {{referenceData.payment.price | currency: 'R$'}}
                  </ng-container>
                  <h1 *ngSwitchDefault>Tipo de inscrição inválido</h1>
                </ng-container>
              </ion-card-subtitle>
            </ion-card-header>
          </ng-container>

          <ng-container *ngIf="subscription.userData | async as referenceData">
            <h1>Status do pagamento: {{ referenceData.payment.status }}</h1>
          </ng-container>
        </ng-container>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>
