<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas inscrições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="subscriptions$ | async as subscriptions">
    <ng-container *ngIf="subscriptions.length === 0">
      <ion-text>Não há inscrições</ion-text>
    </ng-container>

    <ion-list>
      <ion-card *ngFor="let subscription of subscriptions">
        <ng-container *ngIf="subscription.majorEvent | async as majorEventData">
          <h1>Nome do MajorEvent: {{ majorEventData.name }}</h1>
        </ng-container>

        <ng-container *ngIf="subscription.userData | async as referenceData">
          <h1>Status do pagamento: {{ referenceData.payment.status }}</h1>
        </ng-container>
      </ion-card>
    </ion-list>
  </ng-container>
  <!--  <ng-container *ngIf="paymentsList as items; else: loading">
    <ng-container *ngIf="items.length === 0">
      <ion-text>Não há pagamentos</ion-text>
    </ng-container>


      <ion-card *ngFor="let item of items;">
      <ion-card-header>
        <ng-container *ngIf="(item.majorEvent | async) as majorEvent"> 
          <ion-card-title>{{ majorEvent.name }}</ion-card-title>
          <ion-card-subtitle *ngIf="item.enrollmentType">
            {{ majorEvent.price[item.enrollmentType] / 100 | currency:'BRL' }}
          </ion-card-subtitle>
        </ng-container>
      </ion-card-header>

      <ion-card-content>
        <p>Data de inscrição: {{ getDateFromTimestamp(item.enrollmentDate) | date: "dd/MM/y - HH:mm" }}</p>
        <ng-container *ngIf="!item.receiptUploaded;">
          <p>Pagamento pendente</p>
          <ng-container *ngIf="item.errorMessage;">
            <p>Erro na confirmação do pagamento: {{ item.errorMessage }}</p>
          </ng-container>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button [routerLink]="'./pagar/' + item.id">
                  <ion-icon slot="start" name="cash"></ion-icon>
                  Efetuar pagamento
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button [routerLink]="'./pagar/' + item.id">
                  <ion-icon slot="start" name="paper-plane"></ion-icon>
                  Enviar comprovante
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-container *ngIf="item.paid;">
          <p>Pagamento confirmado</p>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated style="width: 200px"> </ion-skeleton-text></ion-card-title>
        <ion-card-subtitle><ion-skeleton-text animated style="width: 50px"> </ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text animated style="width: 150px"> </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-template> 
-->

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2022</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Aguardando o pagamento e envio do comprovante </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button>
            <ion-icon slot="start" name="cash"></ion-icon>
            Efetuar pagamento
          </ion-button>
          <ion-button>
            <ion-icon slot="start" name="paper-plane"></ion-icon>
            Enviar comprovante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2022</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Comprovante enviado em 10/10/2022 - 10:00
      <br />
      Aguardando confirmação do pagamento pelos organizadores do evento
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2022</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Inscrição realizada
      <br />
      Pagamento confirmado em 10/10/2022 - 10:00
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">SECOMPP 2022</ion-card-title>
      <ion-card-subtitle color="danger">Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="danger"><b>Erro no pagamento:</b> mensagem personalizada </ion-text></ion-card-content
    >

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger">
            <ion-icon slot="start" name="paper-plane"></ion-icon>
            Reenviar comprovante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">SECOMPP 2022</ion-card-title>
      <ion-card-subtitle color="danger">Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="danger">
        <b>Não foi possível concluir a sua inscrição</b>
        <br />
        Não há mais vagas disponíveis em uma das que você selecionou
        <br />
        Para continuar, altere a seleção
      </ion-text>
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger">
            <ion-icon slot="start" name="pencil-outline"></ion-icon>
            Alterar inscrição
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECOMPP 2021</ion-card-title>
      <ion-card-subtitle>Aluno da Unesp - R$ 10,00</ion-card-subtitle>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="secondary">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            Listar certificados
          </ion-button>
          <ion-button color="secondary">
            <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
            Mais informações
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
