<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas inscrições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #waitingPayment let-majorEventData="majorEventData" let-subscriptionData="subscriptionData">
    <ion-card>
      <ng-container
        *ngTemplateOutlet="ionCardHeader; context: {title: majorEventData.name, subType: subscriptionData.subscriptionType, price: subscriptionData.payment.price, color: ''}">
      </ng-container>
      <ng-container *ngIf="isInTheSubscriptionPeriod(majorEventData.subscriptionEndDate); else outOfDate">
        <ion-card-content> Aguardando o pagamento e envio do comprovante</ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="goToPaymentPage(majorEventData.id)">
                <ion-icon slot="start" name="cash"></ion-icon>
                Efetuar pagamento
              </ion-button>
              <ion-button (click)="goToPaymentPage(majorEventData.id)">
                <ion-icon slot="start" name="paper-plane"></ion-icon>
                Enviar comprovante
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-card>
  </ng-template>

  <ng-template #waitingConfirmation let-majorEventData="majorEventData" let-subscriptionData="subscriptionData">
    <ion-card>
      <ng-container
        *ngTemplateOutlet="ionCardHeader; context: {title: majorEventData.name, subType: subscriptionData.subscriptionType, price: subscriptionData.payment.price, color: ''}">
      </ng-container>

      <ion-card-content>
        Comprovante enviado em {{getDateFromTimestamp(subscriptionData.payment.time) | date: 'dd/MM/yyyy — HH:mm'}}
        <br />
        Aguardando confirmação do pagamento pelos organizadores do evento
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ng-template #paymentConfirmed let-majorEventData="majorEventData" let-subscriptionData="subscriptionData">
    <ion-card>
      <ng-container
        *ngTemplateOutlet="ionCardHeader; context: {title: majorEventData.name, subType: subscriptionData.subscriptionType, price: subscriptionData.payment.price, color: ''}">
      </ng-container>

      <ion-card-content>
        Inscrição realizada
        <br />
        Pagamento confirmado em {{getDateFromTimestamp(subscriptionData.payment.time) | date: 'dd/MM/yyyy — HH:mm'}}
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ng-template #paymentError let-majorEventData="majorEventData" let-subscriptionData="subscriptionData">
    <ion-card>
      <ng-container
        *ngTemplateOutlet="ionCardHeader; context: {title: majorEventData.name, subType: subscriptionData.subscriptionType, price: subscriptionData.payment.price, color: 'danger'}">
      </ng-container>
      <ion-card-content>
        <ion-text color="danger">
          <b>Erro no pagamento:</b>
          {{ subscriptionData.payment.error || 'Não foi possível confirmar o pagamento. Tente novamente.' }}
        </ion-text>
      </ion-card-content>

      <ng-container *ngIf="isInTheSubscriptionPeriod(majorEventData.subscriptionEndDate); else outOfDate">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="danger" (click)="goToPaymentPage(majorEventData.id)">
                <ion-icon slot="start" name="paper-plane"></ion-icon>
                Reenviar comprovante
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-card>
  </ng-template>

  <ng-template #eventFull let-majorEventData="majorEventData" let-subscriptionData="subscriptionData">
    <ion-card>
      <ng-container
        *ngTemplateOutlet="ionCardHeader; context: {title: majorEventData.name, subType: subscriptionData.subscriptionType, price: subscriptionData.payment.price, color: 'danger'}">
      </ng-container>

      <ion-card-content>
        <ion-text color="danger">
          <b>Não foi possível concluir a sua inscrição</b>
          <br />
          Não há mais vagas disponíveis no evento selecionado.
          <br />
          Para continuar, altere sua inscrição.
        </ion-text>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- TODO: redirect to a page to change the subscription -->
            <ion-button color="danger">
              <ion-icon slot="start" name="pencil-outline"></ion-icon>
              Alterar inscrição
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <ng-template #pastEvent let-majorEventData="majorEventData" let-subscriptionData="subscriptionData">
    <ion-card>
      <ng-container
        *ngTemplateOutlet="ionCardHeader; context: {title: majorEventData.name, subType: subscriptionData.subscriptionType, price: subscriptionData.payment.price, color: 'medium'}">
      </ng-container>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="secondary">
              <!-- #TODO: Redirect to a page where the users can get theirs certificates -->
              <ion-icon slot="start" name="document-text-outline"></ion-icon>
              Listar certificados
            </ion-button>
            <ng-container *ngIf="majorEventData.button && majorEventData.button.url">
              <ion-button color="secondary" (click)="openUrl(majorEventData.button.url)">
                <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
                Mais informações
              </ion-button>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <ng-container *ngIf="subscriptions$ | async as subscriptions">
    <ng-container *ngIf="subscriptions.length === 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nenhuma inscrição encontrada</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>

    <ion-list *ngFor="let subscription of subscriptions">
      <ng-container *ngIf="subscription.majorEvent | async as majorEventData">
        <ng-container *ngIf="subscription.userData | async as subscriptionData">
          <ng-container [ngSwitch]="getCardType(majorEventData, subscriptionData)">
            <div *ngSwitchCase="-1">
              <ng-container
                *ngTemplateOutlet="pastEvent; context: {majorEventData: majorEventData, subscriptionData: subscriptionData}">
              </ng-container>
            </div>
            <div *ngSwitchCase="0">
              <ng-container
                *ngTemplateOutlet="waitingPayment; context: {majorEventData: majorEventData, subscriptionData: subscriptionData}">
              </ng-container>
            </div>
            <div *ngSwitchCase="1">
              <ng-container
                *ngTemplateOutlet="waitingConfirmation; context: {majorEventData: majorEventData, subscriptionData: subscriptionData}">
              </ng-container>
            </div>
            <div *ngSwitchCase="2">
              <ng-container
                *ngTemplateOutlet="paymentConfirmed; context: {majorEventData: majorEventData, subscriptionData: subscriptionData}">
              </ng-container>
            </div>
            <div *ngSwitchCase="3">
              <ng-container
                *ngTemplateOutlet="paymentError; context: {majorEventData: majorEventData, subscriptionData: subscriptionData}">
              </ng-container>
            </div>
            <div *ngSwitchCase="4">
              <ng-container
                *ngTemplateOutlet="eventFull; context: {majorEventData: majorEventData, subscriptionData: subscriptionData}">
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-list>
  </ng-container>

  <ng-template #ionCardHeader let-title="title" let-subType="subType" let-price="price" let-color="color">
    <ion-card-header>
      <ion-card-title [color]="color">{{title.toUpperCase()}} </ion-card-title>
      <ion-card-subtitle [color]="color">
        <ng-container [ngSwitch]="subType">
          <span *ngSwitchCase="0"> Aluno da Unesp - {{price | currency: 'R$'}} </span>
          <span *ngSwitchCase="1"> Aluno de outras instituições - {{price | currency: 'R$'}} </span>
          <span *ngSwitchCase="2"> Professor e/ou profissional - {{price | currency: 'R$'}} </span>
          <span *ngSwitchDefault> Público em geral - {{price | currency: 'R$'}} </span>
        </ng-container>
      </ion-card-subtitle>
    </ion-card-header>
  </ng-template>

  <ng-template #outOfDate>
    <ion-card-content color="danger">
      <ion-text color="danger">
        <b>Não foi possível concluir a sua inscrição: </b>O prazo para inscrição no evento selecionado já expirou.
      </ion-text>
    </ion-card-content>
  </ng-template>
</ion-content>
