.timeline-container {
  width: 100%;
}

.timeline {
  max-width: 700px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 10px;
  width: 250px;
  text-transform: lowercase;
}

.flex-items h1 {
  text-transform: uppercase;
  font-weight: 600;
}
