<ion-list>
  <ng-container>
    <div *ngIf="items$ | async; let items; else: loading">
      <ion-item
        *ngFor="let item of items"
        (click)="openItem(item)"
        style="cursor: pointer">
        <ion-avatar slot="start">
          <ion-img src="assets/calendar/{{ item.icon }}.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p (style)="('color: ' + courses[item.course].color)">
            {{ courses[item.course].name }}
          </p>
        </ion-label>
        <div slot="end">
          <h4 style="font-weight: 400">
            {{ item.date | date: 'HH:mm' }}
          </h4>
        </div>
      </ion-item>
      <h1 *ngIf="items.length === 0" class="ion-text-center">Sem eventos</h1>
    </div>

    <ng-template #loading>
      <ion-spinner
        name="lines-small"
        class="margin-horizontal-auto"
        style="display: block"></ion-spinner>
    </ng-template>
  </ng-container>
</ion-list>
