<ion-header>
  <ion-toolbar *ngIf="!groupUnderSelection">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciar eventos</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="groupUnderSelection = true">
        <ion-icon name="folder-open-outline" slot="start"></ion-icon>
        Agrupar
      </ion-button>
      <ion-button [routerLink]="'adicionar'">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="groupUnderSelection">
    <ion-buttons slot="start">
      <ion-button (click)="cancelGroupSelection()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{groupEventToolbarText(dataForm.get('selectedCheckboxes').value.length)}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button [disabled]="dataForm.get('selectedCheckboxes').value.length < 2">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-datetime-button datetime="dateSelector" class="margin-horizontal-auto"></ion-datetime-button>
  </ion-item>

  <ng-container *ngIf="events$ | async as eventList; else loading">
    <form [formGroup]="dataForm">
      <ion-list>
        <h1 *ngIf="eventList.length === 0" class="ion-text-center">Nenhum evento encontrado</h1>

        <div class="event-container">
          <ion-item *ngFor="let item of eventList">
            <img
              [src]="emojiService.getEmoji(item.icon)"
              class="twemoji"
              slot="start"
              aria-hidden="true"
              loading="lazy" />

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>
                    <h1 class="ion-text-wrap">{{item.name}}</h1>
                    <h4 class="date-item" *ngIf="item.eventStartDate && item.eventEndDate">
                      Data do evento: {{ dateService.getDateFromTimestamp(item.eventStartDate) | date: 'dd/MM HH:mm' }}
                      - {{ dateService.getDateFromTimestamp(item.eventEndDate) | date: 'dd/MM HH:mm' }}
                    </h4>
                    <p class="ion-text-wrap" *ngIf="item.course">{{courses.getCourse(item.course)}}</p>
                    <p class="ion-text-wrap" *ngIf="item.inMajorEventName | async as majorEventName">
                      Faz parte do grande evento "{{ majorEventName }}"
                    </p>
                    <p class="ion-text-wrap" *ngIf="item.eventGroup as eventGroup">
                      Faz parte do grupo "{{ eventGroup.groupDisplayName }}"
                    </p>
                    <p *ngIf="item.attendanceCollectionStart && !item.attendanceCollectionEnd" class="ion-text-wrap">
                      <ion-text color="danger"> Presença on-line aberta com código {{ item.attendanceCode }}</ion-text>
                    </p>
                  </ion-label>
                </ion-col>
                <ion-col *ngIf="!groupUnderSelection">
                  <ion-row>
                    <ion-button [routerLink]="['./listar-inscritos', item.id]" fill="clear">
                      <ion-icon name="list-outline" slot="start"></ion-icon>
                      <p slot="end">Listar inscritos</p>
                    </ion-button>
                  </ion-row>
                  <ion-row>
                    <ion-button [routerLink]="['./coletar-presencas', item.id]" fill="clear">
                      <ion-icon name="qr-code-outline" slot="start" aria-hidden="true"></ion-icon>
                      <p slot="end">Coleta de presenças</p>
                    </ion-button>
                  </ion-row>
                  <ion-row>
                    <ion-button [routerLink]="['./listar-presencas', item.id]" fill="clear">
                      <ion-icon name="list-outline" slot="start" aria-hidden="true"></ion-icon>
                      <p slot="end">Listagem de presenças</p>
                    </ion-button>
                  </ion-row>
                </ion-col>
                <ion-col *ngIf="!groupUnderSelection">
                  <ion-button
                    fill="clear"
                    color="danger"
                    *ngIf="item.collectAttendance && (!item.attendanceCollectionStart || item.attendanceCollectionEnd)"
                    (click)="confirmOpenOnlineAttendance(item)">
                    <ion-icon name="person" slot="start" aria-hidden="true"></ion-icon>
                    <p slot="end">Abrir presença on-line</p>
                  </ion-button>
                  <ion-button
                    fill="clear"
                    color="danger"
                    *ngIf="item.eventGroup"
                    (click)="confirmEventGroupDelete(item)">
                    <ion-icon name="folder" slot="start" aria-hidden="true"></ion-icon>
                    <p slot="end">Excluir grupo</p>
                  </ion-button>
                  <ion-button
                    fill="clear"
                    color="danger"
                    *ngIf="item.attendanceCollectionStart && !item.attendanceCollectionEnd"
                    (click)="copyCode(item.attendanceCode)">
                    <ion-icon name="copy" slot="start" aria-hidden="true"></ion-icon>
                    <p slot="end">Copiar código de presença</p>
                  </ion-button>
                  <ion-button
                    fill="clear"
                    color="danger"
                    *ngIf="item.attendanceCollectionStart && !item.attendanceCollectionEnd"
                    (click)="confirmCloseOnlineAttendance(item)">
                    <ion-icon name="person" slot="start" aria-hidden="true"></ion-icon>
                    <p slot="end">Fechar presença on-line</p>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-checkbox
              slot="end"
              *ngIf="groupUnderSelection && !item.eventGroup"
              (ionChange)="onCheckBoxChange($event, item)"
              [checked]="dataForm.get('selectedCheckboxes').value.includes(item.id)"></ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
    </form>
  </ng-container>
  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>

<ion-footer *ngIf="groupUnderSelection">
  <div style="overflow-x: scroll; display: flex">
    <ng-container *ngFor="let eventInfo of dataForm.get('selectedCheckboxes').value;">
      <img
        [src]="emojiService.getEmoji(eventInfo.icon)"
        class="twemoji"
        slot="start"
        aria-hidden="true"
        loading="lazy"
        id="{{eventInfo.id}}-triger'" />
      <ion-popover trigger="{{eventInfo.id}}-triger'" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">{{eventInfo.name}}</ion-content>
        </ng-template>
      </ion-popover>
    </ng-container>
  </div>
</ion-footer>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      [(ngModel)]="currentMonth"
      id="dateSelector"
      presentation="month-year"
      showDefaultButtons="true"
      min="2022-03-01T00:00:00"
      [max]="getLimitDate()"
      (ionChange)="onMonthChange()">
    </ion-datetime>
  </ng-template>
</ion-modal>
