<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escanear QR Code</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (hasPermission === false) {
  <h2>Você não concedeu permissão para acessar a câmera.</h2>
  } @if (hasDevices === undefined) {
  <p>Verifique se o app tem permissão para acessar a câmera e se o dispositivo está conectado.</p>
  } @if (hasDevices === false) {
  <h2>
    Nenhuma câmera foi detectada. Verifique se o dispositivo está conectado e se o app tem permissão para acessar a
    câmera.
  </h2>
  } @if (showScanner) {
  <div>
    <zxing-scanner
      [formats]="allowedFormats"
      (permissionResponse)="onHasPermission($event)"
      (camerasFound)="onCamerasFound($event)"
      (scanSuccess)="onCodeResult($event)"
      [torch]="torchEnabled"
      [(device)]="currentDevice">
    </zxing-scanner>
  </div>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      @if (torchAvailable | async) {
      <ion-button (click)="toggleTorch()">
        <ion-icon name="flash-outline"></ion-icon>
      </ion-button>
      }
      <ion-button (click)="changeCamera()">
        <ion-icon name="camera-reverse-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
