<ion-header>
  <ion-toolbar>
    <ion-title>Inscrição</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/eventos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="majorEvent$| async as majorEvent; else loading">
    <div class="event-container">
      <ion-card-header>
        <ion-card-title>{{majorEvent.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="majorEvent.description">
        <p class="ion-text-justify event-description">{{majorEvent.description}}</p>
      </ion-card-content>

      <div class="card-section ion-padding-horizontal">
        <div class="card-label">
          <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
          Datas
        </div>

        <ion-item lines="none">
          Evento
          <span slot="end">
            {{ getDateFromTimestamp(majorEvent.eventStartDate) | date: 'dd/MM' }} {{ majorEvent.eventEndDate && '- ' +
            (getDateFromTimestamp(majorEvent.eventEndDate) | date: 'dd/MM') }}
          </span>
        </ion-item>

        <ion-item lines="none" *ngIf="majorEvent.subscriptionStartDate && majorEvent.subscriptionEndDate">
          Inscrição
          <span slot="end">
            {{ getDateFromTimestamp(majorEvent.subscriptionStartDate) | date: 'dd/MM' }} {{
            majorEvent.subscriptionEndDate && '- ' + (getDateFromTimestamp(majorEvent.subscriptionEndDate) | date:
            'dd/MM') }}
          </span>
        </ion-item>
      </div>

      <div class="card-section ion-padding-horizontal" *ngIf="majorEvent.price">
        <div class="card-label">
          <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
          Valores
        </div>

        <ng-container *ngIf="majorEvent.price.isFree; else notFree">
          <ion-item lines="none">
            <ion-label>Gratuito</ion-label>
          </ion-item>
        </ng-container>

        <ng-template #notFree>
          <ng-container *ngIf="majorEvent.price.single; then singlePrice else multiPrice"> </ng-container>
        </ng-template>

        <ng-template #singlePrice>
          <ion-item lines="none">
            Preço único
            <span slot="end">{{ majorEvent.price.single | currency:'BRL' }}</span>
          </ion-item>
        </ng-template>

        <ng-template #multiPrice>
          <ion-item lines="none" *ngIf="majorEvent.price.students">
            {{ enrollmentTypes.getEnrollmentType(0) }}
            <span slot="end">{{ majorEvent.price.students | currency:'BRL' }}</span>
          </ion-item>

          <ion-item lines="none" *ngIf="majorEvent.price.otherStudents">
            {{ enrollmentTypes.getEnrollmentType(1) }}
            <span slot="end">{{ majorEvent.price.otherStudents | currency:'BRL' }}</span>
          </ion-item>

          <ion-item lines="none" *ngIf="majorEvent.price.professors">
            {{ enrollmentTypes.getEnrollmentType(2) }}
            <span slot="end">{{ majorEvent.price.professors | currency:'BRL' }}</span>
          </ion-item>
        </ng-template>
      </div>

      <div class="card-section ion-padding-horizontal">
        <ion-item>
          <ion-label>Tipo de inscrição</ion-label>
          <ion-select placeholder="Selecionar" [(ngModel)]="opSelected" [disabled]="disableEnrollmentTypeSelection">
            <ion-select-option value="0">{{ enrollmentTypes.getEnrollmentType(0) }}</ion-select-option>
            <ion-select-option value="1">{{ enrollmentTypes.getEnrollmentType(1) }}</ion-select-option>
            <ion-select-option value="2">{{ enrollmentTypes.getEnrollmentType(2) }}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- prettier-ignore -->
        <p *ngIf="majorEvent.maxCourses && majorEvent.maxCourses > 0">
          {{ eventsSelected['minicurso'].length - this.eventGroupMinicursoCount| number: '2.0-0' }} de {{ majorEvent.maxCourses | number: '2.0-0' }} minicursos selecionados
        </p>
        <p *ngIf="majorEvent.maxLectures && majorEvent.maxLectures > 0">
          {{ eventsSelected['palestra'].length | number: '2.0-0' }} de {{ majorEvent.maxLectures | number: '2.0-0' }}
          palestras selecionados
        </p>
      </div>

      <form [formGroup]="dataForm">
        <ng-container *ngIf="events$ | async as eventsArray; else loadingSpinner">
          <ng-container *ngFor="let event of eventsArray; index as i">
            <ion-item-divider
              mode="ios"
              sticky="true"
              *ngIf="i == 0 || !dayCompare(eventsArray[i - 1].eventStartDate, event.eventStartDate)">
              <ion-label> {{ formatDate(getDateFromTimestamp(event.eventStartDate)) }} </ion-label>
            </ion-item-divider>

            <ion-list>
              <ion-item>
                <img [src]="getEmoji(event.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />
                <ion-label>
                  <h3>{{ event.name }}</h3>
                  <h4>
                    {{ (getDateFromTimestamp(event.eventStartDate) | date: 'HH:mm') }} {{ event.eventEndDate && ' às ' +
                    (getDateFromTimestamp(event.eventEndDate) | date: 'HH:mm') }}
                  </h4>
                  <p>{{ event.slotsAvailable }} vagas restantes</p>
                  <p>Sua posição na fila: {{ event.numberOfSubscriptions + 1 | number: '1.0-0' }}</p>
                  <!-- <p>Conflito de horário com "item 2"</p>-->
                </ion-label>
                <ion-checkbox
                  name="{{event.eventType}}"
                  [formControlName]="event.id"
                  slot="end"
                  (ionChange)="countCheckeds($event, event)"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ng-container>
        </ng-container>
      </form>
    </div>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>

  <ng-template #loadingSpinner>
    <ion-spinner name="dots" style="margin: 0 auto; display: block"></ion-spinner>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="onSubmit()"
      [disabled]="eventsSelected['minicurso'].length + eventsSelected['palestra'].length === 0 || opSelected === undefined">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<swal
  #successSwal
  title="Inscrição realizada"
  icon="success"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #errorSwal
  title="Ocorreu um erro ao fazer sua inscrição"
  text="Verifique a sua conexão com a internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>

<swal
  #eventNotFound
  title="Evento inexistente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #alreadySubscribed
  title="Você já está inscrito neste evento"
  icon="warning"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #maxChanged
  title="As informações do evento foram atualizadas"
  text="Por favor, selecione os itens novamente"
  icon="warning"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>
