<ion-header>
  <ion-toolbar>
    <ion-title>Inscrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="majorEvent$; let majorEvent; else loading">
    <div class="event-container">
      <!-- {{ console.log(majorEvent) }} -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{majorEvent.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="majorEvent.description">
          <p class="ion-text-justify event-description">{{majorEvent.description}}</p>
        </ion-card-content>

        <div class="card-section ion-padding-horizontal">
          <div class="card-label">
            <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
            Datas
          </div>

          <ion-item lines="none">
            Evento
            <span slot="end">
              {{ getDateFromTimestamp(majorEvent.dateStart) | date: 'dd/MM' }} {{ majorEvent.dateEnd && '- ' +
              (getDateFromTimestamp(majorEvent.dateEnd) | date: 'dd/MM') }}
            </span>
          </ion-item>

          <ion-item lines="none" *ngIf="majorEvent.subscriptionDateStart && majorEvent.subscriptionDateEnd">
            Inscrição
            <span slot="end">
              {{ getDateFromTimestamp(majorEvent.subscriptionDateStart) | date: 'dd/MM' }} {{
              majorEvent.subscriptionDateEnd && '- ' + (getDateFromTimestamp(majorEvent.subscriptionDateEnd) | date:
              'dd/MM') }}
            </span>
          </ion-item>
        </div>

        <div class="card-section ion-padding-horizontal" *ngIf="majorEvent.price">
          <div class="card-label">
            <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
            Valores
          </div>

          <ng-container *ngIf="majorEvent.price.isFree; else notFree">
            <ion-item lines="none">
              <ion-label>Gratuito</ion-label>
            </ion-item>
          </ng-container>

          <ng-template #notFree>
            <ng-container *ngIf="majorEvent.price.priceSingle; then singlePrice else multiPrice"> </ng-container>
          </ng-template>

          <ng-template #singlePrice>
            <ion-item lines="none">
              Preço único
              <span slot="end">{{ (majorEvent.price.priceSingle) | currency:'BRL' }}</span>
            </ion-item>
          </ng-template>

          <ng-template #multiPrice>
            <ion-item lines="none" *ngIf="majorEvent.price.priceStudents">
              Alunos da Unesp
              <span slot="end">{{ (majorEvent.price.priceStudents) | currency:'BRL' }}</span>
            </ion-item>

            <ion-item lines="none" *ngIf="majorEvent.price.priceOtherStudents">
              Alunos
              <span slot="end">{{ (majorEvent.price.priceOtherStudents) | currency:'BRL' }}</span>
            </ion-item>

            <ion-item lines="none" *ngIf="majorEvent.price.priceProfessors">
              Professores
              <span slot="end">{{ (majorEvent.price.priceProfessors) | currency:'BRL' }}</span>
            </ion-item>
          </ng-template>
          <ion-item-divider> </ion-item-divider>
        </div>

        <div class="card-section ion-padding-horizontal">
          <ion-item>
            <ion-label>Tipo de inscrição</ion-label>
            <ion-select 
              interface="popover"
              placeholder="selecione"
              [(ngModel)]="opSelected"
            >
              <ion-select-option value="0">Aluno da Unesp</ion-select-option>
              <ion-select-option value="1">Aluno de outras IES</ion-select-option>
              <ion-select-option value="2">Professores e profissionais</ion-select-option>
            </ion-select>
          </ion-item>

          <p>{{ qntdMinicursosChecked$ }} de {{ adjustNumber(countMinicursos$) }} minicursos selecionados</p>
          <p>{{ qntdPalestrasChecked$ }} de {{ adjustNumber(countPalestras$) }} palestras selecionados</p>
        </div>

        <!-- {{ console.log(events$) }} -->
        <div *ngFor="let item of events$ | keyvalue;">
          <ion-item-divider mode="ios" sticky="true">
            <ion-label>{{ formatDate(item.key) }}</ion-label>
          </ion-item-divider>

          <ion-list *ngFor="let event of item.value;">
            <!-- {{ console.log(event) }} -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/events/icon.png" />
              </ion-avatar>
              <ion-label>
                <h3>{{ event.name }}</h3>
                <h4>{{ event.time }}</h4>
                <p>{{ event.slotsAvailable }} vagas restantes</p>
                <p>Sua posição na fila: {{ event.numberOfSubscriptions + 1 }}</p>
                <!-- <p>Conflito de horário com "item 2"</p>-->
              </ion-label>
              <ion-checkbox
                name="{{event.eventType}}"
                [disabled]="event.slotsAvailable === 0 ? true : null"
                slot="end"
                (ionChange)="countCheckeds($event, event)"></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>

      <div class="fixed">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="goToConfirmSubscription()">
            <ion-icon name="checkmark"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>
