<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>FCT App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <span style="font-size: 3em; font-weight: bold">Entrar</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p style="margin-bottom: 10px">
          Se você possui vínculo com a Unesp, utilize o seu e&#8209;mail&nbsp;institucional
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <app-google-button></app-google-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
