<ion-list class="margin-horizontal-auto list-container">
  @if (items$ | async; as items) {
    @for (item of items; track item; let i = $index) {
      <app-event-item-list [eventItem]="item"></app-event-item-list>
    }
    @if (items.length === 0) {
      <h1 class="ion-text-center">Nenhum evento encontrado</h1>
      <ng-lottie [options]="lottieOptions" width="200px" containerClass="lottie-animation margin-horizontal-auto" />
    }
  } @else {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }
</ion-list>
