<ion-row>
  <ion-card *ngFor="let centrosAcademicos of contacts" style="width: 300px;">
    <ion-card-header>
      <ion-card-title>{{ centrosAcademicos.name }}</ion-card-title>
      <ion-card-subtitle>{{ centrosAcademicos.acronym }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-button *ngIf="centrosAcademicos['email']" href="mailto:{{ centrosAcademicos.email }}"
          attr.aria-label="E-mail do Centro Acadêmico da {{ centrosAcademicos.name }}" fill="clear">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
        <ng-container *ngFor="let socialmedia of socialMedia | keyvalue">
          <ion-button *ngIf="centrosAcademicos.social[socialmedia.key]"
            [href]="socialmedia.value + centrosAcademicos.social[socialmedia.key]" target="_blank" attr.aria-label="{{ socialmedia.key }} de {{
                  centrosAcademicos.name
                }} " fill="clear">
            <ion-icon [name]="'logo-' + socialmedia.key"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-row>