<div class="event-container">
  <app-major-event-display-header [majorEventItem]="majorEventItem"></app-major-event-display-header>

  <app-major-event-display-description [majorEventItem]="majorEventItem"></app-major-event-display-description>

  <app-major-event-display-date [majorEventItem]="majorEventItem"></app-major-event-display-date>

  <app-major-event-display-price [majorEventItem]="majorEventItem"></app-major-event-display-price>

  @if (isEventPaid) {
    <div class="card-section ion-padding-horizontal">
      <div class="card-label">
        <ion-icon name="cash-outline" aria-hidden="true"></ion-icon>
        Informações de pagamento
      </div>
      @if (dataForm.value.chavePix) {
        <ion-item lines="none">
          <ion-label>Chave pix</ion-label>
          <span slot="end">{{ dataForm.value.chavePix }}</span>
        </ion-item>
      }
      @if (dataForm.value.bankName) {
        <ion-item lines="none">
          <ion-label>Banco</ion-label>
          <span slot="end">{{ dataForm.value.bankName }}</span>
        </ion-item>
      }
      @if (dataForm.value.accountName) {
        <ion-item lines="none">
          <ion-label>Nome completo</ion-label>
          <span slot="end">{{ dataForm.value.accountName }}</span>
        </ion-item>
      }
      @if (dataForm.value.document) {
        <ion-item lines="none">
          <ion-label>CPF ou CNPJ</ion-label>
          <span slot="end">{{ dataForm.value.document }}</span>
        </ion-item>
      }
      @if (dataForm.value.agency) {
        <ion-item lines="none">
          <ion-label>Agência</ion-label>
          <span slot="end">{{ dataForm.value.agency }}</span>
        </ion-item>
      }
      @if (dataForm.value.accountNumber) {
        <ion-item lines="none">
          <ion-label>Conta</ion-label>
          <span slot="end">{{ dataForm.value.accountNumber }}</span>
        </ion-item>
      }
      @if (dataForm.value.additionalPaymentInformation) {
        <ion-card-content>
          <p class="ion-text-justify pre-wrap">{{ dataForm.value.additionalPaymentInformation }}</p>
        </ion-card-content>
      }
    </div>
  }

  @if (dataForm.value.maxCourses) {
    <p class="ion-padding-horizontal">
      Pode se inscrever em até {{ dataForm.value.maxCourses }} minicursos
    </p>
  }
  @if (dataForm.value.maxLectures) {
    <p class="ion-padding-horizontal">
      Pode se inscrever em até {{ dataForm.value.maxLectures }} palestras
    </p>
  }

  <div class="ion-padding">
    <ion-button disabled="">Inscreva-se</ion-button>

    @if (dataForm.value.buttonUrl) {
      <ion-button disabled="" fill="clear">
        {{ dataForm.value.buttonText || 'Saiba mais' }}
      </ion-button>
    }
  </div>
</div>

<ion-grid style="width: 100%">
  <ion-row>
    <ion-col>
      <ion-button style="width: 100%" fill="clear" (click)="closeModal()">Cancelar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button style="width: 100%" fill="clear" (click)="onSubmit()">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
