<div class="event-container">
  <app-major-event-display-header [majorEventItem]="majorEventItem"></app-major-event-display-header>

  <app-major-event-display-description [majorEventItem]="majorEventItem"></app-major-event-display-description>

  <app-major-event-display-date [majorEventItem]="majorEventItem"></app-major-event-display-date>

  <app-major-event-display-price [majorEventItem]="majorEventItem"></app-major-event-display-price>

  <div class="card-section ion-padding-horizontal" *ngIf="isEventPaid">
    <div class="card-label">
      <ion-icon name="cash-outline" aria-hidden="true"></ion-icon>
      Informações de pagamento
    </div>

    <ion-item lines="none" *ngIf="dataForm.value.chavePix">
      <ion-label>Chave pix</ion-label>
      <span slot="end">{{ dataForm.value.chavePix }}</span>
    </ion-item>

    <ion-item lines="none" *ngIf="dataForm.value.bankName">
      <ion-label>Banco</ion-label>
      <span slot="end">{{ dataForm.value.bankName }}</span>
    </ion-item>

    <ion-item lines="none" *ngIf="dataForm.value.accountName">
      <ion-label>Nome completo</ion-label>
      <span slot="end">{{ dataForm.value.accountName }}</span>
    </ion-item>

    <ion-item lines="none" *ngIf="dataForm.value.document">
      <ion-label>CPF ou CNPJ</ion-label>
      <span slot="end">{{ dataForm.value.document }}</span>
    </ion-item>

    <ion-item lines="none" *ngIf="dataForm.value.agency">
      <ion-label>Agência</ion-label>
      <span slot="end">{{ dataForm.value.agency }}</span>
    </ion-item>

    <ion-item lines="none" *ngIf="dataForm.value.accountNumber">
      <ion-label>Conta</ion-label>
      <span slot="end">{{ dataForm.value.accountNumber }}</span>
    </ion-item>

    <ion-card-content *ngIf="dataForm.value.additionalPaymentInformation">
      <p class="ion-text-justify pre-wrap">{{ dataForm.value.additionalPaymentInformation }}</p>
    </ion-card-content>
  </div>

  <p *ngIf="dataForm.value.maxCourses" class="ion-padding-horizontal">
    Pode se inscrever em até {{ dataForm.value.maxCourses }} minicursos
  </p>
  <p *ngIf="dataForm.value.maxLectures" class="ion-padding-horizontal">
    Pode se inscrever em até {{ dataForm.value.maxLectures }} palestras
  </p>

  <div class="ion-padding">
    <ion-button disabled="">Inscreva-se</ion-button>

    <ion-button *ngIf="dataForm.value.buttonUrl" disabled="" fill="clear">
      {{ dataForm.value.buttonText || 'Saiba mais' }}
    </ion-button>
  </div>
</div>

<ion-grid style="width: 100%">
  <ion-row>
    <ion-col>
      <ion-button style="width: 100%" fill="clear" (click)="closeModal()">Cancelar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button style="width: 100%" fill="clear" (click)="onSubmit()">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
