**/node_modules/
**/.git
**/README.md
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/e2e
**/*.log

# Firebase
**/functions
**/emulator-datta
**/gcloud-data
**/firestore.rules
**/storage.rules
**/firebase-export*

**/.github
**/.vscode
**/docker