*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

.ionic
.sass-cache
.sourcemaps
.versions
coverage
dist
node_modules
platforms
plugins

dist/
bazel-out
integration/bazel/bazel-*
*.log

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# User specific bazel settings
.bazelrc.user

# User specific ng-dev settings
.ng-dev.user*

.notes.md
baseline.json

.angular

# Firebase
.firebase
.runtimeconfig.json
firestore.rules
emulator-data
firebase-export-*
storage.rules

# VSCode
.vscode/**/*

# Allow shared settings
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore .history for the xyz.local-history VSCode extension
**/.history

# next.js
.next/
/out/
next-env.d.ts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
