<div class="flex-card">
  @for (centrosAcademicos of contacts; track centrosAcademicos) {
    <ion-card class="card-item">
      <ion-card-header>
        <ion-card-title>{{ centrosAcademicos.course }}</ion-card-title>
        <ion-card-subtitle>{{ centrosAcademicos.acronym }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div style="margin-left: -15px">
          @for (socialmedia of socialMedia | keyvalue; track socialmedia) {
            @if (centrosAcademicos.social[socialmedia.key]) {
              <ion-button
                [href]="socialmedia.value + centrosAcademicos.social[socialmedia.key]"
                target="_blank"
                attr.aria-label="{{ socialmedia.key }} de {{ centrosAcademicos.course }} "
                fill="clear">
                <ion-icon [name]="'logo-' + socialmedia.key"></ion-icon>
              </ion-button>
            }
          }
          @if (centrosAcademicos.email) {
            <ion-button
              href="mailto:{{ centrosAcademicos.email }}"
              attr.aria-label="E-mail do Centro Acadêmico do curso de {{ centrosAcademicos.course }}"
              fill="clear">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
          }
          @if (centrosAcademicos.website) {
            <ion-button
              [href]="centrosAcademicos.website"
              target="_blank"
              attr.aria-label="Website do Centro Acadêmico do curso de {{ centrosAcademicos.course }}"
              fill="clear">
              <ion-icon name="globe-outline"></ion-icon>
            </ion-button>
          }
        </div>
      </ion-card-content>
    </ion-card>
  }
</div>
