<ion-content>
  <div class="margin-horizontal-auto content-container ion-padding" style="overflow: scroll; width: 100%">
    <img
      class="margin-horizontal-auto"
      style="width: 72px; height: 72px; display: block; padding: 10px"
      [src]="getEmoji(dataForm.value.icon) " />

    <div class="ion-text-center">
      <h1 style="margin: 0">{{ dataForm.value.name }}</h1>
      <h5 style="margin: 0; margin-bottom: 5px; font-weight: 500">{{ dataForm.value.shortDescription }}</h5>
      <h5 style="margin: 0; margin-bottom: 5px; font-weight: 500">{{ getCourse(dataForm.value.course) }}</h5>
      <h4 style="margin: 0; font-weight: 400">
        <!-- prettier-ignore -->
        Início: {{ toUppercase(getDateFromTimestamp(dataForm.value.eventStartDate) | date: "EEEE, dd 'de' MMMM 'de' y - HH:mm") }}
      </h4>
      <h4 style="margin: 0; font-weight: 400" *ngIf="hasDateEnd">
        <!-- prettier-ignore -->
        Fim: {{ toUppercase(getDateFromTimestamp(dataForm.value.eventEndDate) | date: "EEEE, dd 'de' MMMM 'de' y - HH:mm") }}
      </h4>
    </div>

    <div *ngIf="dataForm.value.description">
      <h2>Sobre</h2>
      <p>{{ dataForm.value.description }}</p>
    </div>

    <div *ngIf="dataForm.value.location.description || (dataForm.value.location.lat && dataForm.value.location.lon)">
      <h2>Localização</h2>

      <div *ngIf="dataForm.value.location.description ">
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">{{ dataForm.value.location.description }}</ion-label>
        </ion-item>
      </div>
    </div>

    <div *ngIf="dataForm.value.button.text || dataForm.value.button.url">
      <ion-button expand="block" color="primary" disabled="true"
        >{{dataForm.value.button.text || 'Acompanhe o evento' }}</ion-button
      >
      <p color="medium">URL: {{ dataForm.value.button.url}}</p>
    </div>

    <div *ngIf="dataForm.value.youtubeCode">
      <h2>Transmissão do evento</h2>
      <iframe
        width="400"
        height="225"
        [src]="'https://www.youtube-nocookie.com/embed/' + dataForm.value.youtubeCode | safe: 'resourceUrl'"
        title="YouTube"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <ion-grid style="width: 100%">
    <ion-row>
      <ion-col>
        <ion-button style="width: 100%" fill="clear" (click)="closeModal()"> Fechar </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%" fill="clear" (click)="onSubmit()"> Confirmar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
