<ion-header>
  <ion-toolbar>
    <ion-title>Coletar presença</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 *ngIf="hasPermission === false">
    Você não concedeu permissão para acessar a câmera.
  </h2>

  <p *ngIf="hasDevices === undefined">
    Verifique se o app tem permissão para acessar a câmera e se o dispositivo
    está conectado.
  </p>

  <h2 *ngIf="hasDevices === false">
    Nenhuma câmera foi detectada. Verifique se o dispositivo está conectado e se
    o app tem permissão para acessar a câmera.
  </h2>

  <div *ngIf="showScanner">
    <zxing-scanner
      [formats]="allowedFormats"
      (permissionResponse)="onHasPermission($event)"
      (camerasFound)="onCamerasFound($event)"
      (scanSuccess)="onCodeResult($event)"
      [torch]="torchEnabled"
      [(device)]="currentDevice"
      class="scanner"
      #scanner>
    </zxing-scanner>
  </div>
  <div>
    <p>Scans desta sessão:</p>
    <p>Total de scans:</p>

    <ion-list
      style="max-width: 1600px; display: block"
      class="margin-horizontal-auto">
      <ng-container *ngIf="items$ | async; let items; else: loading">
        <ion-item *ngFor="let item of items" style="cursor: pointer">
          <ng-container *ngIf="(receiveID(item.id) | async) as user">
            <img
              [src]="user.photoURL"
              class="twemoji"
              slot="start"
              aria-hidden="true"
              loading="lazy" />

            <ion-label>
              <h2 class="ion-text-wrap">{{ user.displayName }}</h2>
              <h3 class="ion-text-wrap">{{ item.time }}</h3>
            </ion-label>
          </ng-container>
        </ion-item>
        <h1 *ngIf="items.length === 0" class="ion-text-center">
          Nenhum evento encontrado
        </h1>
      </ng-container>

      <ng-template #loading>
        <ion-spinner
          name="lines-small"
          class="margin-horizontal-auto"
          style="display: block"></ion-spinner>
      </ng-template>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="toggleTorch()" *ngIf="torchAvailable | async">
        <ion-icon name="flash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="changeCamera()">
        <ion-icon name="camera-reverse-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
