@import 'src/themes/ionic-fixes/item-bg-color.scss';

.event-container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  ion-card {
    height: min-content;
  }
}
