<ion-list style="max-width: 1600px; display: block" class="margin-horizontal-auto">
  <ng-container *ngIf="items$ | async; let items; else: loading">
    <ion-item
      *ngFor="let item of items"
      [style.--background]="courses[item.course] ? courses[item.course].color + '25' : undefined">
      <img [src]="getEmoji(item.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />

      <ion-label>
        <h2 class="ion-text-wrap">{{ item.name }}</h2>
        <h3 class="ion-text-wrap">{{ item.shortDescription }}</h3>
        <h4 style="font-weight: 400">
          {{ getDateFromTimestamp(item.date) | date: 'HH:mm' }}
        </h4>
        <p *ngIf="courses[item.course]" class="ion-text-wrap">{{ courses[item.course].name }}</p>
        <ion-button fill="clear" [routerLink]="['scanner', item.id]">
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          <p slot="end">Escanear</p>
        </ion-button>

        <ion-button fill="clear" [routerLink]="['list', item.id]">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <p slot="end">Listar</p>
        </ion-button>
      </ion-label>
    </ion-item>
    <h1 *ngIf="items.length === 0" class="ion-text-center">Nenhum evento encontrado</h1>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-list>
