<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="area-restrita/gerenciar-grandes-eventos"> </ion-back-button>
    </ion-buttons>
    <ion-title>Emissão de certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (event$ | async; as event) {
  <h1 class="ion-padding-horizontal">{{ event.name }}</h1>
  }

  <form [formGroup]="dataForm">
    <ion-list>
      <div class="ion-padding-vertical">
        <ion-item>
          <ion-select label="Tipo da emissão" formControlName="issueType" (ionChange)="issueToggleChange()">
            <ion-select-option value="batch"> Emissão em massa </ion-select-option>
            <ion-select-option value="list" disabled=""> Emissão por listagem manual </ion-select-option>
          </ion-select>
        </ion-item>

        @if (dataForm.get('issueType').value === 'batch') {
        <ng-container formGroupName="batchIssue">
          <ion-item disabled="">
            <ion-toggle formControlName="toPayer">Emitir para inscritos pagantes</ion-toggle>
          </ion-item>
          <ion-note>Quem pagou, se inscreveu e esteve presente</ion-note>
          <ion-item disabled="">
            <ion-toggle formControlName="toNonSubscriber">Emitir para pagantes não inscritos</ion-toggle>
          </ion-item>
          <ion-note>Quem pagou, não se inscreveu no evento e teve presença coletada</ion-note>
          <ion-item disabled="">
            <ion-toggle formControlName="toNonPayer">Emitir para não pagantes</ion-toggle>
          </ion-item>
          <ion-note>Quem não pagou e teve presença coletada</ion-note>
        </ng-container>
        } @if (dataForm.get('issueType').value === 'list') {
        <ng-container formArrayName="issueList">
          @for (person of getIssueList(); track person; let i = $index) {
          <ion-item [formGroupName]="i">
            <ion-label>{{ i + 1 }}.</ion-label>
            @if (dataForm.get('issueList').get(i.toString()).errors['notFound']) {
            <ion-label color="danger" class="not-found"> Não encontrado </ion-label>
            }
            <ion-input formControlName="userData" placeholder="E-mail, celular ou UID"> </ion-input>
            <ion-button fill="clear" color="danger" (click)="removeIssueList(i)">
              <ion-icon slot="icon-only" name="trash"> </ion-icon>
            </ion-button>
          </ion-item>
          }
          <div class="ion-padding">
            <ion-button (click)="addToIssueList()">Adicionar</ion-button>
            <ion-button (click)="clearIssueListAlert()" color="danger">Limpar</ion-button>
          </div>
        </ng-container>
        }
      </div>
      <ion-item>
        <ion-input
          class="ion-text-nowrap"
          label="Nome do certificado"
          formControlName="certificateName"
          (ionChange)="formatCertificateID()"
          (ionBlur)="formatCertificateName()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="ID do certificado"
          tabindex="-1"
          color="medium"
          formControlName="certificateID"
          readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Modelo do certificado" interface="popover" formControlName="certificateTemplate">
          @for (certificateTemplate of certificateTemplates | keyvalue; track certificateTemplate) {
          <ion-select-option [value]="certificateTemplate.key">
            {{ certificateTemplate.value.displayName }}
          </ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Data de emissão</ion-label>
        <ion-datetime-button datetime="issueDate"></ion-datetime-button>
      </ion-item>

      <ng-container formGroupName="participationType">
        <ion-item>
          <ion-select label="Tipo de participação" interface="popover" formControlName="type">
            <!-- prettier-ignore -->
            @for (participationType of participationTypes | keyvalue; track participationType) {
            @if (!(participationType.key === 'custom')) {
            <ion-select-option [value]="participationType.key">
              <span class="ion-text-wrap">{{ participationType.value }} </span>
            </ion-select-option>
            } }
            <ion-select-option value="custom"> Personalizado </ion-select-option>
          </ion-select>
        </ion-item>
        @if (dataForm.get('participationType').value.type === 'custom') {
        <ion-item>
          <ion-input
            label="Tipo de participação personalizado"
            placeholder="Escreva aqui"
            formControlName="custom"></ion-input>
        </ion-item>
        }
      </ng-container>

      <ng-container formGroupName="eventType">
        <ion-item>
          <ion-select label="Tipo de evento" interface="popover" formControlName="type">
            @for (eventType of eventTypes | keyvalue; track eventType) { @if (!(eventType.key === 'custom')) {
            <ion-select-option [value]="eventType.key"> {{ eventType.value }} </ion-select-option>
            } }
            <ion-select-option value="custom"> Personalizado </ion-select-option>
          </ion-select>
        </ion-item>
        @if (dataForm.get('eventType').value.type === 'custom') {
        <ion-item>
          <ion-input
            label="Tipo de evento personalizado"
            placeholder="Escreva aqui"
            formControlName="custom"></ion-input>
        </ion-item>
        }
      </ng-container>

      <ng-container>
        <ion-item>
          <ion-textarea
            label="Texto complementar"
            placeholder="Escreva aqui"
            formControlName="extraText"></ion-textarea>
        </ion-item>
      </ng-container>

      <ng-container formGroupName="contentType">
        <ion-item>
          <ion-select label="Conteúdo do evento" interface="popover" formControlName="type">
            @for (contentType of contentTypes | keyvalue; track contentType) { @if (!(contentType.key === 'custom')) {
            <ion-select-option [value]="contentType.key"> {{ contentType.value }} </ion-select-option>
            } }
            <ion-select-option value="custom"> Personalizado </ion-select-option>
          </ion-select>
        </ion-item>
        @if (dataForm.get('contentType').value.type === 'custom') {
        <ion-item>
          <ion-textarea
            label="Conteúdo personalizado"
            placeholder="Escreva aqui"
            formControlName="custom"></ion-textarea>
        </ion-item>
        }
      </ng-container>
    </ion-list>

    <div class="ion-padding-bottom">
      <ion-button class="ion-padding" type="submit" (click)="onSubmit()" [disabled]="!dataForm.valid">
        Emitir certificados
      </ion-button>
      <p class="ion-padding-horizontal footnote">Ao continuar, confira os dados com atenção.</p>
    </div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="issueDate" presentation="date-time" showDefaultButtons="true" formControlName="issueDate">
          <span slot="title">Selecione a data de emissão</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </form>

  <!-- <div>
  <ion-button (click)="autofill()">Auto-preencher</ion-button>
</div> -->
</ion-content>

<swal
  #swalNotFound
  title="Evento não encontrado"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false">
</swal>
