<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
    <ion-title>Meus certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #loadingSpinner>
    <ion-spinner name="dots" class="ion-spinner-default"></ion-spinner>
  </ng-template>

  @if (certificatesColletion$ | async; as certificatesCollection) {
    @if (certificatesCollection.length === 0) {
      <h1 class="ion-padding ion-text-center">Nenhum certificado foi emitido para você</h1>
    }
    @for (certificate of certificatesCollection; track certificate) {
      @if (certificate.certificateData | async; as certificateData) {
        <ion-item lines="inset">
          {{ certificateData.certificateName }}
          <ion-button slot="end" fill="clear" (click)="copyValidationUrl(certificate.id, certificate.certificateDoc)">
            <ion-icon md="share-social-outline" ios="share-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" (click)="getCertificate($event, certificateData, certificate)">
            <ion-icon name="download" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      }
    }
  } @else {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button color="danger" (click)="mailtoReportError()">Informar problema</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
