<ion-item
  (click)="openItem(eventItem)"
  class="item-fake-button"
  [class]="courses[eventItem.course] ? courses[eventItem.course].color + '-25' : undefined">
  <img
    [src]="emojiService.getEmoji(eventItem.icon)"
    class="emoji"
    alt="Emoji do evento"
    slot="start"
    aria-hidden="true"
    loading="lazy" />

  <ion-label>
    <h2 class="ion-text-wrap">{{ eventItem.name }}</h2>
    <h3 class="ion-text-wrap">{{ eventItem.shortDescription }}</h3>
    @if (courses[eventItem.course]) {
      <p class="ion-text-wrap">
        {{ courses[eventItem.course].name }}
      </p>
    }
  </ion-label>
  <div slot="end">
    <h4 class="ion-text-center font-400 margin-top-5">
      {{ dateService.getDateFromTimestamp(eventItem.eventStartDate) | date: 'HH:mm' }}
    </h4>
    @if (eventItem.eventEndDate) {
      <p class="ion-text-center no-margin hour-range">–</p>
      <h4 class="font-400 no-margin margin-bottom-5 ion-text-center">
        {{ dateService.getDateFromTimestamp(eventItem.eventEndDate) | date: 'HH:mm' }}
      </h4>
    }
  </div>
</ion-item>
