<ion-item
  (click)="openItem(eventItem)"
  style="cursor: pointer"
  [style.--background]="courses[eventItem.course] ? courses[eventItem.course].color + '25' : undefined">
  <img [src]="emojiService.getEmoji(eventItem.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />

  <ion-label>
    <h2 class="ion-text-wrap">{{ eventItem.name }}</h2>
    <h3 class="ion-text-wrap">{{ eventItem.shortDescription }}</h3>
    @if (courses[eventItem.course]) {
      <p class="ion-text-wrap">
        {{ courses[eventItem.course].name }}
      </p>
    }
  </ion-label>
  <div slot="end">
    <h4 style="font-weight: 400; margin: 5px 0 0 0" class="ion-text-center">
      {{ dateService.getDateFromTimestamp(eventItem.eventStartDate) | date : 'HH:mm' }}
    </h4>
    @if (eventItem.eventEndDate) {
      <p style="font-size: 10px; margin: 0" class="ion-text-center">–</p>
      <h4 style="font-weight: 400; margin: 0 0 5px 0" class="ion-text-center">
        {{ dateService.getDateFromTimestamp(eventItem.eventEndDate) | date : 'HH:mm' }}
      </h4>
    }
  </div>
</ion-item>
