.emoji {
  width: 64px;
  height: 64px;
  display: block;
  padding: 10px;
}

.item-fake-button {
  cursor: pointer;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.hour-range {
  font-size: 0.625rem;
}
