<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button icon-only [ngClass]="{'btn-active': selectedFilter['courses'].length > 0}" (click)="filter()">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
      <ion-button icon-only [ngClass]="{'btn-active': this.itemView}" (click)="viewToggle()">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if (!this.itemView) {
    <ion-buttons slot="primary">
      <ion-button (click)="prevWeek()" [disabled]="weekClicks < -3" aria-label="Semana anterior">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button (click)="todayClick()" aria-label="Ir para a data de hoje">
        <ion-icon name="today-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="nextWeek()" [disabled]="weekClicks > 3" aria-label="Próxima semana">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (!this.itemView) {
  <div class="hcal margin-horizontal-auto">
    <div class="hcal-header">
      <!-- Days of week -->
      <div class="hcal-header-days" aria-hidden="true">
        @for (dow1Char of dow1Char; track dow1Char) {
        <div class="hcal-header-day">{{ dow1Char }}</div>
        }
      </div>
      <!-- Day number -->
      <div class="hcal-header-dates">
        @for (dowhtml of dowList | keyvalue: originalOrder; track dowhtml) {
        <a class="hcal-header-date">
          <div
            [ngClass]="{'active' : active === dowhtml.key}"
            class="hcal-header-date-inner"
            (click)="dateClick(dowhtml.key)"
            (keypress)="dateClick(dowhtml.key)"
            [id]="dowhtml.key"
            tabindex="0"
            [attr.aria-label]="dowhtml.value.date">
            {{ getDayFromDate(dowhtml.value.date) }}
          </div>
        </a>
        }
      </div>
      <!-- Full date -->
      <div class="hcal-header-today" id="date-full">{{ fullDate }}</div>
    </div>
  </div>
  } @if (!this.itemView) { <<<<<<< HEAD
  <app-item-list-view [date]="dowList[active]?.date" [filter]="selectedFilter"></app-item-list-view>
  =======
  <app-item-list [date]="dowList[active]?.date" [filter]="selectedFilter"></app-item-list>
  >>>>>>> angular-setup-lint } @if (this.itemView) {
  <app-calendar-list-view [filter]="selectedFilter"> </app-calendar-list-view>
  }
</ion-content>
