<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar grande evento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita/gerenciar-grandes-eventos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <ng-container>
      <ion-card-header>
        <ion-card-title>Informações do evento</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label position="floating">Curso</ion-label>
        <ion-select interface="popover" formControlName="course">
          @for (course of courses | keyvalue; track course) {
          <ion-select-option slot="start" class="course" [value]="course.key">
            {{ course.value.name }}
          </ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Nome do evento" labelPlacement="floating" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Descrição do evento" labelPlacement="floating" formControlName="description"></ion-input>
      </ion-item>
    </ng-container>

    <ng-container>
      <ion-card-header>
        <ion-card-title>Data do evento</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label class="ion-text-wrap">Data do início do evento</ion-label>
        <ion-datetime-button datetime="eventStartDate"></ion-datetime-button>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Data do fim do evento</ion-label>
        <ion-datetime-button datetime="eventEndDate"></ion-datetime-button>
      </ion-item>
    </ng-container>

    <ng-container>
      <ion-card-header>
        <ion-card-title>Inscrições</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label class="ion-text-wrap">Data do início das inscrições</ion-label>
        <ion-datetime-button datetime="subscriptionStartDate"></ion-datetime-button>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Data do fim das inscrições</ion-label>
        <ion-datetime-button datetime="subscriptionEndDate"></ion-datetime-button>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-wrap"
          label="Limite de minicursos para inscrição (opcional)"
          labelPlacement="floating"
          formControlName="maxCourses"
          inputmode="numeric"
          (keypress)="inputNumbersOnly($event)"
          placeholder="Somente números"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-wrap"
          label="Limite de palestras para inscrição (opcional)"
          labelPlacement="floating"
          formControlName="maxLectures"
          inputmode="numeric"
          (keypress)="inputNumbersOnly($event)"
          placeholder="Somente números"></ion-input>
      </ion-item>
    </ng-container>

    <ion-card-header>
      <ion-card-title>Preço</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-toggle
        class="ion-text-wrap"
        [checked]="isEventPaid"
        (ionChange)="isEventPaidChange()"
        formControlName="isEventPaidForm"
        >Evento pago</ion-toggle
      >
    </ion-item>

    @if ((isEventPaid$ | async);) {
    <ion-item>
      <ion-toggle class="ion-text-wrap" [checked]="priceDifferentiate" (ionChange)="priceDifferentiateChange()"
        >Diferenciar preço por tipo de inscrição</ion-toggle
      >
    </ion-item>
    @if ((priceDifferentiate$ | async)) {
    <ion-item>
      <!-- TODO: replaceCommaWithPeriod directive not working. Formatting with validatePrice -->
      <ion-input
        label="Aluno da Unesp"
        labelPlacement="floating"
        formControlName="priceStudents"
        inputmode="decimal"
        (ionInput)="validatePrice($event, 'priceStudents')"
        (ionInput)="inputCurrency($event)"
        replaceCommaWithPeriod></ion-input>
      <ion-text slot="end" color="medium"><p>{{ dataForm.value.priceStudents | currency: 'BRL'}}</p></ion-text>
    </ion-item>
    <ion-item>
      <ion-input
        class="ion-text-nowrap"
        label="Aluno de outras IES"
        labelPlacement="floating"
        formControlName="priceOtherStudents"
        inputmode="decimal"
        (ionInput)="validatePrice($event, 'priceOtherStudents')"
        (ionInput)="inputCurrency($event)"
        replaceCommaWithPeriod></ion-input>
      <ion-text slot="end" color="medium"><p>{{ dataForm.value.priceOtherStudents | currency: 'BRL'}}</p></ion-text>
    </ion-item>
    <ion-item>
      <ion-input
        label="Professores e profissionais"
        labelPlacement="floating"
        formControlName="priceProfessors"
        inputmode="decimal"
        (ionInput)="validatePrice($event, 'priceProfessors')"
        (ionInput)="inputCurrency($event)"
        replaceCommaWithPeriod></ion-input>
      <ion-text slot="end" color="medium"><p>{{ dataForm.value.priceProfessors | currency: 'BRL'}}</p></ion-text>
    </ion-item>
    } @else {
    <ion-item>
      <ion-input
        label="Preço único"
        labelPlacement="floating"
        formControlName="priceSingle"
        inputmode="decimal"
        (ionInput)="validatePrice($event, 'priceSingle')"
        (ionInput)="inputCurrency($event)"
        replaceCommaWithPeriod></ion-input>
      <ion-text slot="end" color="medium"><p>{{ dataForm.value.priceSingle | currency: 'BRL'}}</p></ion-text>
    </ion-item>
    }
    <ion-card-header>
      <ion-card-title>Informações de pagamento</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-input
        label="Nome completo do beneficiário"
        labelPlacement="floating"
        formControlName="accountName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="CPF ou CNPJ"
        labelPlacement="floating"
        formControlName="document"
        placeholder="Somente números"
        inputmode="numeric"
        maxlength="14"
        (keypress)="inputNumbersOnly($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Instituição bancária"
        labelPlacement="floating"
        formControlName="bankName"
        placeholder="Inclua o número e nome extenso do banco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Agência – Sem dígito verificador"
        labelPlacement="floating"
        formControlName="agency"
        placeholder="XXXX"
        maxLength="4"
        inputmode="numeric"
        (keypress)="inputNumbersOnly($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Conta – Com dígito verificador"
        labelPlacement="floating"
        formControlName="accountNumber"
        placeholder="XXXX-X"
        (keypress)="inputBankAccountNumber($event)"
        (ionInput)="validateAccountNumber($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Chave Pix" labelPlacement="floating" formControlName="chavePix"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        class="ion-textarea-label-wrap"
        label="Informações adicionais (opcional)"
        labelPlacement="floating"
        formControlName="additionalPaymentInformation"></ion-textarea>
    </ion-item>
    }

    <ion-card-header>
      <ion-card-title>Botão (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-input
        label="Texto (opcional)"
        labelPlacement="floating"
        formControlName="buttonText"
        placeholder="Saiba mais"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Link" labelPlacement="floating" formControlName="buttonUrl"></ion-input>
    </ion-item>

    <ion-card-header>
      <ion-card-title>Outras informações (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-toggle formControlName="public" checked="on">Evento aberto ao público</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-input
        label="Criador do evento"
        labelPlacement="stacked"
        value="{{ userData.displayName }}"
        color="medium"
        readonly>
      </ion-input>
    </ion-item>
    <div class="ion-padding-bottom">
      <ion-button class="ion-padding" type="submit" [disabled]="!dataForm.valid"> Criar evento </ion-button>
      <p class="ion-padding-horizontal name-notice">Ao continuar, seu nome será gravado junto ao evento.</p>
    </div>
  </form>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template [formGroup]="dataForm">
    <ion-datetime
      id="eventStartDate"
      formControlName="eventStartDate"
      presentation="date-time"
      showDefaultButtons="true">
      <span slot="title">Selecione a data do início do evento</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template [formGroup]="dataForm">
    <ion-datetime id="eventEndDate" formControlName="eventEndDate" presentation="date-time" showDefaultButtons="true">
      <span slot="title">Selecione a data do fim do evento</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template [formGroup]="dataForm">
    <ion-datetime
      formControlName="subscriptionStartDate"
      id="subscriptionStartDate"
      presentation="date-time"
      showDefaultButtons="true">
      <span slot="title">Selecione a data do início das inscrições</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template [formGroup]="dataForm">
    <ion-datetime
      formControlName="subscriptionEndDate"
      id="subscriptionEndDate"
      presentation="date-time"
      showDefaultButtons="true">
      <span slot="title">Selecione a data do fim das inscrições</span>
    </ion-datetime>
  </ng-template>
</ion-modal>

<swal
  #successSwal
  title="Evento criado com sucesso"
  icon="success"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #errorSwal
  title="Ocorreu um erro ao criar o evento"
  text="Verifique a sua conexão à internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>
