<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informações do evento</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Curso</ion-label>
          <ion-select interface="popover" formControlName="course">
            <ng-container *ngFor="let course of courses | keyvalue">
              <ion-select-option slot="start" class="course" [id]="course.key">
                {{ course.value.name }}
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nome do evento</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descrição curta do evento</ion-label>
          <ion-input formControlName="shortDescription"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descrição do evento</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Emoji do evento</ion-label>
          <ion-input formControlName="icon"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Data do evento</ion-label>
          <ion-input
            formControlName="date"
            [value]="dataForm.value.date"
            placeholder="dd/MM/yyyy HH:mm"
            readonly></ion-input>
          <ion-button fill="clear" id="open-date-input">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Localização (opcional)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Endereço ou descrição</ion-label>
          <ion-input formControlName="locationDescription"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Latitude</ion-label>
          <ion-input formControlName="locationLat"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Longitude</ion-label>
          <ion-input formControlName="locationLon"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Botão</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Texto</ion-label>
          <ion-input formControlName="buttonText"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Link</ion-label>
          <ion-input formControlName="buttonUrl"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Outras informações</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Código do YouTube</ion-label>
          <ion-input formControlName="youtubeCode" placeholder="Código do vídeo/live no youtube"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Evento aberto ao público</ion-label>
          <ion-toggle slot="end" formControlName="public" checked="off"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Criador do evento</ion-label>
          <ion-input value="{{ userData.displayName }}" readonly> </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-button class="ion-padding-horizontal">Criar evento</ion-button>
  <p style="font-size: 0.75em" class="ion-padding-horizontal">
    Para fins de controle e registro, seu nome será gravado junto ao evento.
  </p>
</ion-content>

<ion-modal trigger="open-date-input" id="modal-date">
  <ng-template>
    <ion-datetime
      #dateInput
      presentation="date-time"
      (ionChange)="dataForm.value.date = formatDate(dateInput.value)"
      class="margin-horizontal-auto"></ion-datetime>
  </ng-template>
</ion-modal>
