<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dataForm">
    <ion-card-header>
      <ion-card-title>Informações do evento</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Curso</ion-label>
      <ion-select interface="popover" formControlName="course">
        <ng-container *ngFor="let course of courses | keyvalue">
          <ion-select-option slot="start" class="course" [value]="course.key">
            {{ course.value.name }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome do evento</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição curta do evento</ion-label>
      <ion-input formControlName="shortDescription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição do evento</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Emoji do evento</ion-label>
      <ion-input formControlName="icon"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Data do evento</ion-label>
      <ion-datetime-button datetime="eventDate"></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Fim do evento</ion-label>
      <ion-toggle (ionChange)="enableDateEnd = !enableDateEnd"></ion-toggle>
      <ion-datetime-button [disabled]="!enableDateEnd" datetime="eventDateEnd"></ion-datetime-button>
    </ion-item>

    <ion-card-header>
      <ion-card-title>Localização (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Predefinição</ion-label>
      <ion-select (ionChange)="placeChange($event)" interface="popover" placeholder="Personalizado" #selectPlace>
        <ng-container *ngFor="let places of places | keyvalue">
          <ion-select-option slot="start" class="course" [value]="places.key">
            {{ places.value.name }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço ou descrição</ion-label>
      <ion-input formControlName="locationDescription" (ionInput)="placeInputKeyDown()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Latitude</ion-label>
      <ion-input formControlName="locationLat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Longitude</ion-label>
      <ion-input formControlName="locationLon"></ion-input>
    </ion-item>

    <ion-card-header>
      <ion-card-title>Botão (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Texto (opcional)</ion-label>
      <ion-input formControlName="buttonText"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Link</ion-label>
      <ion-input formControlName="buttonUrl"></ion-input>
    </ion-item>

    <ion-card-header>
      <ion-card-title>Outras informações (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Código do YouTube</ion-label>
      <ion-input formControlName="youtubeCode" placeholder="Código do vídeo no YouTube"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Evento aberto ao público</ion-label>
      <ion-toggle slot="end" formControlName="public" checked="off"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pertence ao grande evento</ion-label>
      <ion-select interface="popover" formControlName="inMajorEvent">
        <ion-select-option slot="start" value="none">Nenhum</ion-select-option>
        <ng-container *ngIf="majorEvents.getFutureMajorEvents() | async; let items; else: loading">
          <ng-container *ngFor="let majorEvent of items">
            <ion-select-option slot="start" [value]="majorEvent.id"> {{ majorEvent.name }} </ion-select-option>
          </ng-container>
        </ng-container>
      </ion-select>
    </ion-item>

    <ng-template #loading></ng-template>

    <ion-item>
      <ion-label position="stacked">Criador do evento</ion-label>
      <ion-input value="{{ userData.displayName }}" color="medium" readonly> </ion-input>
    </ion-item>

    <ion-button class="ion-padding-horizontal" id="check-modal" (click)="onSubmit()">Criar evento</ion-button>
    <p style="font-size: 0.75em" class="ion-padding-horizontal">Ao continuar, seu nome será gravado junto ao evento.</p>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="eventDate" presentation="date-time" showDefaultButtons="true" formControlName="date">
          <span slot="title">Selecione a data do evento</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="eventDateEnd" presentation="date-time" showDefaultButtons="true" formControlName="dateEnd">
          <span slot="title">Selecione a data de término do evento</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>
