<div style="margin-top: -1px">
  <object
    data="assets/manual-do-calouro/auxilios-triangulo.svg"
    type="image/svg+xml"
    aria-hidden="true"></object>
  <div
    class="bg-yellow text-black"
    style="margin-top: -5px; padding-bottom: 1px">
    <div class="markdown-container ion-padding-horizontal ion-text-justify">
      <div class="ion-text-center" style="margin-bottom: 20px">
        <h1 class="knewave auxilios-title">Permanência estudantil</h1>
        <h3 class="auxilios-subtitle">Não é ajuda, é&nbsp;direito</h3>
      </div>

      <markdown
        [src]="
          'https://cdn.jsdelivr.net/gh/cacic-fct/manual-do-calouro@main/sections/auxilios-permanencia.md'
        ">
      </markdown>
    </div>
    <div class="pessoas" aria-hidden="true"></div>
  </div>
  <div class="bg-light-yellow text-black padding-vertical-10">
    <div class="markdown-container ion-padding-horizontal ion-text-justify">
      <markdown
        [src]="
          'https://cdn.jsdelivr.net/gh/cacic-fct/manual-do-calouro@main/sections/auxilios-sustentando.md'
        ">
      </markdown>
    </div>
  </div>
</div>
