<ion-header>
  <ion-toolbar>
    <ion-title>Listar presenças</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime
    [value]="dateAsString"
    #popoverDatetime
    presentation="date"
    locale="pt-BR"
    class="margin-horizontal-auto"
    (ionChange)="updateDate(popoverDatetime.value)"
  ></ion-datetime>
  <app-event-list [date]="properDate" [redirection]="'list'"></app-event-list>
</ion-content>
