<style>
  /*
based on: https://codepen.io/DavidKern/pen/PwzYvv
*/
  @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

  body {
    background: #fff;
    color: #000;
    font-family: 'Lato', Arial, sans-serif;
  }

  h1 {
    font-family: 'proxima-nova', sans-serif;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-left: -3px;
    line-height: 1em;
    color: #000;
    text-align: center;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
  }

  table {
    width: 80%;
    margin: auto;
  }

  table,
  th,
  td {
    border: 1px solid #000;
    border-collapse: collapse;
  }

  th {
    background-color: #ddd;
  }

  th,
  td {
    padding: 15px;
  }
</style>
<table>
  <thead>
    <tr>
      <th class="string">link</th>
      <th class="string">license type</th>
      <th class="string">name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/common</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/core</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angularfire.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/fire</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/forms</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/platform-browser</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/platform-browser-dynamic</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/router</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">@angular/service-worker</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/ionic-team/ionic.git</td>
      <td class="string">MIT</td>
      <td class="string">@ionic/angular</td>
    </tr>
    <tr>
      <td class="string">
        git+https://github.com/sweetalert2/ngx-sweetalert2.git
      </td>
      <td class="undefined"></td>
      <td class="string">@sweetalert2/ngx-sweetalert2</td>
    </tr>
    <tr>
      <td class="string">
        https://github.com/DefinitelyTyped/DefinitelyTyped.git
      </td>
      <td class="string">MIT</td>
      <td class="string">@types/twemoji-parser</td>
    </tr>
    <tr>
      <td class="string">https://github.com/zxing-js/ngx-scanner#readme</td>
      <td class="string">MIT</td>
      <td class="string">@zxing/ngx-scanner</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/date-fns/date-fns.git</td>
      <td class="string">MIT</td>
      <td class="string">date-fns</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/werthdavid/kjua.git</td>
      <td class="string">MIT</td>
      <td class="string">kjua-svg</td>
    </tr>
    <tr>
      <td class="string">https://github.com/maxisam/ngx-clipboard</td>
      <td class="string">MIT</td>
      <td class="string">ngx-clipboard</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/werthdavid/ngx-kjua.git</td>
      <td class="string">MIT</td>
      <td class="string">ngx-kjua</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/jfcere/ngx-markdown.git</td>
      <td class="string">MIT</td>
      <td class="string">ngx-markdown</td>
    </tr>
    <tr>
      <td class="string">git://github.com/openlayers/openlayers.git</td>
      <td class="string">BSD-2-Clause</td>
      <td class="string">ol</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/reactivex/rxjs.git</td>
      <td class="string">Apache-2.0</td>
      <td class="string">rxjs</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/sweetalert2/sweetalert2.git</td>
      <td class="string">MIT</td>
      <td class="string">sweetalert2</td>
    </tr>
    <tr>
      <td class="string">git+https://github.com/Microsoft/tslib.git</td>
      <td class="string">0BSD</td>
      <td class="string">tslib</td>
    </tr>
    <tr>
      <td class="string">
        https://registry.npmjs.org/twemoji-parser/-/twemoji-parser-13.1.0.tgz
      </td>
      <td class="string">MIT</td>
      <td class="string">twemoji-parser</td>
    </tr>
    <tr>
      <td class="string">git://github.com/angular/angular.git</td>
      <td class="string">MIT</td>
      <td class="string">zone.js</td>
    </tr>
  </tbody>
</table>
