<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Votação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Votação</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Eleições CACiC 2024 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Abertura: 01 de abril de 2024 às 08:00</p>
      <p>Encerramento: 01 de abril de 2024 às 17:00</p>

      <ion-button>
        <ion-icon slot="start" name="arrow-forward"></ion-icon>
        Votar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Eleições CACiC 2024 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Abertura: 01 de abril de 2024 às 08:00</p>
      <p>Encerramento: 01 de abril de 2024 às 17:00</p>

      <ion-button disabled>
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Votou
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
