<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita/gerenciar-grandes-eventos"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciar inscrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (subscription$ | async; as subscription) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ (userData$ | async)?.fullName || (userData$ | async)?.displayName }} - {{ subscription.payment.price |
        currency:'BRL':'symbol':'1.2-2' }}
      </ion-card-title>
      <!-- prettier-ignore -->
      <ion-card-subtitle>
          Se inscreveu em: {{ dateService.getDateFromTimestamp(subscription.time) | date:'dd/MM/yy - HH:mm' }}
          <br />
          Última alteração na inscrição: {{ dateService.getDateFromTimestamp(subscription.payment.time) | date:'dd/MM/yy - HH:mm' }}
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      @if (eventsUserIsSubscribedTo$ | async; as subEventsInfo) { @if (subEventsInfo.length !== 0) { @for (subEventInfo
      of subEventsInfo; track subEventInfo) {
      <div class="margin-bottom-24">
        @if (subEventInfo) {
        <ion-text [color]="subEventInfo.slotsAvailable? '' : 'danger'">
          <p>{{ subEventInfo.name }}: {{ subEventInfo.slotsAvailable }} vagas disponíveis.</p>
          <p>
            {{ dateService.getDateFromTimestamp(subEventInfo.eventStartDate) | date:'dd/MM/yy - HH:mm' }} - {{
            subEventInfo.eventEndDate ? (dateService.getDateFromTimestamp(subEventInfo.eventEndDate) | date:'HH:mm') :
            'Término indefinido' }}
          </p>
          <p>{{ subEventInfo.id }}</p>
        </ion-text>
        }
      </div>
      } } } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      }
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Presenças do usuário</ion-card-title></ion-card-header>
    @if (eventsUserAttended$ | async; as eventsUserAttended) { @for (attendance of eventsUserAttended; track attendance)
    {
    <ion-card-content>
      <ion-text color="success">
        <ion-icon name="checkmark-circle-outline" class="alert-icon" aria-hidden="true"></ion-icon>
        <span class="alert-text"> O usuário compareceu ao evento {{ attendance }}. </span>
      </ion-text>
    </ion-card-content>
    } }@for (attendance of eventsUserAttendedNotPaying$ | async; track attendance) {
    <ion-card-content>
      <ion-text color="danger">
        <ion-icon name="warning-outline" class="alert-icon" aria-hidden="true"></ion-icon>
        <span class="alert-text"> O usuário não pagou a inscrição para o evento {{ attendance }}. </span>
      </ion-text>
    </ion-card-content>
    }
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="ion-padding">
        <h2>Gerenciar inscrição</h2>
        <ion-button color="danger" (click)="deleteSubscriptionAlert()">
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Deletar inscrição</ion-label>
        </ion-button>
        <p>Deleta a inscrição e libera a vaga dos eventos</p>
      </div>
      @if (subscription.payment.status === 2) {
      <div class="ion-padding">
        <h2>Para inscrições com comprovante já validado</h2>
        <ion-button color="danger" (click)="forceSubscriptionEdit()">
          <ion-icon name="pencil" slot="start"></ion-icon>
          <ion-label>Exigir edição dos eventos, mantendo comprovante enviado na fila</ion-label>
        </ion-button>
        <p>Deleta todas as inscrições e libera a vaga dos eventos</p>
      </div>
      }
    </ion-card-content>
  </ion-card>
  } @else {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }
</ion-content>
