<ion-list>
  <ion-item>
    <ion-label>
      <h1>Dados não vinculados a você</h1>
      <p>Os seguntes dados podem ser coletados, mas não estão vinculados à sua identidade:</p>
    </ion-label>
  </ion-item>
  <h4 class="ion-padding-horizontal">Análise</h4>
  <ion-item>
    <ion-icon aria-hidden="true" name="navigate-outline" slot="start"></ion-icon>
    <ion-label>
      Localização
      <br />
      <ion-note> Localização aproximada </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="search-outline" slot="start"></ion-icon>
    <ion-label> Histórico de buscas </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="analytics-outline" slot="start"></ion-icon>
    <ion-label>
      Informações de uso
      <br />
      <ion-note> Interações com o aplicativo </ion-note>
    </ion-label>
  </ion-item>
</ion-list>
