<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Confirmar criação do grupo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="dataForm">
      <ion-item>
        <ion-input
          label="Nome do grupo"
          labelPlacement="stacked"
          type="text"
          formControlName="groupDisplayName"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <ion-list>
    @for (event of eventGroup; track event; let i = $index) {
      <ion-item>
        <img [src]="emojiService.getEmoji(event.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                <h1 class="ion-text-wrap">{{ event.name }}</h1>
                <h4 class="date-item">
                  Data do evento: {{ dateService.getDateFromTimestamp(event.eventStartDate) | date: 'dd/MM HH:mm' }}
                  {{
                    event.eventEndDate
                      ? ' - ' + (dateService.getDateFromTimestamp(event.eventEndDate) | date: 'dd/MM HH:mm')
                      : ''
                  }}
                </h4>
                @if (i === 0) {
                  <h4>Evento principal</h4>
                }
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    }
  </ion-list>
  <div class="ion-padding">
    <ion-button [disabled]="!dataForm.valid" expand="block" (click)="createGroup()">Criar grupo</ion-button>
  </div>
</ion-content>
