<ion-content>
  <ion-list style="max-width: 1600px; display: block" class="margin-horizontal-auto">
    <ng-container *ngIf="items$ | async; let items; else: loading">
      <ion-button
        (click)="loadOlderEvents()"
        expand="block"
        [disabled]="loadOlderCount > 3"
        style="max-width: 600px; display: block"
        class="margin-horizontal-auto">
        <ion-label> Mostrar eventos mais antigos </ion-label>
      </ion-button>
      <ng-container *ngFor="let item of items; index as i">
        <ion-list-header
          mode="ios"
          *ngIf="i == 0 || !monthCompare(items[i - 1].eventStartDate, items[i].eventStartDate)">
          <ion-label>{{ formatMonth(getDateFromTimestamp(item.eventStartDate)) }}</ion-label>
        </ion-list-header>

        <ion-item-divider
          mode="ios"
          sticky="true"
          *ngIf="i == 0 || !dayCompare(items[i - 1].eventStartDate, items[i].eventStartDate)">
          <ion-label>
            {{ formatDate(getDateFromTimestamp(item.eventStartDate)) }}
          </ion-label>
        </ion-item-divider>
        <ion-item
          (click)="openItem(item)"
          style="cursor: pointer"
          [style.--background]="courses[item.course] ? courses[item.course].color + '25' : undefined">
          <img [src]="getEmoji(item.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />

          <ion-label>
            <h2 class="ion-text-wrap">{{ item.name }}</h2>
            <h3 class="ion-text-wrap">{{ item.shortDescription }}</h3>
            <p *ngIf="courses[item.course]" class="ion-text-wrap">
              {{ courses[item.course].name }}
            </p>
          </ion-label>
          <div slot="end">
            <h4 style="font-weight: 400; margin: 5px 0 0 0" class="ion-text-center">
              {{ getDateFromTimestamp(item.eventStartDate) | date: 'HH:mm' }}
            </h4>
            <ng-container *ngIf="item.eventEndDate">
              <p style="font-size: 10px; margin: 0" class="ion-text-center">–</p>
              <h4 style="font-weight: 400; margin: 0 0 5px 0" class="ion-text-center">
                {{ getDateFromTimestamp(item.eventEndDate) | date: 'HH:mm' }}
              </h4>
            </ng-container>
          </div>
        </ion-item>
      </ng-container>

      <h1 *ngIf="items.length === 0" class="ion-text-center">Nenhum evento encontrado</h1>
    </ng-container>

    <ng-template #loading>
      <ion-button
        expand="block"
        disabled="true"
        style="max-width: 600px; display: block"
        class="margin-horizontal-auto">
        <ion-label> <ion-skeleton-text animated style="width: 200px"> </ion-skeleton-text> </ion-label>
      </ion-button>

      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ng-template>
  </ion-list>
</ion-content>
