<ion-content>
  <ion-list style="max-width: 1600px; display: block" class="margin-horizontal-auto">
    <ng-container>
      <div *ngIf="items$ | async; let items; else: loading">
        <ion-button
          (click)="loadOlderEvents()"
          expand="block"
          [disabled]="loadOlderCount > 3"
          style="max-width: 600px; display: block"
          class="margin-horizontal-auto">
          <ion-label> Mostrar eventos antigos </ion-label>
        </ion-button>
        <ng-container *ngFor="let item of items; index as i">
          <ion-list-header mode="ios" *ngIf="i == 0 || !monthCompare(items[i - 1].date, items[i].date)">
            <ion-label>{{ formatMonth(getDateFromTimestamp(item.date)) }}</ion-label>
          </ion-list-header>

          <ion-item-divider mode="ios" sticky="true" *ngIf="i == 0 || !dayCompare(items[i - 1].date, items[i].date)">
            <ion-label>
              {{ formatDate(getDateFromTimestamp(item.date)) }}
            </ion-label>
          </ion-item-divider>
          <ion-item
            (click)="openItem(item)"
            style="cursor: pointer"
            [style.--background]="courses[item.course] ? courses[item.course].color + '25' : undefined">
            <img [src]="getEmoji(item.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />

            <ion-label>
              <h2 class="ion-text-wrap">{{ item.name }}</h2>
              <h3 class="ion-text-wrap">{{ item.shortDescription }}</h3>
              <p *ngIf="courses[item.course]">
                {{ courses[item.course].name }}
              </p>
            </ion-label>
            <div slot="end">
              <h4 style="font-weight: 400">
                {{ getDateFromTimestamp(item.date) | date: 'HH:mm' }}
              </h4>
            </div>
          </ion-item>
        </ng-container>

        <h1 *ngIf="items.length === 0" class="ion-text-center">Nenhum evento encontrado</h1>
      </div>

      <ng-template #loading>
        <ion-list>
          <ion-list-header>
            <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
          </ion-list-header>
          <ion-item-divider mode="ios" sticky="true">
            <ion-label>
              <ion-skeleton-text animated style="width: 200px"></ion-skeleton-text>
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let number of [0, 1]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
            <div slot="end">
              <h4>
                <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
              </h4>
            </div>
          </ion-item>
        </ion-list>
      </ng-template>
    </ng-container>
  </ion-list>
</ion-content>
