<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Calouros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <!-- prettier-ignore -->
  <div class="ion-text-justify markdown-container bg-confetti-animated" style="padding-top: 50px;">
    <markdown ngPreserveWhitespaces>
      # Seja bem-vindo à Unesp! 
      
      Parabéns por ter ingressado em uma **universidade pública, gratuita e de qualidade**!  
      Prestigiada nos rankings, a Unesp é uma das principais universidades do Brasil, sendo responsável por grande parte da produção científica na américa latina.

      # Tá, mas e agora?
  
      Ao ingressar em uma universidade pela primeira vez, é normal que você esteja confuso! Você pode contar com o CACiC, os veterenos e esta página para solucionar as suas dúvidas!  
      Nos passos abaixo, confira o que você precisa fazer.
    </markdown>

    <app-steps-accordion></app-steps-accordion>

    <markdown ngPreserveWhitespaces>
      # Manual do calouro

      O que é FCT–Unesp, os CAs e movimento estudantil?  
      Quais são os meus direitos e obrigações como aluno?  
      Como a faculdade está organizada?  
      Como é morar em Presidente Prudente?
      
      As respostas para tudo isso e muito mais, você encontra no [manual do calouro](/manual-do-calouro).

      # Tenho dúvidas, com quem eu falo?
      Veja se sua dúvida já não foi respondida na seção "Perguntas frequentes".  
      Caso ela não tenha sido respondida, entre em contato com o Centro Acadêmico do seu curso para obter a resposta.  
      Para adicionar a resposta nesta página, entre em contato com o CACiC pelo [Instagram](https://instagram.com/cacic.fct), [Facebook](https://fb.com/cacic.fct) ou [e-mail](mailto:cacic.fct@gmail.com).

      # Perguntas frequentes
      </markdown>

      <app-faq-accordion></app-faq-accordion>

      <markdown ngPreserveWhitespaces>
      # Grupos e páginas      
      - [Página do Diretório Acadêmico](https://fb.com/D.A.03deMaio)
      
      - [Instagram da Atlética](https://instagram.com/atleticaprudente)
      - [Instagram da Bateria Furiosa](https://instagram.com/bateriafuriosa)
      - [Instagram do Pegasus Cheerleading](https://instagram.com/pegasus_pp)


      - [Grupo do curso no Facebook](https://fb.com/groups/344931122192689)
      - [Grupo do câmpus no Facebook](https://fb.com/groups/173312349380662)


      -  Repúblicas 🏘️
          - https://fb.com/groups/244100142374489
          - https://fb.com/groups/325568517565563
          - https://fb.com/groups/337925502946802
      
      - Aluguéis 🏡
          - https://fb.com/groups/410086292374327
          - https://fb.com/groups/1619138601700458
      </markdown>
  </div>
</ion-content>
