.qr-code {
  padding: 10px 10px 20px 10px;
  background-color: #fff;
  display: block;
}

.info-text {
  display: inline-block;
  vertical-align: middle;
}

.info-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
