<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Seu perfil</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="'./settings'">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center ion-padding-horizontal ion-padding-top">
      <ion-avatar class="margin-horizontal-auto">
        <img [src]="user.photoURL" />
      </ion-avatar>
      <ion-card-title>
        <h2 class="margin-horizontal-auto">{{user.displayName}}</h2>
        <p class="margin-horizontal-auto" style="font-size: 20px">{{user.email}}</p>
        <ng-container *ngIf="academicID$ | async">
          <p class="ion-text-wrap" style="margin-bottom: 0">{{ courses.getCourse(academicID$ | async) }}</p>
        </ng-container>
      </ion-card-title>
    </div>

    <qr-code
      class="qr-code ion-text-center"
      [value]="'uid:' + (uid$ | async)"
      size="320"
      errorCorrectionLevel="H"></qr-code>
  </ion-card>
</ion-content>
