<ion-tabs>
  <ion-tab-bar slot="bottom" id="tabBar">
    <ion-tab-button tab="calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="this.events$ | async" tab="eventos">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="this.map$ | async" tab="mapa">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="this.manual$ | async" href="/manual-do-calouro">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Manual do calouro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="area-restrita" *ngIf="isAdmin$ | async">
      <ion-icon name="hand-right-outline"></ion-icon>
      <ion-label>Área restrita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
