<ion-header>
  <ion-toolbar>
    <ion-title>Registrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      @if (isUnesp) {
      <ion-item>
        <ion-input class="ion-text-wrap" type="text" value="{{userData.displayName}}" label="Nome completo" readonly>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="ion-text-wrap" type="text" value="{{userData.email}}" label="E-mail" readonly> </ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          label="Vínculo"
          formControlName="associateStatus"
          interface="popover"
          placeholder="Selecione seu vínculo"
          (ionChange)="selectionChange($event)">
          <ion-select-option value="undergraduate">Aluno da graduação</ion-select-option>
          <ion-select-option value="graduate">Aluno da pós-graduação</ion-select-option>
          <ion-select-option value="professor">Professor</ion-select-option>
          <ion-select-option value="adjunctprofessor">Professor substituto</ion-select-option>
          <!-- TODO: servidor técnico-administrativo muito longo, está sendo cortado -->
          <ion-select-option value="employee">Servidor técnico-administrativo</ion-select-option>
          <ion-select-option value="other">Outro</ion-select-option>
        </ion-select>
      </ion-item>
      @if (isUndergraduate) {
      <ion-item>
        <ion-input
          class="ion-text-wrap"
          label="Registro acadêmico"
          formControlName="academicID"
          inputmode="numeric"
          type="text"
          placeholder="RA"
          minlength="9"
          maxlength="9"
          required="true">
        </ion-input>
      </ion-item>
      } } @else {
      <ion-item>
        <ion-input class="ion-text-wrap" label="Nome da conta" type="text" value="{{userData.displayName}}" readonly>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-wrap"
          label="Nome completo"
          helperText="Usamos o seu nome completo para a geração de certificados de participação"
          type="text"
          value="{{userData.fullName}}"
          formControlName="fullName"
          placeholder="Sem abreviações">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="ion-text-wrap" label="E-mail" type="text" value="{{userData.email}}" readonly> </ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="ion-text-wrap" label="Vínculo com a Unesp" type="text" value="Não possui" readonly>
        </ion-input>
      </ion-item>
      }

      <ion-item>
        <ion-input
          class="ion-text-wrap"
          label="CPF"
          helperText="Usamos seu CPF apenas para a geração de certificados de participação"
          errorText="CPF inválido"
          formControlName="cpf"
          inputmode="numeric"
          maxlength="14"
          (ionChange)="formatCPF()">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-wrap"
          label="Celular"
          formControlName="phone"
          inputmode="numeric"
          type="tel"
          autocomplete="tel"
          placeholder="DDD e número"
          minlength="13"
          maxlength="13"
          (ionChange)="formatPhone()">
        </ion-input>
      </ion-item>

      @if (isUnesp) {
      <p class="ion-padding-horizontal footnote">
        Para não perder o acesso à sua conta quando o seu e-mail institucional for desativado, vincule o seu e-mail
        pessoal nas configurações do perfil.
      </p>
      }

      <p class="ion-padding-horizontal footnote">
        Poderemos entrar em contato para confirmar ou complementar estas informações ou para informar sobre eventuais
        problemas com pagamentos.
      </p>

      <p class="ion-padding-horizontal footnote">
        Se você está tendo problemas com a sua inscrição,
        <a (keypress)="mailtoIssues()" (click)="mailtoIssues()" tabindex="0">entre em contato com o CACiC</a>.
      </p>

      <p class="ion-padding-horizontal footnote">
        Se você não possui CPF ou um número de celular brasileiro,
        <a (keypress)="mailtoDocumentPhone()" (click)="mailtoDocumentPhone()" tabindex="0"
          >entre em contato com o CACiC</a
        >.
      </p>

      <ion-button expand="block" id="continue-button" type="submit" [disabled]="!this.dataForm.valid">
        Continuar
      </ion-button>
    </form>
  </ion-grid>
  <swal
    #mySwal
    title="Dados registrados"
    icon="success"
    [heightAuto]="false"
    [showCancelButton]="false"
    [showCloseButton]="false"
    [showConfirmButton]="false"></swal>
</ion-content>
