<ion-header>
  <ion-toolbar>
    <ion-title>Área restrita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item routerLink="./coletar-presenca">
      <ion-icon name="qr-code-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Coleta e listagem de presenças</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="./gerenciar-admins">
      <ion-icon name="people-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Gerenciar administradores</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
