<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <!-- Display app name instead of page title so user knows where they are logging in -->
    <ion-title>{{gc.appName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <span class="title">Entrar</span>
        <p class="subtitle">Se você possui vínculo com a Unesp, utilize o seu e&#8209;mail&nbsp;institucional</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-google-button></app-google-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="legal-footer">
    <a [routerLink]="['/privacidade']">Política de privacidade</a>
  </div>
</ion-content>
