.file-input {
  display: none;
}

ion-card-content {
  padding-left: 0;
  padding-right: 0;
}

ion-card-header {
  padding-bottom: 0;
}

.img-container {
  overflow: scroll;

  img {
    max-width: 400px;
    margin: 0 auto;
    display: block;

    @media (max-width: 410px) {
      max-width: 300px;
    }
  }
}
