<ng-container *ngIf="eventInput | async as eventsArray; else loadingSpinner">
  <p *ngIf="eventsArray.length === 0">Você inscreveu-se em todos os eventos</p>
  <ng-container *ngFor="let event of eventsArray; index as i">
    <ion-item-divider
      mode="ios"
      sticky="true"
      *ngIf="i == 0 || !dateService.compareDayTimestamp(eventsArray[i - 1].eventStartDate, event.eventStartDate)">
      <ion-label class="wrap-no-change">
        {{ formatDate(dateService.getDateFromTimestamp(event.eventStartDate)) }}
      </ion-label>
    </ion-item-divider>

    <ion-list>
      <!-- TODO: Remova-me -->
      <ion-item>
        <img [src]="emojiService.getEmoji('🤔')" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />
        <ion-label>
          <h2 class="ion-text-wrap">TODO: Remova-me</h2>
          <h3 class="ion-text-wrap">Exemplo de presença</h3>
          <h3>25:00 às 26:00</h3>
          <h3><ion-icon name="checkmark" class="attendance-checkmark-icon"></ion-icon> Presente</h3>
        </ion-label>
      </ion-item>
      <!----------------->
      <ion-item [routerLink]="['evento', event.id]" routerDirection="forward">
        <img [src]="emojiService.getEmoji(event.icon)" class="twemoji" slot="start" aria-hidden="true" loading="lazy" />
        <ion-label>
          <h2 class="ion-text-wrap">{{ event.name }}</h2>
          <h3 class="ion-text-wrap">{{ event.shortDescription }}</h3>
          <h3>
            {{ dateService.getDateFromTimestamp(event.eventStartDate) | date : 'HH:mm' }}
            {{ event.eventEndDate && ' às ' + (dateService.getDateFromTimestamp(event.eventEndDate) | date : 'HH:mm') }}
          </h3>
          <!-- TODO: Indicar se o usuário esteve presente ou não -->
          <ng-container *ngIf="isSubscribedList"></ng-container>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-container>

<ng-template #loadingSpinner>
  <ion-spinner name="dots" style="margin: 0 auto; display: block"></ion-spinner>
</ng-template>
