<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inscrição</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/eventos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (majorEvent$| async; as majorEvent) {

  <div class="event-container">
    <app-major-event-info-subscription [majorEvent]="majorEvent"></app-major-event-info-subscription>

    <div class="card-section ion-padding-horizontal">
      @if (!majorEvent.price.single) {
      <ion-item>
        <ion-select
          label="Tipo de inscrição"
          placeholder="Selecionar"
          [(ngModel)]="opSelected"
          [disabled]="paymentStatus !== undefined">
          @if (majorEvent.price.students) {
          <ion-select-option value="0">{{ enrollmentTypes.getEnrollmentType(0) }}</ion-select-option>
          } @if (majorEvent.price.otherStudents) {
          <ion-select-option value="1">{{ enrollmentTypes.getEnrollmentType(1) }}</ion-select-option>
          } @if (majorEvent.price.professors) {
          <ion-select-option value="2">{{ enrollmentTypes.getEnrollmentType(2) }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      }
      <!-- prettier-ignore -->
      @if (majorEvent.maxCourses && majorEvent.maxCourses > 0) {
      <p>
        {{ formComponent.amountOfCoursesSelected() | number: '2.0-0' }} de {{ majorEvent.maxCourses | number: '2.0-0' }}
        minicursos selecionados
      </p>
      } @if (majorEvent.maxLectures && majorEvent.maxLectures > 0) {
      <p>
        {{ formComponent.amountOfLecturesSelected() | number: '2.0-0' }} de {{ majorEvent.maxLectures | number: '2.0-0'
        }} palestras selecionados
      </p>
      } @if (formComponent.amountOfUncategorizedSelected() > 0) {
      <p>
        {{ formComponent.amountOfUncategorizedSelected() | number: '2.0-0' }} eventos não categorizados selecionados
      </p>
      }
      <p>
        <ion-text color="danger">
          <ion-icon name="warning-outline" class="alert-icon" aria-hidden="true"></ion-icon>
          <span class="alert-text ion-text-wrap"> Verifique os pré-requisitos nas descrições dos eventos </span>
        </ion-text>
      </p>
      <p>
        <ion-text color="danger">
          <ion-icon name="warning-outline" class="alert-icon" aria-hidden="true"></ion-icon>
          <span class="alert-text ion-text-wrap">
            Ao inscrever-se, você concorda com o
            <a href="https://cacic.dev.br/kb/CACiC/Legal/Licen%C3%A7a%20de%20uso%20de%20imagem">
              contrato de licença de uso de imagem</a
            >.
          </span>
        </ion-text>
      </p>
    </div>

    <app-event-list-form
      #formComponent
      [majorEvent$]="majorEvent$"
      [majorEventID]="majorEventID"
      [isAlreadySubscribed]="isAlreadySubscribed"
      [user$]="user$"
      [maxCourses]="maxCourses"
      [maxLectures]="maxLectures"
      [events$]="events$"
      [mandatoryEvents]="mandatoryEvents"></app-event-list-form>
  </div>

  } @else {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onSubmit()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<swal
  #successSwal
  title="Inscrição realizada"
  icon="success"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #errorSwal
  title="Ocorreu um erro ao fazer sua inscrição"
  text="Verifique a sua conexão com a internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>

<swal
  #eventNotFound
  title="Evento inexistente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #eventOutOfSubscriptionDate
  title="Fora da data de inscrição"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #alreadySubscribed
  title="Você já está inscrito neste evento"
  icon="warning"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #maxChanged
  title="As informações do evento foram atualizadas"
  text="Selecione os itens novamente"
  icon="warning"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>
