<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sobre"></ion-back-button>
    </ion-buttons>
    <ion-title>Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item href="https://cacic-fct.github.io/fct-app-docs" target="_blank">
      <ion-icon name="book-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label class="ion-text-wrap">Documentação</ion-label>
    </ion-item>
    <ion-item href="mailto:cacic.fct@gmail.com?subject=Contato%20sobre%20o%20aplicativo%20FCT%20App">
      <ion-icon name="code-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label class="ion-text-wrap">Entre em contato com os desenvolvedores</ion-label>
    </ion-item>
    @if (serviceWorkerActive) {
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-icon name="hammer-outline" slot="start" aria-hidden="true"></ion-icon>
          <ion-label class="ion-text-wrap">Opções avançadas</ion-label>
        </ion-item>
        <ion-list slot="content">
          <div class="ion-padding-horizontal">
            <ion-text color="danger" class="ion-padding-horizontal">
              <ion-icon name="warning-outline" class="alert-icon" aria-hidden="true"></ion-icon>
              <span class="alert-text ion-text-wrap">
                Somente utilize estas opções se você souber o que está fazendo
              </span>
            </ion-text>
          </div>
          <ion-item class="ion-padding-start" href="/ngsw/state" button="true">
            <ion-icon name="document-text-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label class="ion-text-wrap">Visualizar estado do Service Worker</ion-label>
          </ion-item>
          <ion-item class="ion-padding-start" (click)="alertUpdate()" button="true">
            <ion-icon name="refresh-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label class="ion-text-wrap">Forçar atualização do Service Worker</ion-label>
          </ion-item>
          <ion-item class="ion-padding-start" (click)="alertUnregister()" button="true">
            <ion-icon name="ban-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label class="ion-text-wrap">Cancelar o registro do Service Worker</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    }
  </ion-card>
</ion-content>
