<ion-card-header>
  <ion-card-title>{{ majorEvent.name }}</ion-card-title>
</ion-card-header>
@if (majorEvent.description) {
  <ion-card-content>
    <p class="ion-text-justify event-description">{{ majorEvent.description }}</p>
  </ion-card-content>
}
<div class="card-section ion-padding-horizontal">
  <div class="card-label">
    <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
    Datas
  </div>
  <ion-item lines="none">
    Evento
    <span slot="end">
      {{ dateService.getDateFromTimestamp(majorEvent.eventStartDate) | date: 'dd/MM' }}
      {{
        majorEvent.eventEndDate && '- ' + (dateService.getDateFromTimestamp(majorEvent.eventEndDate) | date: 'dd/MM')
      }}
    </span>
  </ion-item>
  @if (majorEvent.subscriptionStartDate && majorEvent.subscriptionEndDate) {
    <ion-item lines="none">
      Inscrição
      <span slot="end">
        {{ dateService.getDateFromTimestamp(majorEvent.subscriptionStartDate) | date: 'dd/MM' }}
        {{
          majorEvent.subscriptionEndDate &&
            '- ' + (dateService.getDateFromTimestamp(majorEvent.subscriptionEndDate) | date: 'dd/MM')
        }}
      </span>
    </ion-item>
  }
</div>
@if (majorEvent.price) {
  <div class="card-section ion-padding-horizontal">
    <div class="card-label">
      <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
      Valores
    </div>
    @if (majorEvent.price.isFree) {
      <ion-item lines="none">
        <ion-label>Gratuito</ion-label>
      </ion-item>
    } @else {
      @if (majorEvent.price.single) {
        <ion-item lines="none">
          Preço único
          <span slot="end">{{ majorEvent.price.single | currency: 'BRL' }}</span>
        </ion-item>
      } @else {
        @if (majorEvent.price.students) {
          <ion-item lines="none">
            {{ enrollmentTypes.getEnrollmentType(0) }}
            <span slot="end">{{ majorEvent.price.students | currency: 'BRL' }}</span>
          </ion-item>
        }
        @if (majorEvent.price.otherStudents) {
          <ion-item lines="none">
            {{ enrollmentTypes.getEnrollmentType(1) }}
            <span slot="end">{{ majorEvent.price.otherStudents | currency: 'BRL' }}</span>
          </ion-item>
        }
        @if (majorEvent.price.professors) {
          <ion-item lines="none">
            {{ enrollmentTypes.getEnrollmentType(2) }}
            <span slot="end">{{ majorEvent.price.professors | currency: 'BRL' }}</span>
          </ion-item>
        }
      }
    }
  </div>
}
