<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Possui vínculo com a FCT-Unesp?</ion-label>
      <ion-toggle
        [checked]="isUnesp"
        (ionChange)="isUnespFun($event.detail.checked)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
