DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
REDIS_URL="redis://localhost:6379/0"

KEYCLOAK_REALM_URL="https://sso.cacic.dev.br/realms/cacic-sso"
KEYCLOAK_CLIENT_ID="cacic-event-manager"
KEYCLOAK_CLIENT_SECRET="0wldLGzE6fi9jMEHSpPYiZPFIpRJkkvU"
KEYCLOAK_REDIRECT_URI="http://localhost:3000/api/auth/callback"
KEYCLOAK_POST_LOGIN_REDIRECT_URI="http://localhost:4200"
KEYCLOAK_POST_LOGOUT_REDIRECT_URI="http://localhost:4200"
KEYCLOAK_INTROSPECTION_CACHE_TTL_MS="10000"

TYPESENSE_ENABLED="false"
TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_API_KEY="xyz"
