<ion-header>
  <ion-toolbar>
    <ion-title>page-calendar-event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col
            size-xs="12"
            size-sm="12"
            size-md="12"
            size-lg="12"
            size-xl="12">
            <svg width="90" height="90">
              <image
                xlink:href="https://raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f5fa.svg"
                width="90"
                height="90" />
            </svg>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- event title-->
          <ion-col
            size-xs="12"
            size-sm="12"
            size-md="12"
            size-lg="12"
            size-xl="12">
            <h1>Integração com veteranos</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- event subtitle -->
          <ion-col
            size-xs="12"
            size-sm="12"
            size-md="12"
            size-lg="12"
            size-xl="12">
            <h2>Engenharia cartográfica</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- event date -->
          <ion-col
            size-xs="12"
            size-sm="12"
            size-md="12"
            size-lg="12"
            size-xl="12">
            <h3>Terça-feira, 1 de março de 2022</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- event hour -->
          <ion-col
            size-xs="12"
            size-sm="12"
            size-md="12"
            size-lg="12"
            size-xl="12">
            <h4>16:00 - 17:00</h4>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- event description -->
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <h2>Sobre</h2>
        <p>Waaaaaa</p>
      </ion-col>
    </ion-row>

    <!-- event map -->
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <h2>Localização</h2>
        <div id="map">MAPAAA</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
