<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margin-horizontal-auto content-container ion-padding">
    <img
      class="margin-horizontal-auto"
      style="width: 72px; height: 72px; display: block; padding: 10px"
      [src]="getEmoji(item.icon) "
      (click)="presentToast()" />

    <div class="ion-text-center">
      <h1 style="margin: 0">{{ item?.name }}</h1>
      <h5 style="margin: 0; margin-bottom: 5px; font-weight: 500">
        {{ item?.shortDescription }}
      </h5>
      <h5 style="margin: 0; margin-bottom: 5px; font-weight: 500">
        {{ getCourse() }}
      </h5>
      <h4 style="margin: 0; font-weight: 400">
        <!-- prettier-ignore -->
        {{ toUppercase(getDateFromTimestamp(item?.date) | date: "EEEE, dd 'de' MMMM 'de' y") }}
      </h4>
      <h3 style="margin: 0; font-weight: 400">
        {{ getDateFromTimestamp(item?.date) | date: 'HH:mm' }}
      </h3>
    </div>

    <div *ngIf="item?.description">
      <h2>Sobre</h2>
      <p>{{ item?.description }}</p>
    </div>

    <div *ngIf="item?.location">
      <h2>Localização</h2>

      <div *ngIf="item?.location.description">
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>{{ item?.location.description }}</ion-label>
        </ion-item>
      </div>

      <div
        id="ol-map"
        class="map-container"
        *ngIf="item?.location.lat && item?.location.lng"></div>
    </div>

    <div *ngIf="item?.button">
      <ion-button expand="block" color="primary" [href]="item?.button.url"
        >{{ item.button.text ? item.button.text : 'Acompanhe o evento' }}</ion-button
      >
    </div>

    <div *ngIf="item?.youtubeCode">
      <h2>Transmissão do evento</h2>
      <iframe
        width="400"
        height="225"
        [src]="'https://www.youtube-nocookie.com/embed/' + item?.youtubeCode | safe: 'resourceUrl'"
        title="YouTube"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</ion-content>
