<div class="flex-card">
  @for (ejContact of contacts; track ejContact) {
    <ion-card class="card-item">
      <ion-card-header>
        <ion-card-title>{{ ejContact.course }}</ion-card-title>
        <ion-card-subtitle>{{ ejContact.acronym }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div style="margin-left: -15px">
          @for (socialmedia of socialMedia | keyvalue; track socialmedia) {
            @if (ejContact.social[socialmedia.key]) {
              <ion-button
                [href]="socialmedia.value + ejContact.social[socialmedia.key]"
                target="_blank"
                attr.aria-label="{{ socialmedia.key }} de {{ ejContact.course }} "
                fill="clear">
                <ion-icon [name]="'logo-' + socialmedia.key"></ion-icon>
              </ion-button>
            }
          }
          @if (ejContact.email) {
            <ion-button
              href="mailto:{{ ejContact.email }}"
              attr.aria-label="E-mail da empresa júnior do curso de {{ ejContact.course }}"
              fill="clear">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
          }
          @if (ejContact.website) {
            <ion-button
              [href]="ejContact.website"
              target="_blank"
              attr.aria-label="Website da empresa júnior do curso de {{ ejContact.course }}"
              fill="clear">
              <ion-icon name="globe-outline"></ion-icon>
            </ion-button>
          }
          @if (ejContact.phone) {
            <ion-button
              href="tel:{{ ejContact.phone }}"
              attr.aria-label="Telefone da empresa júnior do curso de {{ ejContact.course }}"
              fill="clear">
              <ion-icon name="call-outline"></ion-icon>
            </ion-button>
          }
        </div>
      </ion-card-content>
    </ion-card>
  }
</div>
