<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar inscrição</ion-title>
    <ion-buttons class="cancel-button-container" slot="end">
      <ion-button (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="event-container">
    @if (majorEvent$ | async; as majorEvent) {
      <ion-card-header>
        <ion-card-title>{{ majorEvent.name }}</ion-card-title>
      </ion-card-header>
      @if (majorEvent.description) {
        <ion-card-content>
          <p class="ion-text-justify event-description">{{ majorEvent.description }}</p>
        </ion-card-content>
      }
      <div class="card-section ion-padding-horizontal">
        <div class="card-label">
          <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
          Datas
        </div>
        <ion-item lines="none">
          Evento
          <span slot="end">
            {{ dateService.getDateFromTimestamp(majorEvent.eventStartDate) | date: 'dd/MM' }}
            {{
              majorEvent.eventEndDate &&
                '- ' + (dateService.getDateFromTimestamp(majorEvent.eventEndDate) | date: 'dd/MM')
            }}
          </span>
        </ion-item>
        @if (majorEvent.subscriptionStartDate && majorEvent.subscriptionEndDate) {
          <ion-item lines="none">
            Inscrição
            <span slot="end">
              {{ dateService.getDateFromTimestamp(majorEvent.subscriptionStartDate) | date: 'dd/MM' }}
              {{
                majorEvent.subscriptionEndDate &&
                  '- ' + (dateService.getDateFromTimestamp(majorEvent.subscriptionEndDate) | date: 'dd/MM')
              }}
            </span>
          </ion-item>
        }
      </div>
      @if (majorEvent.price) {
        <div class="card-section ion-padding-horizontal">
          <div class="card-label">
            <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
            Valores
          </div>
          @if (majorEvent.price.isFree) {
            <ion-item lines="none">
              <ion-label>Gratuito</ion-label>
            </ion-item>
          } @else {
            @if (majorEvent.price.single) {
              <ion-item lines="none">
                Preço único
                <span slot="end">{{ majorEvent.price.single | currency: 'BRL' }}</span>
              </ion-item>
            } @else {
              @if (subscriptionType === '0' && majorEvent.price.students) {
                <ion-item lines="none">
                  {{ enrollmentTypes.getEnrollmentType(0) }}
                  <span slot="end">{{ majorEvent.price.students | currency: 'BRL' }}</span>
                </ion-item>
              }
              @if (subscriptionType === '1' && majorEvent.price.otherStudents) {
                <ion-item lines="none">
                  {{ enrollmentTypes.getEnrollmentType(1) }}
                  <span slot="end">{{ majorEvent.price.otherStudents | currency: 'BRL' }}</span>
                </ion-item>
              }
              @if (subscriptionType === '2' && majorEvent.price.professors) {
                <ion-item lines="none">
                  {{ enrollmentTypes.getEnrollmentType(2) }}
                  <span slot="end">{{ majorEvent.price.professors | currency: 'BRL' }}</span>
                </ion-item>
              }
            }
          }
        </div>
      }
      <div class="card-section ion-padding-horizontal">
        <p>
          {{ minicursosCount | number: '2.0-0' }} de {{ majorEvent.maxCourses | number: '2.0-0' }} minicursos
          selecionados
        </p>
        <p>
          {{ palestrasCount | number: '2.0-0' }} de {{ majorEvent.maxLectures | number: '2.0-0' }} palestras
          selecionados
        </p>
      </div>
    } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }

    @if (eventsSelected; as eventsArray) {
      @for (event of eventsArray; track event; let i = $index) {
        @if (i == 0 || !dateService.compareDayTimestamp(eventsArray[i - 1].eventStartDate, event.eventStartDate)) {
          <ion-item-divider mode="ios" sticky="true">
            <ion-label> {{ formatDate(dateService.getDateFromTimestamp(event.eventStartDate)) }} </ion-label>
          </ion-item-divider>
        }
        <ion-list>
          <ion-item>
            <img
              [src]="emojiService.getEmoji(event.icon)"
              class="twemoji"
              slot="start"
              aria-hidden="true"
              loading="lazy" />
            <ion-label>
              <h3>{{ event.name }}</h3>
              <h4>
                {{ dateService.getDateFromTimestamp(event.eventStartDate) | date: 'HH:mm' }}
                {{
                  event.eventEndDate && ' às ' + (dateService.getDateFromTimestamp(event.eventEndDate) | date: 'HH:mm')
                }}
              </h4>
            </ion-label>
          </ion-item>
        </ion-list>
      }
    }

    <ion-button (click)="onSubmit()" class="submit-button">Confirmar</ion-button>
  </div>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>

<swal
  #errorSwal
  title="Ocorreu um erro ao criar a inscrição"
  text="Verifique a sua conexão à internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>
