<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar inscrição</ion-title>
    <ion-buttons class="cancel-button-container" slot="end">
      <ion-button (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="event-container">
    @if (majorEvent$ | async; as majorEvent) {
      <app-major-event-info-subscription [majorEvent]="majorEvent"></app-major-event-info-subscription>

      <div class="card-section ion-padding-horizontal">
        <p>
          {{ minicursosCount | number: '2.0-0' }} de {{ majorEvent.maxCourses | number: '2.0-0' }} minicursos
          selecionados
        </p>
        <p>
          {{ palestrasCount | number: '2.0-0' }} de {{ majorEvent.maxLectures | number: '2.0-0' }} palestras
          selecionados
        </p>
      </div>
    } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }

    @if (displayEvents$ | async; as eventsArray) {
      @for (event of eventsArray; track event; let i = $index) {
        @if (i == 0 || !dateService.compareDayTimestamp(eventsArray[i - 1].eventStartDate, event.eventStartDate)) {
          <ion-item-divider mode="ios" sticky="true">
            <ion-label> {{ formatDate(dateService.getDateFromTimestamp(event.eventStartDate)) }} </ion-label>
          </ion-item-divider>
        }
        <ion-list>
          <ion-item>
            <img
              [src]="emojiService.getEmoji(event.icon)"
              class="twemoji"
              slot="start"
              aria-hidden="true"
              loading="lazy" />
            <ion-label>
              <h3>{{ event.name }}</h3>
              <h4>
                {{ dateService.getDateFromTimestamp(event.eventStartDate) | date: 'HH:mm' }}
                {{
                  event.eventEndDate && ' às ' + (dateService.getDateFromTimestamp(event.eventEndDate) | date: 'HH:mm')
                }}
              </h4>
            </ion-label>
          </ion-item>
        </ion-list>
      }
    }

    <ion-button (click)="onSubmit()" class="submit-button">Confirmar</ion-button>
  </div>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>

<swal
  #errorSwal
  title="Ocorreu um erro ao criar a inscrição"
  text="Verifique a sua conexão com a internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>
