<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nome do evento</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descrição do evento</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Emoji do evento</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data do evento</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Latitude</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Longitude</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button> Criar evento </ion-button>
</ion-content>
