<ion-tabs>
  <!-- TODO: Arrumar gambiarra -->
  @if (!this.router.url.match(regex)) {
  <ion-tab-bar slot="bottom" id="tabBar" [translucent]="true">
    @if (this.events$ | async) {
    <ion-tab-button tab="eventos">
      <ion-icon aria-hidden="true" name="albums"></ion-icon>
      <ion-label tabindex="0" class="sr-only" aria-label="Eventos" role="navigation"></ion-label>
    </ion-tab-button>
    } @if (this.map$ | async) {
    <ion-tab-button tab="mapa">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label tabindex="0" class="sr-only" aria-label="Mapa" role="navigation"></ion-label>
    </ion-tab-button>
    } @if (allowRestrictedArea()) {
    <ion-tab-button tab="area-restrita">
      <ion-icon aria-hidden="true" name="build-outline"></ion-icon>
      <ion-label tabindex="0" class="sr-only" aria-label="Ferramentas administrativas" role="navigation"></ion-label>
    </ion-tab-button>
    }

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      <ion-label tabindex="0" class="sr-only" aria-label="Menu" role="navigation"></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-tabs>
