<!-- prettier-ignore -->
<ion-list>
  <ion-accordion-group>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          Quando as aulas começarão?
          </ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Confira o [calendário do câmpus aqui](https://www.fct.unesp.br/#!/administracao/graduacao/espaco-do-aluno/).
        </markdown>
      </ion-list>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">Teremos aulas presenciais?</ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Acompanhe a retomada das atividades presenciais na página "[Pandemia da COVID-19](/pandemia)".
        </markdown>
      </ion-list>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          Quero concorrer a uma bolsa do Prouni, posso fazer minha matrícula na Unesp?
        </ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Sim. Enquanto você não aceitar a bolsa, você pode estar matriculado em uma universidade pública.
        </markdown>
      </ion-list>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          Como cancelo minha matrícula na Unesp?
        </ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Pelo mesmo site que você fez sua matrícula. [Clique aqui](https://sistemas.unesp.br/calouros).
        </markdown>
      </ion-list>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          Fui designado para prestar o serviço militar obrigatório
        </ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Caso não tenha tempo disponível para as atividades da faculdade, você pode solicitar a suspensão da sua matrícula, sem perder a sua vaga.  
          Tenha em mãos o seu certificado de incorporação e entre em contato com a [Seção Técnica de Graduação](mailto:graduacao.fct@unesp.br) informando o seu nome completo, curso e o motivo da suspensão.
        </markdown>
      </ion-list>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          A matrícula presencial é depois do inicío das aulas?
          </ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Sim.
        </markdown>
      </ion-list>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label class="ion-text-wrap">
          Onde encontro os meus documentos da faculdade?
          </ion-label>
      </ion-item>
      <ion-list slot="content">
        <markdown ngPreserveWhitespaces>
          Você pode emitir documentos, como o seu histórico escolar e atestado de matrícula, no [SISGRAD](https://auth.unesp.br/), em Solicitações > Documentos > Nova solicitação.
        </markdown>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-list>
