@import '../../styles/globals';

.item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: $lightTint;
  width: 100%;
  cursor: pointer;

  > p {
    text-align: start !important;
  }

  &:active {
    background-color: $lightShade;
  }

  &:hover {
    background-color: $light;
  }
}

.warningOption {
  >svg {
    transition: all 0s !important;
  }
  &:hover, &:active {
    background-color: $danger;
    >p {
      color: $dangerContrast !important;
    }
    >svg {
      fill: $dangerContrast !important;
      stroke: $dangerContrast !important;
      >path {
        stroke: $dangerContrast !important;
      }
    }
  }
}