<div class="bg-grey text-white" style="padding-bottom: 1px; padding-top: 30px">
  <div class="markdown-container ion-text-justify ion-padding-horizontal">
    <div class="ion-text-center" style="margin-top: 30px; margin-bottom: 20px">
      <h1 class="knewave movimento-estudantil-title">Movimento estudantil</h1>
      <h3 class="movimento-estudantil-subtitle ion-padding-horizontal">
        Estudantes,&nbsp;uni-vos! Juntos&nbsp;somos&nbsp;fortes!
      </h3>
    </div>
    <markdown
      [src]="
        'https://cdn.jsdelivr.net/gh/cacic-fct/manual-do-calouro@main/sections/movimento-estudantil.md'
      ">
    </markdown>
  </div>
</div>
<div
  style="width: 100%; padding-top: 32px; padding-bottom: 32px"
  class="bg-grey">
  <div class="markdown-container">
    <div class="bg-grey ion-padding-horizontal">
      <object
        class="margin-horizontal-auto"
        role="img"
        data="assets/manual-do-calouro/me-cartazes.svg"
        type="image/svg+xml"
        aria-label="Professores, alunos e funcionários unidos por uma educação de qualidade. Unesp presidente prudente."
        style="max-width: 1000px; display: block"></object>
    </div>
  </div>
</div>
