<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes"></ion-back-button>
    </ion-buttons>
    <ion-title>Conta CACiC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-max-width margin-horizontal-auto">
    <ion-card>
      <ion-item [routerLink]="['informacoes-pessoais']" button>
        <ion-icon name="id-card-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label>Informações pessoais</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item routerLink="provedores" button>
        <ion-icon name="log-in-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label>Gerenciar provedores de acesso</ion-label>
      </ion-item>
      <ion-item button lines="none">
        <ion-icon name="trash-outline" slot="start" aria-hidden="true" (click)="mailtoDeleteAccount()"></ion-icon>
        <ion-label>Excluir conta</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button lines="none" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
