<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inscricoes"></ion-back-button>
    </ion-buttons>
    <ion-title>Sua inscrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="majorEvent$ | async as majorEvent; else loading">
    <ng-container *ngIf="majorEventSubscription$ | async as majorEventSubscription">
      <div class="event-container">
        <app-major-event-display-header [majorEventItem]="majorEvent"></app-major-event-display-header>
        <app-major-event-display-description [majorEventItem]="majorEvent"></app-major-event-display-description>
        <app-major-event-display-date [majorEventItem]="majorEvent"></app-major-event-display-date>
        <app-major-event-display-price [majorEventItem]="majorEvent"></app-major-event-display-price>

        <div class="card-section ion-padding-horizontal" *ngIf="majorEvent.price">
          <div class="card-label">
            <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
            Valores
          </div>

          <ng-container *ngIf="majorEvent.price.isFree; else notFree">
            <ion-item lines="none">
              <ion-label>Gratuito</ion-label>
            </ion-item>
          </ng-container>

          <ng-template #notFree>
            <ng-container *ngIf="majorEvent.price.single; then singlePrice; else multiPrice"> </ng-container>
            <ion-item lines="none">
              Status
              <span slot="end">
                <ng-container *ngIf="majorEventSubscription.payment.status === 0">Não pago</ng-container>
                <ng-container *ngIf="majorEventSubscription.payment.status === 1">
                  <!-- prettier-ignore -->
                  Comprovante enviado em {{ dateService.getDateFromTimestamp(majorEventSubscription.payment.time) | date: 'dd/MM/yyyy' }}
                  <br />
                  Aguardando confirmação
                </ng-container>
                <ng-container *ngIf="majorEventSubscription.payment.status === 2">
                  <!-- prettier-ignore -->
                  Pagamento validado em {{ dateService.getDateFromTimestamp(majorEventSubscription.payment.time) | date: 'dd/MM/yyyy' }}
                </ng-container>
                <ng-container *ngIf="majorEventSubscription.payment.status === 3"> Erro no pagamento </ng-container>
                <ng-container *ngIf="majorEventSubscription.payment.status === 4"> Erro na inscrição </ng-container>
              </span>
            </ion-item>
          </ng-template>

          <ng-template #singlePrice>
            <ion-item lines="none">
              Preço único
              <span slot="end">{{ majorEvent.price.single | currency: 'BRL' }}</span>
            </ion-item>
          </ng-template>

          <ng-template #multiPrice>
            <ng-container
              *ngIf="majorEventSubscription.subscriptionType !== undefined || majorEventSubscription.subscriptionType !== null">
              <ion-item lines="none">
                {{ enrollmentTypes.getEnrollmentType(majorEventSubscription.subscriptionType) }}
                <span slot="end"> {{ majorEventSubscription.payment.price | currency: 'BRL' }} </span>
              </ion-item>
            </ng-container>
          </ng-template>
        </div>

        <div class="ion-padding">
          <h2>Inscrito</h2>
          <app-event-list [eventInput$]="subscribedEvents$"></app-event-list>

          <!-- TODO: Bugged, fix me -->
          <h2>Não inscrito</h2>
          <app-event-list [eventInput$]="notSubscribedEvents$"></app-event-list>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>

  <ng-template #loadingSpinner>
    <ion-spinner name="dots" style="margin: 0 auto; display: block"></ion-spinner>
  </ng-template>
</ion-content>
