<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Carteira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <swiper-container> -->
  <!-- <swiper-slide> -->
  @if (user$ | async; as user) {
  <ion-card class="margin-horizontal-auto">
    @if (userFirestore$ | async; as userFirestore) {
    <div class="ion-text-center ion-padding-horizontal ion-padding-top">
      <ion-avatar class="margin-horizontal-auto">
        <img [src]="user.photoURL" alt="Avatar do usuário" />
      </ion-avatar>
      <ion-card-title>
        <h2 class="margin-horizontal-auto">{{ (userFirestore$ | async)?.fullName || user.displayName }}</h2>
        <p class="margin-horizontal-auto no-margin-bottom font-20">{{ user.email }}</p>
        <p class="font-20 margin-vertical-auto">{{ userFirestore.phone }}</p>
        @if (user.email.includes('@unesp.br')) { @if ((userFirestore$ | async)?.academicID; as academicID) { @if
        (academicID) {
        <p class="ion-text-wrap no-margin-bottom">Graduação em {{ courses.getCourse(academicID) }}</p>
        } } @else {
        <p class="ion-text-wrap no-margin-bottom">{{ courses.getAssociateStatus(userFirestore.associateStatus) }}</p>
        } } @if (!user.email.includes('@unesp.br')) {
        <p class="ion-text-wrap no-margin-bottom">Comunidade externa</p>
        }
      </ion-card-title>
    </div>

    <object class="aztec-code margin-horizontal-auto" [innerHTML]="profileBarcode | safe: 'html'"></object>
    @if (serviceWorkerActive) {
    <div class="ion-text-center ion-padding">
      <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
      <span class="info-text">Esta página está disponível off-line</span>
    </div>
    } } @else {
    <ion-card>
      <ng-container>
        <div class="ion-text-center ion-padding-horizontal ion-padding-top">
          <ion-avatar class="margin-horizontal-auto">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-avatar>
          <ion-card-title>
            <h2>
              <ion-skeleton-text class="margin-horizontal-auto skeleton-1" [animated]="true"></ion-skeleton-text>
            </h2>
            <p class="no-margin-bottom">
              <ion-skeleton-text class="margin-horizontal-auto skeleton-2" [animated]="true"></ion-skeleton-text>
            </p>
            <p class="margin-vertical-auto">
              <ion-skeleton-text [animated]="true" class="margin-horizontal-auto skeleton-3"></ion-skeleton-text>
            </p>
          </ion-card-title>
        </div>
        <div class="aztec-code ion-text-center">
          <ion-skeleton-text [animated]="false" class="margin-horizontal-auto" id="skeleton-aztec"></ion-skeleton-text>
        </div>
      </ng-container>
    </ion-card>
    }
  </ion-card>
  } @else {
  <ion-card>
    <ng-container>
      <div class="ion-text-center ion-padding-horizontal ion-padding-top">
        <ion-avatar class="margin-horizontal-auto">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
        <ion-card-title>
          <h2>
            <ion-skeleton-text class="margin-horizontal-auto skeleton-1" [animated]="true"></ion-skeleton-text>
          </h2>
          <p class="no-margin-bottom">
            <ion-skeleton-text class="margin-horizontal-auto skeleton-2" [animated]="true"></ion-skeleton-text>
          </p>
          <p class="margin-vertical-auto">
            <ion-skeleton-text [animated]="true" class="margin-horizontal-auto skeleton-3"></ion-skeleton-text>
          </p>
        </ion-card-title>
      </div>
      <div class="qr-code ion-text-center">
        <ion-skeleton-text [animated]="false" class="margin-horizontal-auto skeleton-qr"></ion-skeleton-text>
      </div>
    </ng-container>
  </ion-card>
  }
  <!-- </swiper-slide> -->
  <!-- <swiper-slide>
      @if (user$ | async; as user) {
      <ion-card class="margin-horizontal-auto">
        @if (userFirestore$ | async; as userFirestore) {
        <div class="ion-text-center ion-padding-horizontal ion-padding-top">
          <h1>Cartão do RU</h1>
          <ion-avatar class="margin-horizontal-auto">
            <img [src]="user.photoURL" alt= "Avatar do usuário" />
          </ion-avatar>
          <ion-card-title>
            <h2 class="margin-horizontal-auto">{{ (userFirestore$ | async)?.fullName || user.displayName }}</h2>

            <p class="ion-text-wrap no-margin-bottom">
              {{ courses.getAssociateStatus(userFirestore.associateStatus) }}
            </p>

            <h1>123321</h1>
          </ion-card-title>
        </div>

        <object class="ru-barcode margin-horizontal-auto" [innerHTML]="restaurantBarcode | safe: 'html'"></object>
        }
      </ion-card>
      }
    </swiper-slide> -->
  <!-- </swiper-container> -->
</ion-content>
