<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Manual do calouro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <div class="title-container bg-grey">
    <object
      class="title"
      data="assets/manual-do-calouro/title.svg"
      type="image/svg+xml"
      aria-label="Manual do calouro. FCT Unesp."></object>
  </div>

  <app-manual-introducao></app-manual-introducao>
  <app-manual-sobre-fct></app-manual-sobre-fct>
  <app-manual-movimento-estudantil></app-manual-movimento-estudantil>
  <app-manual-auxilios></app-manual-auxilios>

  <app-manual-presidente-prudente></app-manual-presidente-prudente>

  <div class="bg-beige map-container ion-padding-horizontal">
    <div id="ol-map-manual" style="width: 100%; height: 100%">
      <div id="popup"></div>
    </div>
  </div>

  <app-manual-glossario></app-manual-glossario>

  <div
    class="title-container bg-grey"
    style="padding-top: 50px; padding-bottom: 50px">
    <object
      style="margin-bottom: 50px"
      class="title"
      data="assets/manual-do-calouro/footer-juntos.svg"
      type="image/svg+xml"
      aria-label="A universidade pública se constrói em comunidade. Todos juntos."></object>
    <div
      class="markdown-container ion-text-justify ion-padding-horizontal text-white">
      <img
        src="assets/logo/white.svg"
        style="max-width: 200px; display: block; margin-bottom: 30px"
        class="margin-horizontal-auto" />
      <span style="font-weight: 500">
        O manual do calouro é uma obra do CACiC – o Centro Acadêmico de Ciência
        da Computação – e de seus contribuidores.
      </span>
      <p>
        <a href="https://github.com/cacic-fct/manual-do-calouro"
          >Saiba como contribuir para o manual do calouro</a
        >.
      </p>
      <h1>Agradecimentos</h1>
      <ul style="list-style-type: none; padding: 0; margin: 0">
        <li>
          <a href="https://github.com/cacic-fct/manual-do-calouro/contributors">
            Contribuidores
          </a>
        </li>
        <li>Rafael Araújo Chinaglia</li>
        <li>Renan Yudi Yaguinuma Bersan de Araujo</li>
        <li>Willian Yoshio Murayama</li>
      </ul>
    </div>
  </div>
</ion-content>
