.title-container {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.title {
  width: 80vw;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.markdown-container {
  max-width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-yellow {
  background-color: #fee11975;
}

.bg-grey {
  background-color: #004258;
}

@import 'https://fonts.googleapis.com/css?family=Knewave';

.knewave {
  font-family: 'Knewave', cursive, serif;
  text-transform: uppercase;
}

.map-container {
  width: 100%;
  height: 80vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 1300px) {
  .map-container {
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
  }
}

.bg-light-blue {
  background-color: #1e8a7025;
}

.bg-light-green {
  background-color: #c1db3950;
}

.bg-light-yellow {
  background-color: #fee11925;
}

.padding-vertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-beige {
  background-color: #fd740025;
}
