<div class="flex-card">
  <ion-card class="card-item" *ngFor="let ejContact of contacts">
    <ion-card-header>
      <ion-card-title>{{ ejContact.course }}</ion-card-title>
      <ion-card-subtitle>{{ ejContact.acronym }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div style="margin-left: -15px">
        <ng-container *ngFor="let socialmedia of socialMedia | keyvalue">
          <ion-button
            *ngIf="ejContact.social[socialmedia.key]"
            [href]="socialmedia.value + ejContact.social[socialmedia.key]"
            target="_blank"
            attr.aria-label="{{ socialmedia.key }} de {{ ejContact.course }} "
            fill="clear">
            <ion-icon [name]="'logo-' + socialmedia.key"></ion-icon>
          </ion-button>
        </ng-container>
        <ion-button
          *ngIf="ejContact.email"
          href="mailto:{{ ejContact.email }}"
          attr.aria-label="E-mail da empresa júnior do curso de {{ ejContact.course }}"
          fill="clear">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="ejContact.website"
          [href]="ejContact.website"
          target="_blank"
          attr.aria-label="Website da empresa júnior do curso de {{ ejContact.course }}"
          fill="clear">
          <ion-icon name="globe-outline"></ion-icon>
        </ion-button>
        <ion-button
          *ngIf="ejContact.phone"
          href="tel:{{ ejContact.phone }}"
          attr.aria-label="Telefone da empresa júnior do curso de {{ ejContact.course }}"
          fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
