<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagamentos"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="majorEvent; else: loading">
      <ion-card-title>{{majorEvent.name}}</ion-card-title>
      <ion-card-subtitle
        >{{ [].constructor.isArray(majorEvent.price) ? majorEvent.price[enrollment.enrollmentType] : majorEvent.price *
        1.0 | currency:'BRL' }}</ion-card-subtitle
      >
      <ion-card-content>
        Beneficiário: {{majorEvent.accountName}}
        <br />
        CPF/CNPJ: {{majorEvent.accountDocument}}
        <br />
        Instituição bancária: {{majorEvent.accountBank}}
        <br />
        Agência: {{majorEvent.accountAgency}}
        <br />
        Conta: {{majorEvent.accountNumber}}
        <br />
        Data limite para o pagamento: {{majorEvent.subscriptionEndDate ? majorEvent.subscriptionEndDate :
        majorEvent.subscriptionStartDate}}
        <br />
        Chave Pix: {{majorEvent.accountChavePix}}
        <br />
        <div *ngIf="majorEvent.additionalPaymentInformation">
          Informações adicionais:<br />
          {{majorEvent.additionalPaymentInformation}}
        </div>
      </ion-card-content>
    </ion-card-header>

    <ion-grid *ngIf="majorEvent && majorEvent.accountChavePix">
      <ion-row>
        <ion-col>
          <ion-button (click)="copyToClipboard()">
            <ion-icon slot="start" name="copy"></ion-icon>
            Copiar chave Pix
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <!-- <ng-container>
     TODO:
       <p class="ion-padding-horizontal">Você já enviou um comprovante.</p>
      <br />
      <ion-button (click)="viewReceipt()">
        <ion-icon slot="start" name="eye"></ion-icon>
        Visualizar comprovante
      </ion-button>
    </ng-container>-->

    <ng-container *ngIf="uploadPercent | async as countValue">
      <ion-progress-bar [value]="countValue / 10"></ion-progress-bar>
    </ng-container>

    <input
      type="file"
      class="file-input"
      (change)="handleFileInput($event.target.files)"
      accept="image/png, image/jpeg, image/webp"
      #fileUpload />

    <div class="file-upload">
      <p class="ion-padding-horizontal" *ngIf="!downloadURL">
        {{ rawFile ? ("Enviando " + ( uploadPercent | async) + "%") : "Nenhuma imagem selecionada."}}
      </p>
      <img *ngIf="downloadURL" class="ion-padding-horizontal ion-padding-vertical" src="{{rawFile}}" />

      <ion-grid *ngIf="!downloadURL">
        <ion-row>
          <ion-col>
            <ion-button (click)="compressFile()">
              <ion-icon slot="start" name="cloud-upload"></ion-icon>
              Enviar comprovante
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
