<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes"></ion-back-button>
    </ion-buttons>
    <ion-title>Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-max-width margin-horizontal-auto">
    <app-explanation-card title="Suporte" icon="help-circle-outline">
      Se você precisa de ajuda, entre em contato conosco.
      <br />
      Se você tem uma dúvida, pode ser que ela esteja respondida na
      documentação.
    </app-explanation-card>

    <ion-card>
      <ion-item
        href="https://docs.fctapp.cacic.dev.br"
        [button]="true"
        lines="none"
      >
        <ion-icon
          name="book-outline"
          slot="start"
          aria-hidden="true"
        ></ion-icon>
        <ion-label class="ion-text-wrap">Documentação</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item href="https://github.com/cacic-fct/fct-app/issues/new">
        <ion-icon name="bug-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label class="ion-text-wrap">Reporte um bug</ion-label>
      </ion-item>
      <ion-item href="https://github.com/cacic-fct/fct-app/issues/new">
        <ion-icon
          name="sparkles-outline"
          slot="start"
          aria-hidden="true"
        ></ion-icon>
        <ion-label class="ion-text-wrap">Sugira um recurso novo</ion-label>
      </ion-item>
      <ion-item
        href="mailto:cacic.fct@gmail.com?subject=Contato%20sobre%20o%20aplicativo%20FCT%20App"
        lines="none"
      >
        <ion-icon
          name="mail-outline"
          slot="start"
          aria-hidden="true"
        ></ion-icon>
        <ion-label class="ion-text-wrap"
          >Entre em contato com os desenvolvedores</ion-label
        >
      </ion-item>
    </ion-card>
  </div>
</ion-content>
