<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    @if (userData()) {
    <ion-row class="ion-align-items-start user-card">
      <ion-col>
        <ion-card>
          <ion-item class="user-card" [routerLink]="['/perfil']" lines="none">
            <ion-avatar slot="start">
              <img alt="Avatar do usuário" [src]="userData().photoURL" />
            </ion-avatar>
            <ion-label class="ion-text-wrap"> <h1 class="no-margin">{{userData().displayName}}</h1></ion-label>

            <ion-row class="quick-buttons">
              <ion-col>
                <ion-button
                  fill="clear"
                  [routerLink]="['/perfil','carteira']"
                  appClickStopPropagation
                  aria-label="Carteira">
                  <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button
                  fill="clear"
                  [routerLink]="'/inscricoes'"
                  click-stop-propagation
                  aria-label="Minhas participações">
                  <ion-icon slot="icon-only" name="albums-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    } @else {
    <ion-row class="ion-align-items-start user-card">
      <ion-col>
        <ion-card>
          <ion-item [routerLink]="['/login']" lines="none">
            <ion-avatar slot="start" aria-hidden="true">
              <img alt="Avatar padrão" src="assets/images/avatar-placeholder.webp" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h1 class="no-margin">Entrar</h1>
              <p>Conecte-se com a sua conta Google</p>
            </ion-label>
            <ion-icon name="log-in-outline" slot="end" aria-hidden="true"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    }
    <ion-row class="ion-align-items-start">
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-item href="https://cacic-fct.github.io/manual-do-calouro/pagina-do-calouro" target="_blank">
            <ion-icon name="people-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>Página do calouro</ion-label>
          </ion-item>
          <ion-item href="https://cacic-fct.github.io/manual-do-calouro" lines="none" target="_blank">
            <ion-icon name="book-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>Manual do calouro</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-item href="https://fct.unesp.br" target="_blank">
            <ion-icon name="school-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>Site da FCT-Unesp</ion-label>
          </ion-item>
          <ion-item href="https://cacic-fct.github.io/manual-do-calouro/contatos/" lines="none">
            <ion-icon name="people-circle-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>Entidades estudantis</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-item [routerLink]="['/sobre']" lines="none">
            <ion-icon name="information-circle-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>Sobre este app</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    @if (!isProduction) {
    <ion-row class="ion-align-items-start">
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-item [routerLink]="['/development-tools']" lines="none">
            <ion-icon name="hammer-outline" slot="start" aria-hidden="true"></ion-icon>
            <ion-label>Ferramentas de desenvolvedor</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
