<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let event of majorEvents">
    <ion-card *ngIf="compareDate(getDateFromTimestamp(event.enrollmentDateStart), today)">
      <ion-card-header>
        <ion-card-title>{{event.name}}</ion-card-title>
        <!-- Event date-->
        <ng-container *ngIf="event.eventDateEnd; then multiDayEvent else singleDayEvent"></ng-container>
        <ng-template #singleDayEvent>
          <ion-card-subtitle>{{getDateFromTimestamp(event.eventDateStart) | date : 'dd/MM/yyyy'}} </ion-card-subtitle>
        </ng-template>
        <ng-template #multiDayEvent>
          <ion-card-subtitle>
            {{getDateFromTimestamp(event.eventDateStart) | date : 'dd/MM/yyyy'}} -
            {{getDateFromTimestamp(event.eventDateEnd) | date : 'dd/MM/yyyy'}}
          </ion-card-subtitle>
        </ng-template>
        <!-- Event price-->
        <ng-container *ngIf="isObject(event.price)">
          <ion-card-subtitle *ngFor="let price of event.price | keyvalue">
            {{ enrollmentTypes.getEnrollmentType(price.key) }}: {{price.value}}
          </ion-card-subtitle>
        </ng-container>
        <p *ngIf="isNumber(event.price)">{{ (event.price / 100) | currency:'BRL' }}</p>
      </ion-card-header>
    </ion-card>
  </ng-container>
</ion-content>
