<ion-header>
  <ion-toolbar>
    <ion-title>Coleta de presença</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime
    [value]="dateValue"
    #popoverDatetime
    presentation="date"
    localte="pt-BR"
    class="margin-horizontal-auto"
    (ionChange)="updateDate(popoverDatetime.value)"></ion-datetime>

  <app-event-list [date]="dateDate"> </app-event-list>
</ion-content>
