<ion-header>
  <ion-toolbar>
    <ion-title>Coleta de presença</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="open-modal"> {{ formatDate(dateValue) }} </ion-button>
  <ion-popover trigger="open-modal" show-backdrop="false">
    <ng-template>
      <ion-datetime
        [value]="dateValue"
        #popoverDatetime
        presentation="date"
        localte="pt-BR"
        (ionChange)="dateValue = popoverDatetime.value"
        (ionChange)="updateDate()"></ion-datetime>
    </ng-template>
  </ion-popover>

  <app-event-list [date]="dateDate"> </app-event-list>
</ion-content>
