<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <h2>Menu</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item href="https://fct.unesp.br" target="_blank">
      <ion-icon
        name="school-outline"
        slot="start"
        aria-hidden="true"></ion-icon>
      <ion-label>Site da FCT-Unesp</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/manual-do-calouro']">
      <ion-icon name="book-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Manual do calouro</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/calouros']">
      <ion-icon
        name="people-outline"
        slot="start"
        aria-hidden="true"></ion-icon>
      <ion-label>Página do calouro</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/settings']">
      <ion-icon name="cog-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>
    <ion-item
      href="mailto:cacic.fct@gmail.com?subject=Contato%20sobre%20o%20aplicativo%20FCT%20App">
      <ion-icon name="code-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label class="ion-text-wrap"
        >Entre em contato com os desenvolvedores</ion-label
      >
    </ion-item>

    <!-- 
    <ion-item
      href="mailto:cacic.fct@gmail.com?subject=Contato%20sobre%20o%20aplicativo%20da%20Ingressada"
    >
      <ion-icon name="mail-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label class="ion-text-wrap"
        >Contato com o centro acadêmico</ion-label
      >
    </ion-item>-->

    <ion-item [routerLink]="['/about']">
      <ion-icon
        name="information-circle-outline"
        slot="start"
        aria-hidden="true"></ion-icon>
      <ion-label>Sobre este app</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Você é aluno da Unesp e quer adicionar seus eventos a este aplicativo?
      <br />
      Entre em contato com os desenvolvedores!
    </ion-card-content>
  </ion-card>
</ion-content>
