.twemoji {
  width: 64px;
  height: 64px;
  display: block;
  padding: 10px;
}

.wrap-no-change {
  white-space: normal !important;
  word-wrap: break-word;
}

.attendance-checkmark-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
