<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/calendario"></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="presentToastShare()"
        ><ion-icon slot="icon-only" ios="share-outline" md="share-social"></ion-icon></ion-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (item$ | async; as items) {
  <div class="margin-horizontal-auto content-container ion-padding">
    <app-event-header [eventItem]="items" [displayWeather]="true"></app-event-header>
    <app-event-description [eventItem]="items"></app-event-description>
    <app-event-display-map [eventItem]="items"></app-event-display-map>
    <app-event-display-buttons
      [eventItem]="items"
      [displaySubscriptionAttendanceButtons]="true"></app-event-display-buttons>
  </div>
  } @else {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }
</ion-content>
