<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/calendario"></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="presentToastShare()"
        ><ion-icon slot="icon-only" ios="share-outline" md="share-social"></ion-icon></ion-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="item$ | async; let items; else: loading">
    <div class="margin-horizontal-auto content-container ion-padding">
      <img
        class="margin-horizontal-auto"
        style="width: 72px; height: 72px; display: block; padding: 10px"
        [src]="getEmoji(items.icon) "
        (click)="presentToast()" />

      <div class="ion-text-center">
        <h1 style="margin: 0">{{ items?.name }}</h1>
        <h5 style="margin: 0; margin-bottom: 5px; font-weight: 500">{{ items?.shortDescription }}</h5>
        <h5 style="margin: 0; margin-bottom: 5px; font-weight: 500">{{ getCourse(items.course) }}</h5>
        <!-- TODO: Exibir data de término de um evento -->
        <h4 style="margin: 0; font-weight: 400">
          <!-- prettier-ignore -->
          {{ toUppercase(getDateFromTimestamp(items?.eventStartDate) | date: "EEEE, dd 'de' MMMM 'de' y") }}
        </h4>
        <h3 style="margin: 0; font-weight: 400">
          {{ getDateFromTimestamp(items?.eventStartDate) | date: 'HH:mm' }}
          <ng-container *ngIf="items?.eventEndDate">
            - {{ getDateFromTimestamp(items?.eventEndDate) | date: 'HH:mm' }}
          </ng-container>
        </h3>

        <div class="weather-container">
          <ng-container *ngIf="(weather | async) as weatherInfo;">
            <ng-container *ngIf="!weatherInfo.error">
              <ion-icon class="weather-icon" [name]="weatherInfo.icon"></ion-icon>
              <span class="weather-text">{{ weatherInfo.temperature }}°C – {{ weatherInfo.text }}</span>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div *ngIf="items?.description">
        <h2>Sobre</h2>
        <p class="pre-wrap">{{ items?.description }}</p>
      </div>

      <div *ngIf="items?.location">
        <h2>Localização</h2>

        <div *ngIf="items?.location.description" class="ion-padding-bottom">
          <ion-item lines="none">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">{{ items?.location.description }}</ion-label>
          </ion-item>
        </div>

        <div id="ol-map" class="map-container" *ngIf="items?.location.lat && items?.location.lon"></div>
      </div>

      <div *ngIf="items?.button" class="ion-padding-vertical">
        <ion-button expand="block" color="primary" [href]="items?.button.url" target="_blank"
          >{{ items.button.text || 'Acompanhe o evento' }}</ion-button
        >
      </div>

      <div *ngIf="items?.youtubeCode">
        <h2>Transmissão do evento</h2>
        <iframe
          width="400"
          height="225"
          [src]="'https://www.youtube-nocookie.com/embed/' + items?.youtubeCode | safe: 'resourceUrl'"
          title="YouTube"
          frameborder="0"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="ion-text-center weather-attribution" *ngIf="weather | async">
      <ion-text color="medium">
        <a href="https://open-meteo.com/" target="_blank">Weather data by Open-Meteo.com</a>
      </ion-text>
    </div>
  </ng-container>
  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>
