<ion-header>
  <ion-toolbar>
    <ng-content *ngIf="auth.authState | async; then signout_button; else login_button"></ng-content>
    <ng-template #signout_button>
      <ion-buttons slot="primary">
        <ion-button fill="clear" (click)="authService.SignOut()">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Sair
        </ion-button>
      </ion-buttons>
      <ion-title> Olá, {{ firstName }}! </ion-title>
    </ng-template>
    <ng-template #login_button>
      <ion-buttons slot="primary">
        <ion-button fill="clear" [routerLink]="'/login'">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Entrar
        </ion-button>
      </ion-buttons>
      <ion-title> Menu </ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="auth.authState | async">
    <ion-item routerLink="/perfil">
      <ion-icon name="person-circle-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Meu perfil</ion-label>
    </ion-item>
    <!--<ion-item routerLink="/scan">
      <ion-icon
        name="qr-code-outline"
        slot="start"
        aria-hidden="true"></ion-icon>
      <ion-label>Leitor de QR Code</ion-label>
    </ion-item>-->
    <ion-item routerLink="/inscricoes" lines="none">
      <ion-icon name="albums-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Minhas participações</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/calouros']">
      <ion-icon name="people-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Página do calouro</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/manual-do-calouro']" lines="none">
      <ion-icon name="book-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Manual do calouro</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="https://fct.unesp.br" target="_blank">
      <ion-icon name="school-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Site da FCT-Unesp</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/entidades']" lines="none">
      <ion-icon name="people-circle-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Entidades estudantis</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/development-tools']" *ngIf="!isProduction">
      <ion-icon name="hammer-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Ferramentas de desenvolvedor</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/sobre']" lines="none">
      <ion-icon name="information-circle-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Sobre este app</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
