<ion-header>
  <ion-toolbar>
    <ion-title>Confirme os dados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding-horizontal">
    <p>
      Você está gerando o certificado "{{ certificateData.certificateName }}" com o modelo
      {{ certificateData.certificateTemplate }}.
    </p>
    <p>
      O certificado será gerado para:
      <br />
      @if (certificateData.issuedTo.toPayer) {
        <ion-chip>
          <ion-label>Inscritos pagantes</ion-label>
        </ion-chip>
      }
      @if (certificateData.issuedTo.toNonSubscriber) {
        <ion-chip>
          <ion-label>Pagantes não inscritos</ion-label>
        </ion-chip>
      }
      @if (certificateData.issuedTo.toNonPayer) {
        <ion-chip>
          <ion-label>Não pagantes</ion-label>
        </ion-chip>
      }
      @if (certificateData.issuedTo.toList.length > 0) {
        <ion-chip>
          <ion-label>Lista manual</ion-label>
          @for (participant of certificateData.issuedTo.toList; track participant; let i = $index) {
            @if (i < 3) {
              <ion-chip>
                <ion-label>{{ participant }}</ion-label>
              </ion-chip>
            }
            @if (i === 3) {
              <ion-chip>
                <ion-label>…</ion-label>
              </ion-chip>
            }
          }
        </ion-chip>
      }
    </p>
    <p>
      Os dados que serão inseridos no certificado são:
      <br />
      <b>{{ formatParticipation() }}</b>
      <br />
      <i>Nome do participante</i>
      <br />
      <b>{{ formatEventType() }}</b>
      <br />
      <i>Nome do evento</i>
      <br />
      <b>{{ formatContentType() }}</b>
    </p>
  </div>

  <ion-grid style="width: 100%">
    <ion-row>
      <ion-col>
        <ion-button style="width: 100%" fill="clear" (click)="closeModal()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="width: 100%" fill="clear" (click)="onSubmit()">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
