<!-- prettier-ignore -->
<ion-accordion-group>
  <ion-accordion>
    <ion-item slot="header">
      <ion-label class="ion-text-wrap"><b>Etapa 1</b> - Matrícula virtual</ion-label>
    </ion-item>
    <div slot="content"> 
      <markdown ngPreserveWhitespaces>
        Você tem até as 18 horas do dia seguinte à sua chamada para realizar a sua matrícula virtual, então não deixe para depois!  

        Neste processo, é necessário enviar o seu histórico escolar, certificado de conclusão do ensino médio e uma foto do seu rosto.

        A foto deve ser no estilo de documento: Colorida, apresentar o seu rosto inteiro, sem acessórios, com olhos abertos, mostrando da cabeça até os ombros e com fundo neutro.
        Ao não seguir estas recomendações para a foto, sua matrícula pode ser indeferida.

        > Note que você não pode [estar matriculado em outra universidade pública](http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/lei/l12089.htm), não pode [ser bolsista do Prouni](http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2005/decreto/d5493.htm#art2) e não pode [estar matriculado em um curso com currículo mínimo idêntico ao da Unesp](https://sistemas.unesp.br/calouros/termos.do), mesmo que em instituição privada.  
        Caso você já esteja matriculado em outra instituição ou já tenha bolsa do Prouni concedida, solicite o cancelamento _após_ o deferimento da sua matrícula na Unesp.

        * [Clique aqui e acesse a página da matrícula virtual](https://sistemas.unesp.br/calouros).
        * [Confira mais instruções sobre a matrícula virtual aqui](https://documento.vunesp.com.br/documento/stream/MjY1OTU3NQ%3d%3d).
      </markdown>
    </div>
  </ion-accordion>

  <ion-accordion>
    <ion-item slot="header">
      <ion-label class="ion-text-wrap"><b>Etapa 2</b> - Crie seu login institucional</ion-label>
    </ion-item>
    <div slot="content"> 
      <markdown ngPreserveWhitespaces slot="content">
        Após ter sua matrícula deferida, você poderá criar seu login institucional.  
        Utilize uma senha forte, para deixar sua conta segura!

        * [Entre na central de acessos parar criar sua conta](https://sistemas.unesp.br/central/#/public/primeiroAcesso).
      </markdown>
    </div>
  </ion-accordion>

  <ion-accordion>
    <ion-item slot="header">
      <ion-label class="ion-text-wrap"><b>Etapa 3</b> - Ativar todos os serviços de rede</ion-label>
    </ion-item>
    <div slot="content">
      <p><strong>1.</strong> Faça login com sua identificação Unesp na <a href="https://auth.unesp.br/">Central de acessos</a>.</p>
      <p><strong>2.</strong> Abra o sistema <strong>GSRedes</strong> pela página inicial.<br>
      <ion-img src="https://www2.unesp.br/Home/ai/fig01.jpg" class="gsredes"></ion-img></p>
      <p><strong>3.</strong> Clique na opção <strong>Meus serviços</strong><br>
      <ion-img src="https://www2.unesp.br/Home/ai/fig02.jpg" class="gsredes"></ion-img></p>
      <p><strong>4.</strong> Na lista de serviços disponíveis, marque todas as opções e clique em Avançar.<br>
      <ion-img src="https://www2.unesp.br/Home/ai/fig03.jpg" class="gsredes"></ion-img></p>
      <p><strong>5.</strong> Leia os termos de uso com atenção e aceite-os<br>
      <ion-img src="https://www2.unesp.br/Home/ai/fig04.jpg" class="gsredes"></ion-img></p>
      <p><strong>6.</strong> Confirme a ativação com a sua senha<br>
      <ion-img src="https://www2.unesp.br/Home/ai/fig05.jpg" class="gsredes"></ion-img></p>
    </div>
  </ion-accordion>

  <ion-accordion>
    <ion-item slot="header">
      <ion-label class="ion-text-wrap"><b>Etapa 4</b> - Fazer login no Google</ion-label>
    </ion-item>
    <div slot="content">
      <markdown ngPreserveWhitespaces>
        Se você seguiu o passo 3 e ativou os serviços Google com êxito, agora você possui um e-mail institucional!  
        Seu e-mail é `usuário&#64;unesp.br` e você pode acessá-lo através do [Gmail](https://gmail.com), usando a mesma senha do seu login institucional.
    
        Com este endereço de e-mail, você pode fazer login no Google e aproveitar todos os benefícios do Google Workspace, como o Gmail, Google Drive, Google Meet, Google Classroom, Google Agenda e muito mais!  
        Além disso, você poderá obter descontos exclusivos para estudantes, dentre eles, para o [Spotify Premium](https://www.spotify.com/br/student/).
    
        **Mas fique esperto!**  
        Este e-mail é de uso exclusivo para atividades relacionadas à universidade, ensino, pesquisa ou extensão e não pode ser usado para outros fins.  
        Qualquer abuso acarretará na perda do seu acesso a estes serviços. Não compartilhe arquivos piratas pelo Google Drive, nem abuse do armazenamento!  
        Lembre-se de que, após se formar, você perderá acesso ao e-mail, então, não utilize-o para criar contas.  
      </markdown>
    </div>
  </ion-accordion>

  <ion-accordion>
    <ion-item slot="header">
      <ion-label class="ion-text-wrap"><b>Etapa 5</b> - Entrar no grupo dos calouros do seu curso no WhatsApp </ion-label>
    </ion-item>
    <div slot="content">
      <markdown ngPreserveWhitespaces>
        Se você ainda não estiver no grupo, envie uma mensagem para o Centro Acadêmico (CA) ou Empresa Júnior (EJ) do seu curso.  

        É importante estar no grupo, pois é por lá que enviamos todas as informações e orientações.  
      </markdown>
      <ion-button [routerLink]="'/entidades'">Encontre o CA do seu curso</ion-button>
    </div>
  </ion-accordion>
</ion-accordion-group>
