<ion-header>
  <ion-toolbar>
    <ion-title>Confirme sua inscrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="majorEvent$; let majorEvent; else loading">
    <div class="event-container">
      <!-- {{ console.log(majorEvent) }} -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{majorEvent.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="majorEvent.description">
          <p class="ion-text-justify event-description">{{majorEvent.description}}</p>
        </ion-card-content>

        <div class="card-section ion-padding-horizontal">
          <div class="card-label">
            <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
            Datas
          </div>

          <ion-item lines="none">
            Evento
            <span slot="end">
              {{ getDateFromTimestamp(majorEvent.eventStartDate) | date: 'dd/MM' }} {{ majorEvent.eventEndDate && '- ' +
              (getDateFromTimestamp(majorEvent.eventEndDate) | date: 'dd/MM') }}
            </span>
          </ion-item>

          <ion-item lines="none" *ngIf="majorEvent.subscriptionStartDate && majorEvent.subscriptionEndDate">
            Inscrição
            <span slot="end">
              {{ getDateFromTimestamp(majorEvent.subscriptionStartDate) | date: 'dd/MM' }} {{
              majorEvent.subscriptionEndDate && '- ' + (getDateFromTimestamp(majorEvent.subscriptionEndDate) | date:
              'dd/MM') }}
            </span>
          </ion-item>
        </div>

        <div class="card-section ion-padding-horizontal" *ngIf="majorEvent.price">
          <div class="card-label">
            <ion-icon name="wallet-outline" aria-hidden="true"></ion-icon>
            Valores
          </div>

          <ng-container *ngIf="majorEvent.price.isFree; else notFree">
            <ion-item lines="none">
              <ion-label>Gratuito</ion-label>
            </ion-item>
          </ng-container>

          <ng-template #notFree>
            <ng-container *ngIf="majorEvent.price.single; then singlePrice else multiPrice"> </ng-container>
          </ng-template>

          <ng-template #singlePrice>
            <ion-item lines="none">
              Preço único
              <span slot="end">{{ majorEvent.price.single | currency:'BRL' }}</span>
            </ion-item>
          </ng-template>

          <ng-template #multiPrice>
            <ion-item lines="none" *ngIf="majorEvent.price.students">
              Alunos da Unesp
              <span slot="end">{{ majorEvent.price.students | currency:'BRL' }}</span>
            </ion-item>

            <ion-item lines="none" *ngIf="majorEvent.price.otherStudents">
              Alunos
              <span slot="end">{{ majorEvent.price.otherStudents | currency:'BRL' }}</span>
            </ion-item>

            <ion-item lines="none" *ngIf="majorEvent.price.professors">
              Professores
              <span slot="end">{{ majorEvent.price.professors | currency:'BRL' }}</span>
            </ion-item>
          </ng-template>
        </div>

        <div class="card-section ion-padding-horizontal">
          <p>{{ qntdMinicursosChecked$ }} de {{ adjustNumber(countMinicursos$) }} minicursos selecionados</p>
          <p>{{ qntdPalestrasChecked$ }} de {{ adjustNumber(countPalestras$) }} palestras selecionados</p>
        </div>

        <div *ngFor="let item of events$ | keyvalue;">
          <ion-item-divider mode="ios" sticky="true">
            <ion-label>{{ formatDate(item.key) }}</ion-label>
          </ion-item-divider>

          <ion-list *ngFor="let event of item.value;">
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/events/icon.png" />
              </ion-avatar>
              <ion-label>
                <h3>{{ event.name }}</h3>
                <h4>{{ event.time }}</h4>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>

      <ion-button (click)="onSubmit()">CONFIRMAR</ion-button>
    </div>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>

<swal
  #successSwal
  title="Inscrição criado com sucesso"
  icon="success"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #errorSwal
  title="Ocorreu um erro ao criar a inscrição"
  text="Verifique a sua conexão à internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>