<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar evento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dataForm">
    <ion-card-header>
      <ion-card-title>Informações do evento</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-select label="Curso" labelPlacement="floating" interface="popover" formControlName="course">
        @for (course of courses | keyvalue; track course) {
        <ion-select-option slot="start" class="course" [value]="course.key">
          {{ course.value.name }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Nome do evento" labelPlacement="floating" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Descrição curta do evento"
        labelPlacement="floating"
        formControlName="shortDescription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Descrição do evento" labelPlacement="floating" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-input label="Emoji do evento" labelPlacement="floating" formControlName="icon"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data do evento</ion-label>
      <ion-datetime-button datetime="eventDate"></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-toggle
        formControlName="hasDateEndForm"
        [checked]="hasDateEnd"
        (ionChange)="hasDateEndChange()"
        formControlName="hasDateEndForm"
        >Fim do evento</ion-toggle
      >
      <ion-datetime-button
        [disabled]="!this.dataForm.value.hasDateEndForm"
        datetime="eventDateEnd"></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-select
        label="Pertence ao grande evento"
        labelPlacement="floating"
        interface="popover"
        formControlName="inMajorEvent">
        <ion-select-option slot="start" value="none">Nenhum</ion-select-option>
        @if (majorEventsData$ | async; as items) { @for (mEvent of items; track mEvent) {
        <ion-select-option slot="start" [value]="mEvent.id"> {{ mEvent.name }} </ion-select-option>
        } } @else {
        <ion-select-option slot="start" value="none" disabled>Carregando eventos...</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Tipo de evento" labelPlacement="floating" interface="popover" formControlName="eventType">
        <ion-select-option slot="start" value="none">Não especificado</ion-select-option>
        <ion-select-option slot="start" value="minicurso">Minicurso</ion-select-option>
        <ion-select-option slot="start" value="palestra">Palestra</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card-header>
      <ion-card-title>Localização (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-select
        label="Predefinição"
        labelPlacement="floating"
        (ionChange)="placeChange($event)"
        interface="popover"
        placeholder="Personalizado"
        #selectPlace>
        @if (places$ | async; as places) { @for (place of places | keyvalue; track place) {
        <ion-select-option slot="start" [value]="place.key"> {{ place.value.name }} </ion-select-option>
        } } @else {
        <ion-select-option slot="start" value="none" disabled>Carregando locais...</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ng-container formGroupName="location">
      <ion-item>
        <ion-input
          label="Endereço ou descrição"
          labelPlacement="floating"
          formControlName="description"
          (ionInput)="placeInputKeyDown()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Latitude" labelPlacement="floating" formControlName="lat"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Longitude" labelPlacement="floating" formControlName="lon"></ion-input>
      </ion-item>
    </ng-container>

    <ion-card-header>
      <ion-card-title>Botão (opcional)</ion-card-title>
    </ion-card-header>

    <ng-container formGroupName="button">
      <ion-item>
        <ion-input label="Texto (opcional)" labelPlacement="floating" formControlName="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Link" labelPlacement="floating" formControlName="url"></ion-input>
      </ion-item>
    </ng-container>

    <ion-card-header>
      <ion-card-title>Outras informações (opcional)</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-input
        label="Código do YouTube"
        labelPlacement="floating"
        formControlName="youtubeCode"
        placeholder="Código do vídeo no YouTube"></ion-input>
    </ion-item>

    @if (dataForm.get('inMajorEvent').value === 'none') {
    <ion-item>
      <ion-toggle formControlName="allowSubscription">Permitir inscrição</ion-toggle>
    </ion-item>
    }

    <ion-item>
      <ion-toggle formControlName="collectAttendance">Coletar presença para este evento</ion-toggle>
    </ion-item>

    @if (dataForm.get('collectAttendance').value) {
    <ion-item>
      @if (dataForm.get('inMajorEvent').value === 'none') {
      <ion-toggle formControlName="issueCertificate" checked="off">Emite certificado de participação</ion-toggle>
      } @if (dataForm.get('inMajorEvent').value !== 'none') {
      <ion-toggle formControlName="issueCertificate" checked="off">Consta no certificado de participação</ion-toggle>
      }
    </ion-item>
    @if (dataForm.get('issueCertificate').value) {
    <ion-item>
      <ion-input
        label="Carga horário deste dia"
        formControlName="creditHours"
        numeric="decimal"
        placeholder="Em horas"></ion-input>
    </ion-item>
    }
    <ion-item>
      <ion-input label="Vagas" labelPlacement="floating" formControlName="slotsAvailable"></ion-input>
    </ion-item>
    }

    <ion-item>
      <ion-toggle formControlName="public" checked="off">Evento aberto ao público</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-input
        label="Criador do evento"
        labelPlacement="stacked"
        value="{{ userData.displayName }}"
        color="medium"
        readonly>
      </ion-input>
    </ion-item>

    <div class="ion-padding-bottom">
      <ion-button class="ion-padding" type="submit" (click)="onSubmit()" [disabled]="!dataForm.valid">
        Criar evento
      </ion-button>
      <p class="ion-padding-horizontal name-notice">Ao continuar, seu nome será gravado junto ao evento.</p>
    </div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="eventDate"
          presentation="date-time"
          showDefaultButtons="true"
          formControlName="eventStartDate"
          (ionChange)="onDateStartChange()">
          <span slot="title">Selecione a data do evento</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="eventDateEnd" presentation="time" showDefaultButtons="true" formControlName="eventEndDate">
          <span slot="title">Selecione a hora de término do evento</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>

<swal
  #successSwal
  title="Evento criado com sucesso"
  icon="success"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"></swal>

<swal
  #errorSwal
  title="Ocorreu um erro ao criar o evento"
  text="Verifique a sua conexão à internet e tente novamente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>

<swal
  #errorMajorEventSwal
  title="Ocorreu um erro"
  text="Não foi possível registrar o evento na lista eventos pertencentes a um grande evento. Não tente criar o evento novamente, entre em contato com um administrador"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="true"></swal>
