<ion-header>
  <ion-toolbar>
    <ion-title>Lista de inscritos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/area-restrita/gerenciar-eventos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="subscriptions$ | async as subscriptions; else: loading">
    <div class="ion-padding" *ngIf="event$ | async; let event">
      <h3 style="margin-bottom: 0">{{ event.name }}</h3>
      <h4 style="margin: 0">{{ event.shortDescription }}</h4>
      <h5 style="margin-top: 0">
        {{ dateService.getDateFromTimestamp(event.eventStartDate) | date: "dd/MM/y - HH:mm" }}
      </h5>
      <ion-button (click)="generateCSV()" [disabled]="disableCSVDownloadButton">
        <ion-spinner slot="start" *ngIf="disableCSVDownloadButton"></ion-spinner>
        Baixar CSV
      </ion-button>
    </div>
    <div class="ion-padding-horizontal">
      <p><b>Total de inscritos:</b> {{subscriptions.length | number: '2.0-0'}}</p>
    </div>
    <ion-item *ngFor="let subscriptionItem of subscriptions">
      <ion-label>
        <ng-container *ngIf="(subscriptionItem.user | async) as user; else userNotFound">
          <h2 class="ion-text-wrap" *ngIf="user.fullName">{{ user.fullName }}</h2>
          <h2 class="ion-text-wrap" *ngIf="!user.fullName">
            <ion-text color="danger">Nome não cadastrado: {{ user.displayName }}</ion-text>
          </h2>
          <ng-container *ngIf="user.academicID; else notUnesp">
            <h3 class="ion-text-wrap">{{ courses.getCourse(user.academicID) }} | {{ user.academicID }}</h3>
          </ng-container>

          <ng-template #notUnesp>
            <h3 class="ion-text-wrap" *ngIf="!user.academicID">Sem RA definido</h3>
          </ng-template>
          <h3 class="ion-text-wrap">{{ user.email }} | {{ user.phone || "Sem celular cadastrado" }}</h3>
          <h3 class="ion-text-wrap">UID: {{ user.uid }}</h3>

          <!-- prettier-ignore -->
          <h3 class="ion-text-wrap">
            Criação da inscrição: {{ dateService.getDateFromTimestamp(subscriptionItem.time) | date: "dd/MM/y - HH:mm:ss" }}
          </h3>
          <!-- prettier-ignore -->
          <h3 class="ion-text-wrap">
            Última edição da inscrição: {{ dateService.getDateFromTimestamp(subscriptionItem.payment.time) | date: "dd/MM/y - HH:mm:ss" }}
          </h3>
          <ion-button [routerLink]="['gerenciar-inscricao', user.uid]"> Editar inscrição </ion-button>
        </ng-container>
        <ng-template #userNotFound>
          <h2 class="ion-text-wrap">
            <ion-text color="danger">Usuário não encontrado</ion-text>
          </h2>
          <h2 class="ion-text-wrap">
            <ion-text color="danger">Confira os dados no banco de dados antes de remover a presença</ion-text>
          </h2>
          <h2>UID: {{ subscriptionItem.id }}</h2>
        </ng-template>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>

<swal
  #mySwal
  title="Evento inexistente"
  icon="error"
  [heightAuto]="false"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false">
</swal>
