<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Meu perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item button [routerLink]="['carteira']">
      <ion-icon name="qr-code-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Carteira</ion-label>
    </ion-item>
    <ion-item button lines="none" [routerLink]="['/inscricoes']">
      <ion-icon name="albums-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Minhas participações</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item button [routerLink]="['/ajustes/conta']" lines="none">
      <ion-icon ios="cog-outline" md="settings-outline" slot="start" aria-hidden="true"></ion-icon>
      <ion-label>Ajustes da conta</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
