<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes/geral"></ion-back-button>
    </ion-buttons>
    <ion-title>Service Worker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-max-width margin-horizontal-auto">
    <app-explanation-card title="Service Worker" icon="hammer-outline">
      O Service Worker habilita recursos como navegação off-line e notificações push. Somente use essas opções quando
      solicitado por nossa equipe.
    </app-explanation-card>

    @if (!isServiceWorkerActive) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-text color="warning">O service worker está inativo</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>As opções abaixo não funcionarão</p>
      </ion-card-content>
    </ion-card>
    }

    <ion-card>
      <ion-item (click)="openStatusModal()" button>
        <ion-icon name="document-text-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label class="ion-text-wrap">Visualizar estado</ion-label>
      </ion-item>
      <ion-item (click)="alertUpdate()" button>
        <ion-icon name="refresh-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label class="ion-text-wrap">Forçar atualização</ion-label>
      </ion-item>
      <ion-item (click)="alertUnregister()" lines="none" button>
        <ion-icon name="ban-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-label class="ion-text-wrap">Cancelar registro</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
