<ion-header>
  <ion-toolbar>
    <ion-title>Registre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 30px; max-width: 500px; overflow: scroll">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label class="ion-text-wrap">Nome completo</ion-label>
        <ion-input type="text" value="{{userData.displayName}}" readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">E-mail institucional</ion-label>
        <ion-input type="text" value="{{userData.email}}" readonly> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Registro acadêmico</ion-label>
        <ion-input
          formControlName="academicID"
          inputmode="numeric"
          type="text"
          placeholder="RA"
          maxlength="9"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Data de nascimento</ion-label>
        <ion-input
          [value]="dobInput"
          formControlName="dob"
          autocomplete="bday"
          type="bday"
          placeholder="DD/MM/AAAA"
          maxlength="10"
        ></ion-input>

        <ion-button fill="clear" id="open-date-input">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>

        <ion-modal trigger="open-date-input">
          <ng-template>
            <ion-datetime
              showDefaultButtons
              doneText="OK"
              cancelText="Cancelar"
              min="{{minDate}}"
              max="{{maxDate}}"
              locale="pt-BR"
              #popoverDate
              presentation="date"
              size="cover"
              (ionChange)="dobInput = formatDate(popoverDate.value)"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Celular</ion-label>
        <ion-input
          formControlName="phone"
          inputmode="numeric"
          type="tel"
          autocomplete="tel"
          placeholder="DDD e número"
          maxlength="14"
          (ionBlur)="formatPhone()"
        >
        </ion-input>
      </ion-item>
      <p style="font-size: 0.75em" class="ion-padding-horizontal">
        Poderemos entrar em contato para confirmar ou complementar estas
        informações.
      </p>
      <p style="font-size: 0.75em" class="ion-padding-horizontal">
        Solicitamos sua data de nascimento tratar seus dados de acordo com a
        LGPD. Ela não será compartilhada.
      </p>
      <p style="font-size: 0.75em" class="ion-padding-horizontal">
        Se você não possui um número de celular,
        <a [href]="mailTo">
          entre em contato com o Centro Acadêmico de Ciência da Computação</a
        >.
      </p>
      <ion-button
        style="margin-top: 30px"
        expand="block"
        id="continue-button"
        type="submit"
        >Continuar
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
