<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Código de identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-max-width margin-horizontal-auto">
    <app-explanation-card title="Código de identificação" icon="id-card-outline">
      O código de identificação é utilizado pelas entidades estudantis para que você não precise preencher seus dados
      pessoais toda vez que for responder a um formulário. Confira se seus dados estão atualizados antes de compartilhar
      seu código.
    </app-explanation-card>
    @if (user$ | async; as user) {
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <h1>{{ user.fullName }}</h1>
        </ion-card-title>
        <h2>{{ user.email }}</h2>
        <h3>{{ user.phone }}</h3>
        @if (user.academicID) {
        <h3>RA: {{ user.academicID }}</h3>
        }

        <div class="id-code-container">
          <p>Seu código é:</p>
          <ion-card-title>
            <h1><code>{{ (userFirebase$ | async).uid }}</code></h1>
          </ion-card-title>
        </div>

        <ion-button color="primary" (click)="copyCode('toast')">
          <ion-icon slot="start" name="copy-outline"></ion-icon>
          Copiar código
        </ion-button>
        <ion-button color="secondary" [routerLink]="['/ajustes', 'conta', 'informacoes-pessoais']">
          <ion-icon slot="start" name="pencil-outline"></ion-icon>
          Editar informações
        </ion-button>
      </ion-card-content>
    </ion-card>
    }
  </div>
</ion-content>
