<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="majorEvents$ | async; let majorEventsList; else loading">
    <h1 *ngIf="majorEventsList.length === 0" class="ion-text-center">Nenhum evento encontrado</h1>

    <div *ngIf="majorEventsList.length > 0" class="event-container">
      <ng-container *ngFor="let event of majorEventsList">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>{{event.description}}</p>
          </ion-card-content>

          <div class="card-section">
            <div>
              <ion-icon name="calendar-outline"></ion-icon>
              Datas
            </div>

            <ion-item lines="none">
              Evento
              <span slot="end">
                {{ getDateFromTimestamp(event.dateStart) | date: 'dd/MM' }} {{ event.dateEnd && '- ' +
                (getDateFromTimestamp(event.dateEnd) | date: 'dd/MM') }}
              </span>
            </ion-item>

            <ion-item lines="none" *ngIf="event.subscriptionDateStart && event.subscriptionDateEnd">
              Inscrição
              <span slot="end">
                {{ getDateFromTimestamp(event.subscriptionDateStart) | date: 'dd/MM' }} {{ event.subscriptionDateEnd &&
                '- ' + (getDateFromTimestamp(event.subscriptionDateEnd) | date: 'dd/MM') }}
              </span>
            </ion-item>
          </div>

          <div class="card-section">
            <div>
              <ion-icon name="wallet-outline"></ion-icon>
              Valores
            </div>

            <!-- TODO: considerar evento gratuito 'event.price.isFree === true' -->
            <ng-container *ngIf="event.price.priceSingle; then uniquePrice else multiPrice"></ng-container>

            <ng-template #uniquePrice>
              <ion-item lines="none">
                Preço
                <span slot="end">{{ (event.price.priceSingle / 100) | currency:'BRL' }}</span>
              </ion-item>
            </ng-template>

            <ng-template #multiPrice>
              <ion-item lines="none">
                Alunos da UNESP
                <span slot="end">{{ (event.price.priceStudents / 100) | currency:'BRL' }}</span>
              </ion-item>

              <ion-item lines="none">
                Alunos de outras instituições
                <span slot="end">{{ (event.price.priceOtherStudents / 100) | currency:'BRL' }}</span>
              </ion-item>

              <ion-item lines="none">
                Professores
                <span slot="end">{{ (event.price.priceProfessors / 100) | currency:'BRL' }}</span>
              </ion-item>
            </ng-template>
          </div>

          <div class="card-button-section">
            <ion-button
              *ngIf="isTodayBetweenDates(getDateFromTimestamp(event.subscriptionDateStart), getDateFromTimestamp(event.subscriptionDateEnd))">
              INSCREVA-SE
              <ion-icon name="arrow-forward-outline" slot="end" style="font-size: 16px"></ion-icon>
            </ion-button>

            <ion-button *ngIf="event.button" [href]="event.button.url" fill="clear" target="_blank">
              {{ event.button.text || 'SAIBA MAIS' }}
            </ion-button>
          </div>
        </ion-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>
