<style>
  /*
based on: https://codepen.io/DavidKern/pen/PwzYvv
*/
  @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

  body {
    background: #fff;
    color: #000;
    font-family: 'Lato', Arial, sans-serif;
  }

  h1 {
    font-family: 'proxima-nova', sans-serif;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-left: -3px;
    line-height: 1em;
    color: #000;
    text-align: center;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
  }

  table {
    width: 80%;
    margin: auto;
  }

  table,
  th,
  td {
    border: 1px solid #000;
    border-collapse: collapse;
  }

  th {
    background-color: #ddd;
  }

  th,
  td {
    padding: 15px;
  }
</style>
<table>
  <thead>
    <tr>
      <th class="string">name</th>
      <th class="string">license type</th>
      <th class="string">link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="string">@angular/common</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/core</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/fire</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angularfire.git</td>
    </tr>
    <tr>
      <td class="string">@angular/forms</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/platform-browser</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/platform-browser-dynamic</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/router</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@ionic/angular</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/ionic-team/ionic.git</td>
    </tr>
    <tr>
      <td class="string">@types/leaflet</td>
      <td class="string">MIT</td>
      <td class="string">
        https://github.com/DefinitelyTyped/DefinitelyTyped.git
      </td>
    </tr>
    <tr>
      <td class="string">@zxing/browser</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/zxing-js/browser.git</td>
    </tr>
    <tr>
      <td class="string">@zxing/library</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/zxing-js/library.git</td>
    </tr>
    <tr>
      <td class="string">@zxing/ngx-scanner</td>
      <td class="string">MIT</td>
      <td class="string">https://github.com/zxing-js/ngx-scanner#readme</td>
    </tr>
    <tr>
      <td class="string">date-fns</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/date-fns/date-fns.git</td>
    </tr>
    <tr>
      <td class="string">firebase</td>
      <td class="string">Apache-2.0</td>
      <td class="string">
        git+https://github.com/firebase/firebase-js-sdk.git
      </td>
    </tr>
    <tr>
      <td class="string">leaflet</td>
      <td class="string">BSD-2-Clause</td>
      <td class="string">git://github.com/Leaflet/Leaflet.git</td>
    </tr>
    <tr>
      <td class="string">leaflet-easybutton</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/CliffCloud/Leaflet.EasyButton.git
      </td>
    </tr>
    <tr>
      <td class="string">ngx-kjua</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/werthdavid/ngx-kjua.git</td>
    </tr>
    <tr>
      <td class="string">ngx-markdown</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/jfcere/ngx-markdown.git</td>
    </tr>
    <tr>
      <td class="string">ngx-mask</td>
      <td class="string">MIT</td>
      <td class="string">git+ssh://git@github.com/JsDaddy/ngx-mask.git</td>
    </tr>
    <tr>
      <td class="string">rxfire</td>
      <td class="string">Apache-2.0</td>
      <td class="string">git+https://github.com/firebaseextended/rxfire.git</td>
    </tr>
    <tr>
      <td class="string">rxjs</td>
      <td class="string">Apache-2.0</td>
      <td class="string">git+https://github.com/reactivex/rxjs.git</td>
    </tr>
    <tr>
      <td class="string">swiper</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/nolimits4web/Swiper.git</td>
    </tr>
    <tr>
      <td class="string">tslib</td>
      <td class="string">0BSD</td>
      <td class="string">git+https://github.com/Microsoft/tslib.git</td>
    </tr>
    <tr>
      <td class="string">yarn</td>
      <td class="string">BSD-2-Clause</td>
      <td class="string">git+https://github.com/yarnpkg/yarn.git</td>
    </tr>
    <tr>
      <td class="string">zone.js</td>
      <td class="string">MIT</td>
      <td class="string">git://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular-devkit/build-angular</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular-cli.git</td>
    </tr>
    <tr>
      <td class="string">@angular-eslint/builder</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/angular-eslint/angular-eslint.git
      </td>
    </tr>
    <tr>
      <td class="string">@angular-eslint/eslint-plugin</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/angular-eslint/angular-eslint.git
      </td>
    </tr>
    <tr>
      <td class="string">@angular-eslint/eslint-plugin-template</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/angular-eslint/angular-eslint.git
      </td>
    </tr>
    <tr>
      <td class="string">@angular-eslint/template-parser</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/angular-eslint/angular-eslint.git
      </td>
    </tr>
    <tr>
      <td class="string">@angular/cli</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular-cli.git</td>
    </tr>
    <tr>
      <td class="string">@angular/compiler</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/compiler-cli</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@angular/language-service</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/angular/angular.git</td>
    </tr>
    <tr>
      <td class="string">@capacitor/cli</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/ionic-team/capacitor.git</td>
    </tr>
    <tr>
      <td class="string">@ionic/angular-toolkit</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/ionic-team/angular-toolkit.git
      </td>
    </tr>
    <tr>
      <td class="string">@types/jasmine</td>
      <td class="string">MIT</td>
      <td class="string">
        https://github.com/DefinitelyTyped/DefinitelyTyped.git
      </td>
    </tr>
    <tr>
      <td class="string">@types/jasminewd2</td>
      <td class="string">MIT</td>
      <td class="string">
        https://github.com/DefinitelyTyped/DefinitelyTyped.git
      </td>
    </tr>
    <tr>
      <td class="string">@types/node</td>
      <td class="string">MIT</td>
      <td class="string">
        https://github.com/DefinitelyTyped/DefinitelyTyped.git
      </td>
    </tr>
    <tr>
      <td class="string">@typescript-eslint/eslint-plugin</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/typescript-eslint/typescript-eslint.git
      </td>
    </tr>
    <tr>
      <td class="string">@typescript-eslint/parser</td>
      <td class="string">BSD-2-Clause</td>
      <td class="string">
        git+https://github.com/typescript-eslint/typescript-eslint.git
      </td>
    </tr>
    <tr>
      <td class="string">eslint</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/eslint/eslint.git</td>
    </tr>
    <tr>
      <td class="string">eslint-plugin-import</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/import-js/eslint-plugin-import.git
      </td>
    </tr>
    <tr>
      <td class="string">eslint-plugin-jsdoc</td>
      <td class="string">BSD-3-Clause</td>
      <td class="string">
        git+https://github.com/gajus/eslint-plugin-jsdoc.git
      </td>
    </tr>
    <tr>
      <td class="string">eslint-plugin-prefer-arrow</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/TristonJ/eslint-plugin-prefer-arrow.git
      </td>
    </tr>
    <tr>
      <td class="string">jasmine-core</td>
      <td class="string">MIT</td>
      <td class="string">git+https://github.com/jasmine/jasmine.git</td>
    </tr>
    <tr>
      <td class="string">jasmine-spec-reporter</td>
      <td class="string">Apache-2.0</td>
      <td class="string">
        git+https://github.com/bcaudan/jasmine-spec-reporter.git
      </td>
    </tr>
    <tr>
      <td class="string">karma</td>
      <td class="string">MIT</td>
      <td class="string">git://github.com/karma-runner/karma.git</td>
    </tr>
    <tr>
      <td class="string">karma-chrome-launcher</td>
      <td class="string">MIT</td>
      <td class="string">
        git://github.com/karma-runner/karma-chrome-launcher.git
      </td>
    </tr>
    <tr>
      <td class="string">karma-coverage</td>
      <td class="string">MIT</td>
      <td class="string">git://github.com/karma-runner/karma-coverage.git</td>
    </tr>
    <tr>
      <td class="string">karma-coverage-istanbul-reporter</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/mattlewis92/karma-coverage-istanbul-reporter.git
      </td>
    </tr>
    <tr>
      <td class="string">karma-jasmine</td>
      <td class="string">MIT</td>
      <td class="string">git://github.com/karma-runner/karma-jasmine.git</td>
    </tr>
    <tr>
      <td class="string">karma-jasmine-html-reporter</td>
      <td class="string">MIT</td>
      <td class="string">
        git+https://github.com/dfederm/karma-jasmine-html-reporter.git
      </td>
    </tr>
    <tr>
      <td class="string">protractor</td>
      <td class="string">MIT</td>
      <td class="string">git://github.com/angular/protractor.git</td>
    </tr>
    <tr>
      <td class="string">ts-node</td>
      <td class="string">MIT</td>
      <td class="string">git://github.com/TypeStrong/ts-node.git</td>
    </tr>
    <tr>
      <td class="string">typescript</td>
      <td class="string">Apache-2.0</td>
      <td class="string">https://github.com/Microsoft/TypeScript.git</td>
    </tr>
  </tbody>
</table>
