<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes"></ion-back-button>
    </ion-buttons>
    <ion-title>Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-max-width margin-horizontal-auto">
    <ion-card>
      <ion-item href="https://cacic.dev.br/legal/privacy-policy" button>
        <ion-label> Política de privacidade </ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="licencas" button>
        <ion-label> Licenças </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
