<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%">
    <ion-row>
      <ion-col class="ion-text-center">
        <span style="font-size: 3em; font-weight: bold">Olá</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p style="margin-bottom: 10px">
          Se você possui vínculo com a Unesp, utilize o seu e&#8209;mail&nbsp;institucional
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <app-google-button></app-google-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p style="font-size: 0.75em" class="ion-padding-horizontal">
          Ao continuar, você estará concordando com a nossa
          <a href="https://cacic-fct.web.app/privacidade" target="_blank">Política de Privacidade</a>.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
