<ion-header>
  <ion-toolbar>
    <ion-title>Emissão de certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>SECOMPP22</h1>
  <form [formGroup]="dataForm">
    <ion-list>
      <ion-item>
        <ion-label>Emitir para todos</ion-label>
        <ion-checkbox slot="end" formControlName="issueToEveryone"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Nome do certificado a ser gerado</ion-label>
        <ion-input formControlName="certificateName" (ionChange)="formatCertificateID()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>ID do certificado</ion-label>
        <ion-input tabindex="-1" color="medium" formControlName="certificateID" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Modelo do certificado</ion-label>
        <ion-select interface="popover" formControlName="certificateTemplate">
          <ng-container *ngFor="let certificateTemplate of certificateTemplates | keyvalue">
            <ion-select-option [value]="certificateTemplate.key">
              {{ certificateTemplate.value.displayName }}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Data de emissão</ion-label>
        <ion-datetime-button datetime="issuingDate"></ion-datetime-button>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de participação</ion-label>
        <ion-select interface="popover" formControlName="participationType">
          <ng-container *ngFor="let participationType of participationTypes | keyvalue">
            <ion-select-option *ngIf="!(participationType.key === 'custom')" [value]="participationType.key">
              {{ participationType.value }}
            </ion-select-option>
          </ng-container>
          <ion-select-option value="custom"> Personalizado </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="dataForm.get('participationType').value === 'custom'">
        <ion-label>Tipo de participação personalizado</ion-label>
        <ion-input placeholder="Escreva aqui"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de evento</ion-label>
        <ion-select interface="popover" formControlName="eventType">
          <ng-container *ngFor="let eventType of eventTypes | keyvalue">
            <ion-select-option *ngIf="!(eventType.key === 'custom')" [value]="eventType.key">
              {{ eventType.value }}
            </ion-select-option>
          </ng-container>
          <ion-select-option value="custom"> Personalizado </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="dataForm.get('eventType').value === 'custom'">
        <ion-label>Tipo de evento personalizado</ion-label>
        <ion-input placeholder="Escreva aqui"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Conteúdo</ion-label>
        <ion-select interface="popover" formControlName="contentType">
          <ng-container *ngFor="let contentType of contentTypes | keyvalue">
            <ion-select-option *ngIf="!(contentType.key === 'custom')" [value]="contentType.key">
              {{ contentType.value }}
            </ion-select-option>
          </ng-container>
          <ion-select-option value="custom"> Personalizado </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="dataForm.get('contentType').value === 'custom'">
        <ion-label>Conteúdo personalizado</ion-label>
        <ion-textarea placeholder="Escreva aqui"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="issuingDate" presentation="date-time" showDefaultButtons="true" formControlName="issuingDate">
          <span slot="title">Selecione a data de emissão</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </form>

  <ion-button (click)="previewCertificate()">Preview</ion-button>
</ion-content>
