<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sobre"></ion-back-button>
    </ion-buttons>
    <ion-title>Política de privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-justify">
    <p>
      A Pol&iacute;tica de Privacidade On-Line do site do
      <strong>FCT App</strong> (https://cacic-fct.web.app) foi criada para respeitar a LGPD (
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm" target="_blank" rel="noopener">
        Lei Geral de Prote&ccedil;&atilde;o de Dados
      </a>
      ) e afirmar o nosso compromisso com a seguran&ccedil;a e a privacidade das informa&ccedil;&otilde;es coletadas dos
      visitantes de nosso site. Esta pol&iacute;tica est&aacute; sujeita a eventuais atualiza&ccedil;&otilde;es e
      recomendamos que ela seja consultada periodicamente. Voc&ecirc; pode visitar nosso site sem precisar fornecer
      nenhuma informa&ccedil;&atilde;o pessoal. Mas, caso isso aconte&ccedil;a, esta pol&iacute;tica procura esclarecer
      como coletamos e tratamos seus dados pessoais.
    </p>
    <p><br /><br /></p>
    <h2>Como tratamos os dados</h2>
    <ol>
      <li>
        Qualquer informa&ccedil;&atilde;o fornecida pelos usu&aacute;rios ser&aacute; coletada e guardada de acordo com
        os padr&otilde;es atuais de seguran&ccedil;a e confiabilidade.
      </li>
      <li>
        Utilizamos em nosso site o protocolo padr&atilde;o HTTPS que garante que todas as informa&ccedil;&otilde;es
        coletadas dos usu&aacute;rios trafeguem de forma segura, utilizando processo de criptografia padr&atilde;o da
        Internet.
      </li>
      <li>
        As informa&ccedil;&otilde;es pessoais que nos forem fornecidas ser&atilde;o coletadas por meios legais. Essa
        coleta ter&aacute; o prop&oacute;sito de comunica&ccedil;&atilde;o comercial para que possamos vender nossos
        servi&ccedil;os, produtos, prestar suporte a atendimento sobre eles. Eventualmente, estes dados podem ser
        utilizados para fins acad&ecirc;micos, t&eacute;cnicos ou de pesquisa.
      </li>
      <li>
        A menos que tenhamos determina&ccedil;&atilde;o legal, judicial ou acad&ecirc;mica, as informa&ccedil;&otilde;es
        dos usu&aacute;rios jamais ser&atilde;o fornecidas a terceiros ou usadas para finalidades diferentes daquelas
        para as quais foram coletadas.
      </li>
      <li>
        O acesso &agrave;s informa&ccedil;&otilde;es coletadas est&aacute; restrito apenas aos gestores do
        <strong>CACiC</strong> e manteremos a integridade das informa&ccedil;&otilde;es que nos forem fornecidas.
      </li>
      <li>
        Eventualmente, poderemos utilizar cookies para confirmar sua identidade, personalizar seu acesso e acompanhar a
        utiliza&ccedil;&atilde;o de nosso website visando o aprimoramento de sua navega&ccedil;&atilde;o e
        funcionalidade.
      </li>
      <li>
        Colocamos canais de atendimento &agrave; disposi&ccedil;&atilde;o de nossos usu&aacute;rios, para esclarecer
        qualquer d&uacute;vida que possa surgir referente aos seus dados. Estes canais podem ser acionados
        atrav&eacute;s do e-mail <a href="mailto:cacic.fct@gmail.com">cacic.fct&#64;gmail.com</a>.
      </li>
    </ol>
    <p><br /><br /></p>
    <h2>Como coletamos os dados</h2>
    <ul>
      <li>
        Atrav&eacute;s dos rastreadores e cookies dos servi&ccedil;os de marketing e SEO da <strong>Google</strong>.
        Estas ferramentas coletam dados an&ocirc;nimos como a sua localiza&ccedil;&atilde;o, seu IP, rastreia a
        navega&ccedil;&atilde;o e analisa o seu comportamento em nosso site a fim de nos fornecer relat&oacute;rios
        sobre os servi&ccedil;os e produtos que voc&ecirc; procurou e qual a origem da sua visita; pesquisa do Google,
        acesso direto ou link existente em outro site, o <strong>CACiC</strong> respeita a
        <a href="https://policies.google.com/privacy?hl=pt-BR" target="_blank" rel="noopener">
          pol&iacute;tica de privacidade da Google
        </a>
        .
      </li>
      <li>
        <strong>Google Forms.</strong> Eventualmente podemos coletar dados referente aos nossos servi&ccedil;os e
        realizar pesquisas atrav&eacute;s do servi&ccedil;o de coleta de dados por formul&aacute;rios do Google Forms.
        Durante a coleta dos dados poder&aacute; ser&aacute; solicitado nome completo, telefone, e-mail e
        informa&ccedil;&otilde;es triviais.
      </li>
    </ul>
    <p>
      <br />
      <br />
    </p>
    <h2>Consentimento de cookies</h2>
    <p>
      Para que os recursos de coleta de dados em nosso site funcionem adequadamente &eacute; necess&aacute;rio o uso de
      cookies (pequenos arquivos de texto que podem definir prefer&ecirc;ncias).
    </p>
    <p>
      <br />
      <br />
    </p>
    <h2>Seus direitos</h2>
    <p>Voc&ecirc; tem os seguintes direitos:</p>
    <ul>
      <li>
        O direito de bloquear qualquer tipo de rastreador e cookie gerado em nosso site de modo a n&atilde;o
        compartilhar nenhum tipo de informa&ccedil;&atilde;o sobre a sua conex&atilde;o e acesso.
      </li>
      <li>
        O direito de nos pedir para atualizar qualquer informa&ccedil;&atilde;o pessoal incorreta de que temos sobre
        voc&ecirc;.
      </li>
      <li>O direito de optar por sair de quaisquer meios de comunica&ccedil;&atilde;o comercial e de marketing.</li>
      <li>
        O direito de pedir a remo&ccedil;&atilde;o de qualquer dado pessoal que tenhamos armazenado sobre voc&ecirc;.
      </li>
    </ul>
    <p>
      Reservamos o prazo de 5 dias &uacute;teis para lhe responder sobre qualquer contato referente aos seus dados
      pessoais, podendo este prazo ser estendido em per&iacute;odo de festas, feriados prolongados, recesso e
      f&eacute;rias coletivas.
    </p>
    <p style="text-align: right">
      <br /><em> Esta pol&iacute;tica de privacidade foi atualizada em 18/03/2024<em> </em></em>
    </p>
  </div>
</ion-content>
