<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
    <ion-title>Filtro</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="uncheckAll()">Limpar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Cursos</ion-list-header>
    @for (course of courses | keyvalue: originalOrder; track course) {
    <ion-item>
      <ion-label>{{ course.value.name }}</ion-label>
      <ion-checkbox
        slot="start"
        class="course"
        [id]="course.key"
        (click)="checkBoxClickCourse(course.key)"></ion-checkbox>
    </ion-item>
    }
  </ion-list>
</ion-content>
