<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="margin-horizontal-auto content-max-width ion-padding">
    <app-event-header [eventItem]="event" [displayWeather]="false"></app-event-header>
    <app-event-description [eventItem]="event"></app-event-description>
  </div>
</ion-content>
