<ion-list>
  <ion-item>
    <ion-label>
      <ion-icon class="icon-big" aria-hidden="true" name="person-circle-outline"></ion-icon>
      <h1>Dados vinculados a você</h1>
      <p>Os seguintes dados podem ser coletados e vínculados à sua identidade:</p>
    </ion-label>
  </ion-item>
  <h4 class="ion-padding-horizontal">Funcionalidade do app</h4>
  <ion-item>
    <ion-icon aria-hidden="true" name="information-circle-outline" slot="start"></ion-icon>
    <ion-label>
      Informações de contato
      <br />
      <ion-note> Nome </ion-note>
      <br />
      <ion-note> Endereço de e-mail </ion-note>
      <br />
      <ion-note> Número do celular </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="bag-outline" slot="start"></ion-icon>
    <ion-label>
      Compras
      <br />
      <ion-note> Histórico de compras </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="card-outline" slot="start"></ion-icon>
    <ion-label>
      Informações financeiras
      <br />
      <ion-note> Dados de pagamento </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="id-card-outline" slot="start"></ion-icon>
    <ion-label>
      Identificadores
      <br />
      <ion-note> ID de usuário </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="image-outline" slot="start"></ion-icon>
    <ion-label>
      Conteúdo do usuário
      <br />
      <ion-note> E-mails ou mensagens de texto </ion-note>
      <br />
      <ion-note> Fotos ou vídeos </ion-note>
      <br />
      <ion-note> Suporte ao usuário </ion-note>
    </ion-label>
  </ion-item>

  <h4 class="ion-padding-horizontal">Personalização do aplicativo</h4>
  <ion-item>
    <ion-icon aria-hidden="true" name="information-circle-outline" slot="start"></ion-icon>
    <ion-label>
      Informações de contato
      <br />
      <ion-note> Endereço de e-mail </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="school-outline" slot="start"></ion-icon>
    <ion-label>
      Informações acadêmicas
      <br />
      <ion-note> Número do Registro Acadêmico (RA) </ion-note>
      <br />
      <ion-note> Vínculo com a Unesp </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="card-outline" slot="start"></ion-icon>
    <ion-label>
      Informações financeiras
      <br />
      <ion-note> Dados de pagamento </ion-note>
    </ion-label>
  </ion-item>

  <h4 class="ion-padding-horizontal">Análise</h4>
  <ion-item>
    <ion-icon aria-hidden="true" name="information-circle-outline" slot="start"></ion-icon>
    <ion-label>
      Informações de contato
      <br />
      <ion-note> Endereço de e-mail </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="school-outline" slot="start"></ion-icon>
    <ion-label>
      Informações acadêmicas
      <br />
      <ion-note> Número do Registro Acadêmico (RA) </ion-note>
      <br />
      <ion-note> Vínculo com a Unesp </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="analytics-outline" slot="start"></ion-icon>
    <ion-label>
      Informações de uso
      <br />
      <ion-note> Interações com o aplicativo </ion-note>
      <br />
      <ion-note> Outros dados de uso </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="settings-outline" slot="start"></ion-icon>
    <ion-label>
      Diagnóstico
      <br />
      <ion-note> Dados de falhas </ion-note>
      <br />
      <ion-note> Dados de desempenho </ion-note>
      <br />
      <ion-note> Outros dados de diagnóstico </ion-note>
    </ion-label>
  </ion-item>
</ion-list>
