<ion-header>
  <ion-toolbar>
    <ion-title>Comprovantes de: {{ eventName$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="subscriptions$ | async as subscriptions; else: loading">
    <h4 *ngIf="subscriptions.length == 0">Não há nenhuma aprovação pendente.</h4>
    <ng-container *ngFor="let subscription of subscriptions">
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >{{ subscription.userDisplayName$ | async }} - {{ subscription.payment.price |
            currency:'BRL':'symbol':'1.2-2' }}</ion-card-title
          >
          <ion-card-subtitle>
            Se inscreveu em: {{ getDateFromTimestamp(subscription.time) | date:'dd/MM/yy - HH:mm' }}
            <br>
            Última alteração na inscrição: {{ getDateFromTimestamp(subscription.payment.time) | date:'dd/MM/yy - HH:mm' }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngIf="subscription.subEventsInfo.length != 0">
            <ng-container *ngFor="let subEventInfo$ of subscription.subEventsInfo">
              <ng-container *ngIf="subEventInfo$ | async as subEventInfo; else: loading">
                <p>{{ subEventInfo.name }}: {{ subEventInfo.availableSlots }} vagas disponíveis.</p>
              </ng-container>
            </ng-container>
          </ng-container>
          <div class="img-container">
            <img [src]="imgURL(subscription.id) | getDownloadURL" />
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-fab *ngIf="subscriptions.length > 0" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="success">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button color="danger">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>
</ion-content>

<ng-template #loading>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>
