<ion-header>
  <ion-toolbar>
    <ion-title>Comprovantes de: {{ eventName$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="subscriptions$ | async as subscriptions; else: loading">
    <h4 *ngIf="subscriptions.length == 0">Não há nenhuma aprovação pendente.</h4>
    <ng-container *ngFor="let subscription of subscriptions">
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >{{ subscription.userDisplayName$ | async }} - {{ subscription.payment.price |
            currency:'BRL':'symbol':'1.2-2' }}</ion-card-title
          >
          <ion-card-subtitle>
            {{ getDateFromTimestamp(subscription.payment.time) | date:'dd/MM/yy - HH:mm' }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img [src]="imgURL(subscription.id) | getDownloadURL" />
          <br />
          <ng-container *ngIf="subscription.subEventsInfo.length != 0">
            <ng-container *ngFor="let subEventInfo$ of subscription.subEventsInfo">
              <ng-container *ngIf="subEventInfo$ | async as subEventInfo; else: loading">
                {{ subEventInfo.name }}: {{ subEventInfo.availableSlots }} vagas disponíveis.
              </ng-container>
            </ng-container>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ng-template #loading>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>
