<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Comissões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-max-width margin-horizontal-auto">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Comissões</ion-title>
      </ion-toolbar>
    </ion-header>

    @for (committee of committeesService.committees; track committee) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{committee.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{committee.description}}</p>
        @if (!committee.startDate && !committee.endDate) {
        <p>Período: desconhecido</p>
        } @else {
        <p>
          Período: {{ committee.startDate | date: 'dd/MM/yyyy' }} - {{ (committee.endDate | date: 'dd/MM/yyyy') ||
          'desconhecido' }}
        </p>
        }
        <ion-button fill="clear" (click)="openModal(committee)">Saber mais</ion-button>
      </ion-card-content>
    </ion-card>
    }
  </div>
</ion-content>
