:host zxing-scanner::ng-deep video {
  max-height: 400px;
  width: 100vw;
  object-fit: contain;
}

ion-backdrop {
  opacity: 0;
  visibility: hidden;
  transition:
    background-color 1s,
    opacity 1s,
    visibility 1s;
}

.success {
  background-color: #00ff00;
}

.duplicate {
  background-color: #ffff00;
}

.invalid {
  background-color: #ff0000;
}

.not-paid {
  background-color: #c600c6;
}

.backdropvisible {
  opacity: 0.5;
  visibility: visible;
}

.list-container {
  max-width: 1600px;
  display: block;
  overflow-y: scroll;
}
