:host zxing-scanner::ng-deep video {
  max-height: 400px;
  width: 100vw;
  object-fit: contain;
}

ion-backdrop {
  opacity: 0;
  visibility: hidden;
  transition:
    background-color 1s,
    opacity 1s,
    visibility 1s;
}

.success {
  background-color: #00ff00;
}

.duplicate {
  background-color: #ffff00;
}

.invalid {
  background-color: #ff0000;
}

.not-paid {
  background-color: #c600c6;
}

.backdropvisible {
  opacity: 0.5;
  visibility: visible;
}

.list-container {
  max-width: 1600px;
  display: block;
  overflow-y: scroll;
}

.twemoji {
  width: 64px;
  height: 64px;
  display: block;
  padding: 10px;
}

.event-container {
  display: flex;
  align-items: center;
}

.event-image {
  margin-right: 1rem;
}

.event-details {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .event-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-image {
    margin-right: 0;
    margin-bottom: 8px; /* Add margin at the bottom for spacing */
  }
}
